Django==4.1.5
psycopg2==2.9.5
gunicorn==20.1.0
django-storages==1.13.1
boto3==1.26.33
pillow==10.4.0
django-quill-editor==0.1.42
django-flatpickr==2.0.3

# #
# Django==5.1.1

# # PostgreSQL adapter for Python
# psycopg2==2.9.5

# # Python WSGI HTTP Server for UNIX
# gunicorn==23.0.0

# # Collection of custom storage backends for Django - used for AWS S3
# django-storages==1.14.4

# # Python API for AWS infrastructure services
# boto3==1.35.54

# # Python image processing library
# pillow==10.4.0

# # Rich Text Editor package
# django-quill-editor==0.1.42

# # Graphical date/time entry package
# django-flatpickr==2.0.3