<!-- /app/plants/templates/plants/column_chooser_modal.html -->

  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:300px">
    <div class="w3-container w3-border-top w3-padding-8 w3-light-grey">
      <h3>Column Chooser</h3>
    </div>
    <!-- Upon 'submit' return to the 'column_chooser' view to save selection into the db -->
    <form class="w3-container" action="{% url 'plants:column_chooser' %}" method="post">
      {% csrf_token %}
      <div class="w3-section">
        {{ form.as_p }}
        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Confirm</button>
      </div>
    </form>
    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
      <!-- Cancel signup - the page reload clears the modal and keeps the page from hanging -->
      <button onclick="document.getElementById('column_chooser_modal').style.display='none'"
              type="button" class="w3-button w3-red">Cancel</button>
    </div>
  </div>