<!-- /app/plants/templates/plants/column_chooser_modal.html -->

  <div class="bnd-modal-content-300">
    <header class="bnd-modal-header">
      <h3>Column Chooser</h3>
    </header>
    <!-- Upon 'submit' return to the 'column_chooser' view to save selection into the db -->
    <form action="{% url 'plants:column_chooser' %}" method="post">
      {% csrf_token %}
      <div class="bnd-container">
        {{ form.as_p }}
      </div>
      <footer class="bnd-modal-footer">
        <button type="submit" class="bnd-button-submit">Confirm</button>
        <!-- Cancel signup - the page reload clears the modal and keeps the page from hanging -->
        <button type="button"
                onclick="document.getElementById('column_chooser_modal').style.display='none'"
                class="bnd-button-cancel">
          Cancel
        </button>
      </footer>
    </form>
  </div>