<!-- /app/plants/templates/plants/debug.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Gateway Gardens | Debug</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-bar bnd-green">
    <h3 class="">Debug</h3>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- Debug -->
  <div class="bnd-container bnd-content-main-100">
    <h4>Current user permissions:</h4>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}