<!-- /app/plants/templates/plants/plants_about.html -->
{% extends "plants/master.html" %}
{% load static %}

{% block title %}
  <title>Fiddle</title>
{% endblock title %}

{% block css %}
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-banner-logo-container">
    <img src="{% static 'plants/img/logo.png' %}"  alt="No logo found" class="bnd-banner-logo">
  </div>
  
  <div class="bnd-banner-title-container">
    <h1>Fiddle</h1>
  </div>
{% endblock header-completion %}

{% block content %}

{% endblock content %}

{% block js %}
<!-- Insert template javascri[t] here -->
{% endblock js %}