<!-- app/plants/templates/plants_add.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Fiddle</title>
{% endblock title %}

{% block css %}
{% endblock css %}

{% block header-completion %}
    <!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">Fiddle</h1>
    </div>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- Main content-->
  <div class="w3-container" style="margin-top:150px;">
    
  </div>
{% endblock content %}

{% block js %}
{% endblock js %}