<!-- /app/plants/templates/plants/plants_about.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Fiddle | Weekly Calendar</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container  bnd-green">
      <h3>
        Fiddle
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
<div class="bnd-container bnd-content-main">
    <h3>Fiddle</h3>
</div>
{% endblock content %}

{% block js %}
<!-- Insert template javascri[t] here -->
{% endblock js %}