<!-- app/plants/templates/gardens_update.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>My Garden | Update</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container  bnd-green">
      <h3 class="bnd-bar-item">
        Update {{ garden.name }}
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
<!-- Garden update form -->
  <div class="bnd-container" style="margin-top:100px;">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="bnd-button bnd-green bnd-round-medium">Submit</button>
      <button type="reset"  class="bnd-button bnd-grey  bnd-round-medium">Reset</button>
      <a href="{% url 'plants:gardens_summary' %}">
        <button type="button" class="bnd-button bnd-red bnd-round-medium">
          Cancel
        </button>
      </a>
    </form>
    <hr>

    <div class="w3-row">
      <div class="bnd-container bnd-quarter">
        {% if garden.image_1 %}
          <img src="{{ garden.image_1.url }}" alt="No garden image found" style="width:100%">
          <p class="bnd-center">{{ garden.caption_1 }}</p>
        {% endif %}
      </div>
      <div class="bnd-container bnd-quarter">
        {% if garden.image_2 %}
          <img src="{{ garden.image_2.url }}" alt="No garden image found" style="width:100%">
          <p class="bnd-center">{{ garden.caption_2 }}</p>
        {% endif %}
      </div>
      <div class="bnd-container bnd-quarter">
        {% if garden.image_3 %}
          <img src="{{ garden.image_3.url }}" alt="No garden image found" style="width:100%">
          <p class="bnd-center">{{ garden.caption_3 }}</p>
        {% endif %}
      </div>
      <div class="bnd-container bnd-quarter">
        {% if garden.image_4 %}
          <img src="{{ garden.image_4.url }}" alt="No garden image found" style="width:100%">
          <p class="bnd-center">{{ garden.caption_4 }}</p>
        {% endif %}
      </div>
    </div>

    <div class="w3-row">
      <div class="bnd-container bnd-quarter">
        {% if garden.image_5 %}
          <img src="{{ garden.image_5.url }}" alt="No garden image found" style="width:100%">
          <p class="bnd-center">{{ garden.caption_5 }}</p>
        {% endif %}
      </div>
      <div class="bnd-container bnd-quarter">
        {% if garden.image_6 %}
          <img src="{{ garden.image_6.url }}" alt="No garden image found" style="width:100%">
          <p class="bnd-center">{{ garden.caption_6 }}</p>
        {% endif %}
      </div>
      <div class="bnd-container bnd-quarter">
        {% if garden.image_7 %}
          <img src="{{ garden.image_7.url }}" alt="No garden image found" style="width:100%">
          <p class="bnd-center">{{ garden.caption_7 }}</p>
        {% endif %}
      </div>
      <div class="bnd-container bnd-quarter">
        {% if garden.image_8 %}
          <img src="{{ garden.image_8.url }}" alt="No garden image found" style="width:100%">
          <p class="bnd-center">{{ garden.caption_8 }}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}