<!-- app/plants/templates/gardens_update.html -->
{% extends "plants/master.html" %}
{% load static %}

{% block title %}
  <title>My Garden | Update</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <h2>
    <img src="{% static 'plants/img/logo.png' %}" alt="No logo found" class="bnd-logo">
    Update {{ garden.name }}
  </h2>
{% endblock header-completion %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bnd-button-submit">Submit</button>
    <button type="reset"  class="bnd-button bnd-grey  bnd-round-medium">Reset</button>
    <a href="{% url 'plants:gardens_summary' %}">
      <button type="button" class="bnd-button-cancel">Cancel</button>
    </a>
  </form>
  <hr>

  <div class="bnd-flex-container">
    {% if garden.image_1 %}
    <figure class="bnd-flex-item">
      <img src="{{ garden.image_1.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
      <figcaption>{{ garden.caption_1 }}</figcaption>
    </figure>
    {% endif %}
    {% if garden.image_2 %}
    <figure class="bnd-flex-item">
      <img src="{{ garden.image_2.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
      <figcaption>{{ garden.caption_2 }}</figcaption> 
    </figure>
    {% endif %}
    {% if garden.image_3 %}
    <figure class="bnd-flex-item">
      <img src="{{ garden.image_3.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
      <figcaption>{{ garden.caption_3 }}</figcaption>
    </figure>
    {% endif %}
    {% if garden.image_4 %}
    <figure class="bnd-flex-item">
      <img src="{{ garden.image_4.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
      <figcaption>{{ garden.caption_4 }}</figcaption>
    </figure>
    {% endif %}
    {% if garden.image_5 %}
      <figure class="bnd-flex-item">
        <img src="{{ garden.image_5.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
        <figcaption>{{ garden.caption_5 }}</figcaption>
      </figure>
    {% endif %}
    {% if garden.image_6 %}
      <figure class="bnd-flex-item">
        <img src="{{ garden.image_6.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
        <figcaption>{{ garden.caption_6 }}</figcaption>
      </figure>
    {% endif %}
    {% if garden.image_7 %}
      <figure class="bnd-flex-item">
        <img src="{{ garden.image_7.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
        <figcaption>{{ garden.caption_7 }}</figcaption>
      </figure>
    {% endif %}
    {% if garden.image_8 %}
      <figure class="bnd-flex-item">
        <img src="{{ garden.image_8.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
        <figcaption>{{ garden.caption_8 }}</figcaption>
      </figure>
    {% endif %}
  </div>
  <!-------------------------------------------------------------------------->
  <!-- Modals                                                               -->
  <!-------------------------------------------------------------------------->
  <div id="image_modal" class="bnd-modal" onclick="imageModalClose(this)">
    <div class="bnd-modal-image-container">
      <img id="image" class="bnd-modal-image">
    </div>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}