<!-- /app/plants/templates/plants/gardens_summary.html -->
{% extends "plants/master.html" %}

{% block title %}Garden Summary{% endblock %}

{% block content %}

<!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">Garden Summary</h1>
    </div>
  </div>
</header>

<!-- Garden Summary -->
<body>
  <div class="w3-container" style="margin-top:140px;">
    <h2>Under Construction</h1>
  </div>
</body>

<!-- Footer -->
<footer class="w3-container w3-green">
  <p>Footer</p>
</footer>

{% endblock %}