<!-- /plants/templates/gardens_add.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>My Garden | Add</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container  bnd-green">
      <h3 class="bnd-bar-item">
        Add My Garden
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
<!-- Garden add form -->
  <div class="bnd-content-main-100">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="bnd-button-submit">Submit</button>
      <button type="reset"  class="bnd-button bnd-grey  bnd-round-medium">Reset</button>
      <a href="{% url 'plants:index' %}">
        <button type="button" class="bnd-button-cancel">Cancel</button>
      </a>
    </form>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}