<!-- app/plants/templates/gardens_plan.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Garden | Plan</title>
{% endblock title %}

{% block css %}
  <style>
    canvas {
      border: 2px solid black;
    }
  </style>
{% endblock css %}

{% block header-completion %}
    <!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">My Garden Plan</h1>
    </div>
  </div>
{% endblock header-completion %}

{% block content %}
  <div class="w3-container" style="margin-top:140px;">
    <!-- Canvas tools-->
    <form>
      Action: 
      <select id="id_action">
        <option value="select">select</option>
        <option value="draw">draw</option>
        <option value="pan" >pan </option>
        <option value="zoom">zoom </option>
      </select>

      Shape: 
      <select id="id_shape">
        <option value="rectangle">rectangle</option>
        <option value="circle"   >circle   </option>
        <option value="polygon"  >polygon  </option>
      </select>

      Fill Color: 
      <input  type="color"  id="id_fill_color" value="#ff0000"/>

      <button type="button" id="id_save" class="w3-button w3-gray  w3-round">Save</button>
      <button type="button" id="id_clear" class="w3-button w3-gray  w3-round">Clear</button>
      <br>

    <!-- Canvas -->
    <canvas id="myCanvas">
      Your browser does not support HTML 5 Canvas
    </canvas>
  </div>
{% endblock content %}

{% block js %}
<script>

    // Wait until the window has been fully loaded
    window.onload = canvasApp;

    function canvasApp()
    {
        // setup the canvas
        const canvas = document.getElementById("myCanvas");
        const ctx = canvas.getContext("2d");
        canvas.height = 500; // px
        canvas.width  = 800; // px

        // setup variables
        let startX,   startY;    // starting coordinates for drawing
        let selectX,  selectY;   // mouse selection coordinates
        let transX,   transY;    // translated mouse selection coordinates
        let centerX,  centerY;   // center of selected object
        let currentX, currentY;  // 
        let mouseX,   mouseY;    // current mouse position
        let deltaX,   deltaY;    // change in mouse position
        let zIndex;              // current maximum z-index
        let angleInRadians = 0;  // rotation angle
        let theta = 0;           // rotation angle
        // Action flags
        let createShape = false;
        let selectShape = false;
        let resizeShape = false; 
        let rotateShape = false;
        let moveShape   = false;
        
        // setup objects
        // Get the previously stored shapes and draw on the canvas
        const shapes_JSON = JSON.parse( "{{ shapes_JSON|escapejs }}" );
        let shapes = shapes_JSON;
        let activeShape   = null;
        let handles       = [];
        let activeHandle  = null;
        let currentHandle = null;

        drawAllShapes();

        // setup the garden planner action
        let action = "select";
        let target = "";
        formElement = document.getElementById("id_action");
	    formElement.addEventListener("change", actionChanged, false);        
        function actionChanged(e)
        {
            target = e.target;
            action = target.value;
            // console.log("DEBUG: action =", action);
        }

        // Setup the shape to be drawn
        let shapeOption = "rectangle";
        formElement = document.getElementById("id_shape");
	    formElement.addEventListener("change",  shapeChanged, false);
        function shapeChanged(e)
        {
            target = e.target;
            shapeOption = target.value;
            // console.log("DEBUG: shapeOption =", shapeOption);
        }

        // Setup the shape fill color
        let fillColor = "#ff0000";
        formElement = document.getElementById("id_fill_color");
        formElement.addEventListener('change', fillColorChanged, false);
        function fillColorChanged(e)
        {
            target = e.target;
            fillColor = target.value;
            // console.log("DEBUG: fillColor =", fillColor);
        }

        // mouse click events
        canvas.addEventListener("click", (e) => 
        {
            if (action == "select")
            {
                // this will disable the mousedown, mousemove, & mouseup events
                createShape = false;
                // clear any existing handles
                handles = [];
                // Capture the canvas selection point
                selectX = e.clientX - canvas.offsetLeft;
                selectY = e.clientY - canvas.offsetTop;
                //
                let saveSelectX = selectX;
                let saveSelectY = selectY;
                // Go through each shape to see if it has been selected
                for (let i = 0; i < shapes.length; i++) 
                {
                    console.log("DEBUG: Checking shapes[i]", shapes[i]);
                    //
                    selectX = saveSelectX;
                    selectY = saveSelectY;

                    if (shapes[i].type == 'rectangle')
                    {
                        // translte mouse click coordinates if shape is rotated
                        //   𝛼+(𝑥−𝛼)cos𝜃−(𝑦−𝛽)sin𝜃
                        //   𝛽+(𝑥−𝛼)sin𝜃+(𝑦−𝛽)cos𝜃
                        if(shapes[i].rotation != 0)
                        {
                            console.log("DEBUG: translating selection point for rotated shape");
                            // console.log("DEBUG: translation mouse coordinates for", shapes[i]);
                            centerX = shapes[i].x + shapes[i].width  / 2;
                            centerY = shapes[i].y + shapes[i].height / 2;
                            theta   = shapes[i].rotation * -1;

                            transX = Math.trunc(centerX + (selectX - centerX) * Math.cos(theta) - (selectY - centerY) * Math.sin(theta))
                            transY = Math.trunc(centerY + (selectX - centerX) * Math.sin(theta) + (selectY - centerY) * Math.cos(theta))
                            
                            // console.log("DEBUG: *******************");
                            // console.log("DEBUG: shape X, Y =", shapes[i].x, shapes[i].y);
                            // console.log("DEBUG: shape width =", shapes[i].width);
                            // console.log("DEBUG: shape height =", shapes[i].height);
                            // console.log("DEBUG: shape rotation =", shapes[i].rotation);
                            // console.log("DEBUG: centerX, centerY =", centerX, centerY);
                            // console.log("DEBUG: selectX, selectY =", selectX, selectY);
                            // console.log("DEBUG: theta =", theta);
                            // console.log("DEBUG: transX,  transY  =", transX,  transY );
                            // console.log("DEBUG: *******************");
                            selectX = transX;
                            selectY = transY;
                        }

                        if (selectX >= shapes[i].x &&
                            selectX <= shapes[i].x + shapes[i].width && 
                            selectY >= shapes[i].y &&
                            selectY <= shapes[i].y + shapes[i].height)
                        {
                            console.log("DEBUG: Shape selected");
                            // Place resize handles on object
                            // top left handle
                            currentHandle = placeHandle("top-left",
                                                        shapes[i].x,
                                                        shapes[i].y,
                                                        shapes[i].rotation,
                                                        i);
                            handles.push(currentHandle);
                            
                            // top middle handle
                            currentHandle = placeHandle("top-middle",
                                                        shapes[i].x + shapes[i].width/2,
                                                        shapes[i].y,
                                                        shapes[i].rotation,
                                                        i);
                            handles.push(currentHandle);

                            // top right handle
                            currentHandle = placeHandle("top-right",
                                                        shapes[i].x + shapes[i].width, 
                                                        shapes[i].y,
                                                        shapes[i].rotation,
                                                        i);
                            handles.push(currentHandle);

                            // right middle handle
                            currentHandle = placeHandle("right-middle",
                                                        shapes[i].x + shapes[i].width, 
                                                        shapes[i].y + shapes[i].height/2,
                                                        shapes[i].rotation,
                                                        i);
                            handles.push(currentHandle);

                            // bottom right handle
                            currentHandle = placeHandle("bottom-right",
                                                        shapes[i].x + shapes[i].width, 
                                                        shapes[i].y + shapes[i].height,
                                                        shapes[i].rotation,
                                                        i);
                            handles.push(currentHandle);

                            // bottom middle handle
                            currentHandle = placeHandle("bottom-middle",
                                                       shapes[i].x + shapes[i].width/2,
                                                       shapes[i].y + shapes[i].height,
                                                       shapes[i].rotation,
                                                       i);
                            handles.push(currentHandle);
                        
                            // bottom left handle
                            currentHandle = placeHandle("bottom-left",
                                                       shapes[i].x,                   
                                                       shapes[i].y + shapes[i].height,
                                                       shapes[i].rotation,
                                                       i);
                            handles.push(currentHandle);

                            // left middle handle
                            currentHandle = placeHandle("left-middle",
                                                        shapes[i].x,
                                                        shapes[i].y + shapes[i].height/2,
                                                        shapes[i].rotation,
                                                        i);
                            handles.push(currentHandle);

                            // Place rotate handle on object
                            currentHandle = placeHandle("rotate",
                                                        shapes[i].x + shapes[i].width / 2,
                                                        shapes[i].y - 30,
                                                        shapes[i].rotation,
                                                        i);
                            handles.push(currentHandle);

                            console.log("DEBUG: ====================");
                            console.log("DEBUG: Shape origin x =", shapes[i].x);
                            console.log("DEBUG: handles[0] x =", handles[0].x);
                            console.log("DEBUG: ====================");
                            // alert("DEBUG: pause");

                            // Indicate that the modify shape mode is enabled for the selected shape
                            selectShape = true;
                            activeShape = shapes[i];
                        }
                    }
                    if (shapes[i].type == "circle")
                    {
                        // find the distace of the cursor position from the circle center
                        // and compare to the radius
                        distance = Math.sqrt(Math.pow((selectX - shapes[i].x), 2) + Math.pow((selectY - shapes[i].y), 2))
                        if (distance <= shapes[i].radius)
                        {
                            // Place resize handles on object
                            currentHandle = placeHandle("top",
                                                        shapes[i].x + shapes[i].radius, 
                                                        shapes[i].y,
                                                        0,
                                                        i);
                            handles.push(currentHandle);

                            currentHandle = placeHandle("right",
                                                        shapes[i].x, 
                                                        shapes[i].y + shapes[i].radius,
                                                        0,
                                                        i);
                            handles.push(currentHandle);

                            currentHandle = placeHandle("bottom",
                                                        shapes[i].x - shapes[i].radius, 
                                                        shapes[i].y,
                                                        0,
                                                        i);
                            handles.push(currentHandle);

                            currentHandle = placeHandle("left",
                                                        shapes[i].x, 
                                                        shapes[i].y - shapes[i].radius,
                                                        0,
                                                        i);
                            handles.push(currentHandle);

                            for(let i = 0; i < handles.length; i++)
                            {
                                // console.log("DEBUG: handles[i]:", handles[i]);
                            }

                            // Indicate that the modify shape mode is enabled for the selected shape
                            selectShape = true;
                            activeShape = shapes[i];
                        }
                    }
                    
                    drawAllShapes();
                }
            }
        });

        // mouse down events - dependent on selected action and shape
        canvas.addEventListener("mousedown", (e) => 
        {
            // Draw a new shape
            if (action == "draw")
            {
                if (shapeOption == "rectangle")
                {
                    console.log("DEBUG: Got to rectangle - mouse down");
                    createShape = true;
                    startX = e.clientX - canvas.offsetLeft;
                    startY = e.clientY - canvas.offsetTop;
                    activeShape = 
                    { 
                        type       : "rectangle", 
                        x          : startX, 
                        y          : startY,
                        width      : 0,
                        height     : 0,
                        color      : "#ffffff",
                        rotation   : 0
                    };
                }
                else if (shapeOption == "circle")
                {
                    // console.log("DEBUG: Got to circle - mouse down");
                    createShape = true;
                    startX = e.clientX - canvas.offsetLeft;
                    startY = e.clientY - canvas.offsetTop;
                    activeShape = 
                    { 
                        type       : "circle", 
                        x          : startX, 
                        y          : startY, 
                        radius     : 0,
                        startAngle : 0, 
                        endAngle   : 2 * Math.PI,
                        direction  : "clockwise",
                        color      : "#ffffff"
                    };
                }
                else if (shapeOption == "polygon")
                {
                    // console.log("DEBUG: Got to polygon - mouse down");
                    createShape = true;
                }
            }
            
            // Modify an existing shape
            else if (action == 'select' && selectShape)
            {
                // Determine how much the mouse has moved from the initial mousedown location
                //   e.clientX = horizontal coordinate at which a mouse event occurred, 
                //               relative to the viewport's left edge
                //   e.clientY = verticle coordinate at which a mouse event occurred, 
                //               relative to the viewport's top edge
                //
                //   canvas.offsetLeft = canvas's left offset
                //   canvas.offsetTop  = canvas's top offset
                //
                //   selectX = the x-coordinate of the click relative to the canvas
                //   selectY = the y-coordinate of the click relative to the canvas
                selectX = e.clientX - canvas.offsetLeft;
                selectY = e.clientY - canvas.offsetTop;
                activeHandle = null;
                // console.log("DEBUG: Start shape resizing!");
                // console.log("DEBUG: activeShape =", activeShape);
                if (activeShape.type = "rectangle")
                {
                    // check to see if a handle has been selected
                    // console.log("DEBUG: check to see which handle has been selected");
                    // AR: change for to while
                    for(let i = 0; i < handles.length; i++)
                    {
                        // console.log("DEBUG: checking handle:", i);
                        let distance = Math.sqrt(Math.pow((selectX - handles[i].x), 2) + Math.pow((selectY - handles[i].y), 2))
                        if (distance <= handles[i].radius)
                        {
                            // AR: Change if to switch
                            if (handles[i].location == "top-left")
                            {
                                activeHandle = handles[i];
                                resizeShape = true;
                            }
                            else if (handles[i].location == "top-middle")
                            {
                                activeHandle = handles[i];
                                resizeShape = true;
                            }
                            else if (handles[i].location == "top-right")
                            {
                                activeHandle = handles[i];
                                resizeShape = true;
                            }
                            else if (handles[i].location == "right-middle")
                            {
                                activeHandle = handles[i];
                                resizeShape = true;
                            }
                            else if (handles[i].location == "bottom-right")
                            {
                                activeHandle = handles[i];
                                resizeShape = true;
                            }
                            else if (handles[i].location == "bottom-middle")
                            {
                                activeHandle = handles[i];
                                resizeShape = true;
                            }
                            else if (handles[i].location == "bottom-left")
                            {
                                activeHandle = handles[i];
                                resizeShape = true;
                            }
                            else if (handles[i].location == "left-middle")
                            {
                                activeHandle = handles[i];
                                resizeShape = true;
                            }
                            else if(handles[i].location == "rotate")
                            {
                                activeHandle = handles[i];
                                rotateShape = true;
                                console.log("DEBUG: rotateShape =", rotateShape)
                            }
                            // console.log("DEBUG: shape selected:", activeShape);
                            // console.log("DEBUG: handle selected:", activeHandle.location);
                            currentX = activeHandle.x;
                            currentY = activeHandle.y;
                        }
                    }
                    if (!activeHandle)
                    {
                        // console.log("DEBUG: No active handle was selected");
                        // Since no handle of the active shape was selected check to see if the
                        // body of the active shape was selected
                        if (selectX >= activeShape.x &&
                            selectX <= activeShape.x + activeShape.width && 
                            selectY >= activeShape.y &&
                            selectY <= activeShape.y + activeShape.height)
                        {
                            // console.log("DEBUG: Body of active shape was selected");
                            moveShape   = true;
                            currentX = selectX;
                            currentY = selectY;
                        }
                    }
                }
            }
        });

        // mouse move events - dependent on selected action and shape
        canvas.addEventListener("mousemove", (e) => 
        {
            // get current mouse location
            mouseX = e.clientX - canvas.offsetLeft;
            mouseY = e.clientY - canvas.offsetTop;
            // determine how much mouse has moved
            // initial currentX & currentX were set via mousedown event
            deltaX = mouseX - currentX;
            deltaY = mouseY - currentY;
            
            // console.log("DEBUG: move - createShape", createShape);
            // console.log("DEBUG: move - resizeShape", resizeShape);
            // console.log("DEBUG: move - rotateShape", rotateShape);
            // console.log("DEBUG: move - moveShape",   moveShape);

            if (!createShape && !resizeShape && !rotateShape && !moveShape)
            {
                return;
            } 
            // Draw the active shape
            else if (action == "draw")
            {
                if (shapeOption == "rectangle")
                {
                    console.log("DEBUG: Got to rectangle - mouse move");
                    activeShape.width  = mouseX - startX;
                    activeShape.height = mouseY - startY;
                }
                else if (shapeOption == "circle")
                {
                    activeShape.radius = Math.sqrt(Math.pow(mouseX - startX, 2) + Math.pow(mouseY - startY, 2));
                }
                else if (shapeOption == "polygon")
                {
                    console.log("DEBUG: Got to polygon - mouse move");
                }

                // Set the fill color
                activeShape.color = fillColor;

                // Draw all previously created/saved shapes
                drawAllShapes();
                // Draw shape current being drawn
                drawShape(activeShape);
            }
            
            // Modify the selected shape
            else if (action == 'select' && resizeShape && activeShape.type == "rectangle")
            {
                if (activeHandle.location == "top-left")
                {
                    activeShape.x      += deltaX;
                    activeShape.width  -= deltaX;
                    activeShape.y      += deltaY;
                    activeShape.height -= deltaY;

                    handles[5].x   += deltaX / 2;
                    handles[6].x   += deltaX;
                    handles[7].x   += deltaX;
                    handles[7].y   += deltaY / 2;
                    activeHandle.x += deltaX;
                    activeHandle.y += deltaY;
                    handles[1].x   += deltaX / 2;
                    handles[1].y   += deltaY;
                    handles[2].y   += deltaY;
                    handles[3].y   += deltaY / 2;

                    handles[8].x   += deltaX / 2;
                    handles[8].y   += deltaY;
                }
                else if (activeHandle.location == "top-middle")
                {
                    activeShape.y      += deltaY;
                    activeShape.height -= deltaY;

                    handles[7].y   += deltaY / 2;
                    handles[0].y   += deltaY;
                    activeHandle.y += deltaY;
                    handles[2].y   += deltaY;
                    handles[3].y   += deltaY / 2;

                    handles[8].y   += deltaY;
                }
                else if (activeHandle.location == "top-right")
                {
                    activeShape.width  += deltaX;
                    activeShape.y      += deltaY;
                    activeShape.height -= deltaY;

                    handles[7].y   += deltaY / 2;
                    handles[0].y   += deltaY;
                    handles[1].x   += deltaX / 2;
                    handles[1].y   += deltaY;
                    activeHandle.x += deltaX;
                    activeHandle.y += deltaY;
                    handles[3].x   += deltaX;
                    handles[3].y   += deltaY / 2;
                    handles[4].x   += deltaX;
                    handles[5].x   += deltaX / 2;

                    handles[8].x   += deltaX / 2;
                    handles[8].y   += deltaY;
                }
                else if (activeHandle.location == "right-middle")
                {                 
                    activeShape.width += deltaX;

                    handles[1].x   += deltaX / 2;
                    handles[2].x   += deltaX;
                    activeHandle.x += deltaX;
                    handles[4].x   += deltaX;
                    handles[5].x   += deltaX / 2;

                    handles[8].x   += deltaX / 2;
                }
                else if (activeHandle.location == "bottom-right")
                {
                    activeShape.width  += deltaX;
                    activeShape.height += deltaY;

                    handles[1].x   += deltaX / 2;
                    handles[2].x   += deltaX;
                    handles[3].x   += deltaX;
                    handles[3].y   += deltaY / 2;
                    activeHandle.x += deltaX;
                    activeHandle.y += deltaY;
                    handles[5].x   += deltaX / 2;
                    handles[5].y   += deltaY;
                    handles[6].y   += deltaY;
                    handles[7].y   += deltaY / 2;

                    handles[8].x   += deltaX / 2;
                }
                else if (activeHandle.location == "bottom-middle")
                {
                    activeShape.height += deltaY;

                    handles[3].y   += deltaY / 2;
                    handles[4].y   += deltaY;
                    activeHandle.y += deltaY;
                    handles[6].y   += deltaY;
                    handles[7].y   += deltaY / 2;
                }
                else if (activeHandle.location == "bottom-left")
                {
                    activeShape.x      += deltaX;
                    activeShape.width  -= deltaX;
                    activeShape.height += deltaY;

                    handles[3].y   += deltaY / 2;
                    handles[4].y   += deltaY;
                    handles[5].x   += deltaX / 2;
                    handles[5].y   += deltaY;
                    activeHandle.x += deltaX;
                    activeHandle.y += deltaY;
                    handles[7].x   += deltaX;
                    handles[7].y   += deltaY / 2;
                    handles[0].x   += deltaX;
                    handles[1].x   += deltaX / 2;

                    handles[8].x   += deltaX / 2;
                }
                else if (activeHandle.location == "left-middle")
                {
                    activeShape.x      += deltaX;
                    activeShape.width  -= deltaX;

                    handles[5].x       += deltaX / 2;
                    handles[6].x       += deltaX;
                    activeHandle.x     += deltaX;
                    handles[0].x       += deltaX;
                    handles[1].x       += deltaX / 2;

                    handles[8].x       += deltaX / 2;
                }
                else
                {
                    console.log("DEBUG: Got to mouse move else");
                }
                // Draw all created/saved shapes
                drawAllShapes();
            }
            
            // Rotate the selected shape
            else if (action == 'select' && rotateShape && activeShape.type == "rectangle")
            {
                // console.log("DEBUG: Got to rotate shape - mousemove");

                // Determine the amount to rotate the shape based on the mouse movement
                // console.log("DEBUG: *** deltaX =", deltaX);
                // console.log("DEBUG: *** deltaY =", deltaY);
                angleInRadians += (deltaX + deltaY) * 0.01;
                // angleInRadians = Math.atan2(mouseY - centerY, mouseX - centerX);
                // angleInRadians = 45 * (Math.PI / 180);

                activeShape.rotation = angleInRadians;

                // Set the rotatation angle for all handles associated with the shape
                for(let i = 0; i < handles.length; i++)
                {
                    handles[i].rotation = angleInRadians;
                }

                drawAllShapes();
            }
            
            // Move the selected shape
            else if (action == 'select' && moveShape)
            {
                // console.log("DEBUG: Got to move shape code");
                activeShape.x  += deltaX;
                activeShape.y  += deltaY;

                for(let i = 0; i < handles.length; i++)
                {
                    handles[i].x += deltaX;
                    handles[i].y += deltaY;
                }
                // Draw all created/saved shapes
                drawAllShapes();
            }
            // capture the current mouse location
            currentX = mouseX;
            currentY = mouseY;
        });

        // mouse up events - dependent on selected action and shape
        canvas.addEventListener("mouseup", (e) => 
        {
            // console.log("DEBUG: Got mouse up code");
            if (action == "draw")
            {
                if (shapeOption == "rectangle")
                {
                    // Check for width > 0 and height > 0
                    if (activeShape.width > 0 && activeShape.height> 0)
                    {
                         shapes.push(activeShape);
                    }
                }
                else if (shapeOption == "circle")
                {
                    shapes.push(activeShape);
                }
                else if (shapeOption == "polygon")
                {
                    // console.log("DEBUG: Got to polygon - mouse up");
                }
            }
            // reset the current shape and flags
            // activeShape = null;
            createShape = false;
            resizeShape = false;
            rotateShape = false;
            moveShape   = false;
        });

        // Draw shape
        function drawShape(shape) 
        {
            // console.log("DEBUG: shape.type =", shape.type);
            if (shape.type === "rectangle") 
            {
                // ctx.strokeRect(shape.x, shape.y, shape.width, shape.height);
                ctx.fillStyle = shape.color;
                // console.log("DEBUG: shape.rotation =", shape.rotation);
                if(shape.rotation == 0)
                {
                    console.log
                    ctx.fillRect(shape.x, shape.y, shape.width, shape.height);
                }
                else
                {
                    // console.log("DEBUG: Got to draw rotated shape");
                    // console.log("DEBUG: activeShape =", activeShape);
                    // find center of shape
                    centerX = shape.x + shape.width  / 2;
                    centerY = shape.y + shape.height / 2;
                                    
                    // ctx.setTransform(1, 0, 0, 1, 0, 0);

                    //
                    ctx.save();
                    // Translate to rectangle center
                    ctx.translate(centerX, centerY);
                    // Rotate
                    ctx.rotate(shape.rotation);
                    // Translate back
                    ctx.translate(-centerX, -centerY);
                    // Draw the rectangle
                    ctx.fillRect(shape.x, shape.y, shape.width, shape.height);
                    //
                    ctx.restore();
                }
            }
            else if (shape.type === "circle") 
            {
                ctx.beginPath();
                ctx.arc(shape.x, shape.y, shape.radius, shape.startAngle, shape.endAngle, shape.direction);
                ctx.fillStyle = shape.color;
                ctx.fill();
                ctx.stroke();
            }
            else if (shape.type === "handle") 
            {
                // AR: needs to be associated with shape to find point for rotation
                // find center of associated shape to determine the point of rotation
                centerX = shapes[shape.shape_id].x + shapes[shape.shape_id].width  / 2;
                centerY = shapes[shape.shape_id].y + shapes[shape.shape_id].height / 2;
                //
                ctx.save();
                // Translate to rectangle center
                ctx.translate(centerX, centerY);
                // Rotate
                ctx.rotate(shape.rotation);
                // Translate back
                ctx.translate(-centerX, -centerY);
                // Draw the handle
                ctx.beginPath();
                ctx.arc(shape.x, shape.y, shape.radius, shape.startAngle, shape.endAngle, shape.direction);
                ctx.fillStyle = shape.color;
                ctx.fill();
                ctx.stroke();
                //
                ctx.restore();

                // console.log("DEBUG: handle x =", shape.x);
                // alert("DEBUG: pause");
            }
        }

        // Place handle
        function placeHandle(location, x, y, rotation, shape_id)
        {
            handle = 
            { 
                type       : "handle", 
                x          : x, 
                y          : y, 
                radius     : 5,
                startAngle : 0, 
                endAngle   : 2 * Math.PI,
                direction  : "clockwise",
                color      : "#000000",
                location   : location,
                rotation   : rotation,
                shape_id   : shape_id
            };
            return(handle);       
        }
        
        // Draw all shapes stored in shape arrays
        function drawAllShapes() 
        {
            // clear the canvas
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            //
            for (let i = 0; i < shapes.length; i++) 
            {
                drawShape(shapes[i]);
                console.log("DEBUG: drawAllShapes shape origin x =", shapes[i].x);
            }
            //
            for (let i = 0; i < handles.length; i++) 
            {
                // console.log("DEBUG: draw shape:", handles[i]);
                drawShape(handles[i]);

                if (i == 0)
                {
                    console.log("DEBUG: drawAllShapes handle center x =", handles[i].x);
                }
                
            }
        }

        // function to save the canvas to db
        save = document.getElementById("id_save");
        save.onclick = async (event) => 
        {
            console.log("DEBUG: starting drawing save to server process");
            // AR: Is this necessary?
            event.preventDefault();
            // Acquire the CSRF token
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            //  Converts the JavaScript object to a JSON string
            let shapes_JSON = JSON.stringify(shapes);
            console.log("DEBUG: shapes_JSON:", shapes_JSON);
            // Send the drawing objects back to the Django view
            const postURL = window.location.pathname;
            console.log("DEBUG: postURL=", postURL);
            // Sends the HTTP request
            fetch(postURL, 
            {
               // Specifies the request method
                method: "POST",
                headers: 
                {
                    // Tells the server that the request body is in JSON format
                    'Content-Type': 'application/json',
                    //  Provides CSRF protection, necessary for Django forms
                    'X-CSRFToken' : csrfToken
                },
                // JSON payload
                body: shapes_JSON
            })
            .then(response => response.json())
            .then(result => console.log('POST was a success: ${result}'))
            .catch(error => console.error('An error occurred: ${error}'))
            //
            // let returnURL = "{% url 'plants:gardens_plan' %}";
            // window.location.href = returnURL;
        };

        // function to clear the canvas of all shapes
        clear = document.getElementById("id_clear");
        clear.onclick = async (event) => 
        {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            shapes.length = 0;
        };
    }

    //-----------------------------------------------------//
    // Code for drawing freeform lines on canvas via mouse //
    //-----------------------------------------------------//
    // function canvasApp()
    // {
    //     // Flag to track if the user is drawing
    //     let createShape = false; 
    //     // Store the last mouse position
    //     let lastX, lastY; 

    //     canvas.addEventListener('mousedown', startDrawing);
    //     canvas.addEventListener('mousemove', draw);
    //     canvas.addEventListener('mouseup', stopDrawing);
    //     // Stop drawing if mouse leaves the canvas
    //     canvas.addEventListener('mouseout', stopDrawing); 

    //     function startDrawing(event) {
    //         createShape = true;
    //         lastX = event.offsetX;
    //         lastY = event.offsetY;
    //         ctx.beginPath(); // Start a new path
    //         ctx.moveTo(lastX, lastY); // Move to the starting point
    //     }

    //     function draw(event) {
    //         if (!createShape) return; // Don't draw if not drawing
    //         ctx.lineTo(event.offsetX, event.offsetY); // Draw a line to the current position
    //         ctx.stroke(); // Stroke the line
    //         lastX = event.offsetX;
    //         lastY = event.offsetY;
    //     }

    //     function stopDrawing(event) {
    //         createShape = false;
    //     }
    // }

    //----------------------------------//
    // Code for panning and zooming     //
    //----------------------------------//
    // function canvasApp()
    // {
    //   const canvas = document.getElementById("canvas");
	  //   const ctx = canvas.getContext("2d"); 

    //   // keep track of our panning and zooming.
    //   const viewportTransform = { 
    //     x: 0, 
    //     y: 0, 
    //     scale: 1
    //   }

    //   // function to draw rectangles
    //   const drawRect = (x, y, width, height, color) => {
    //     ctx.strokeStyle = 'black';
    //     ctx.strokeRect(x, y, width, height);
    //     ctx.fillStyle = color;
    //     ctx.fillRect(x, y, width, height);
    //   }

    //   // Draw the landscape design
    //   const render = () => {
    //     //
    //     ctx.setTransform(1, 0, 0, 1, 0, 0);
    //     ctx.clearRect(0, 0, canvas.width, canvas.height);
    //     ctx.setTransform(viewportTransform.scale, 0, 0, viewportTransform.scale, viewportTransform.x, viewportTransform.y);
    //     // Draw garden border
    //     drawRect(0, 0, 3000, 1600, 'white' );
    //     // Draw non-garden areas
    //     //          x     y    w    h
    //     drawRect(1100,  500, 800, 800, 'grey' ); // house
    //     drawRect( 600,  500, 500, 600, 'grey' ); // garage
    //     drawRect( 600, 1100, 400, 500, 'grey' ); // driveway
    //     drawRect(2200,  100, 600, 300, 'blue' ); // pickleball court
    //     drawRect(2000,  500, 500, 700, 'red'  ); // pool decking
    //     drawRect(2050,  550, 400, 600, 'blue' ); // pool
    //     // Greenhouse
    //     // Garden shed
    //     // Playhouse
    //     // Bungalow

    //     // Draw garden areas
    //     drawRect(  80,  900, 480, 650, 'green'); // se lawn
    //     // Draw trees
    //     // Draw raised planter bed 1
    //   }

    //   // We need to keep track of our previous mouse position for later
    //   let previousX = 0, previousY = 0;

    //   const updatePanning = (e) => {
    //     const localX = e.clientX;
    //     const localY = e.clientY;

    //     viewportTransform.x += localX - previousX;
    //     viewportTransform.y += localY - previousY;

    //     previousX = localX;
    //     previousY = localY;
    //   }

    //   const updateZooming = (e) => {
    //     const oldScale = viewportTransform.scale;
    //     const oldX = viewportTransform.x;
    //     const oldY = viewportTransform.y;

    //     const localX = e.clientX;
    //     const localY = e.clientY;

    //     const previousScale = viewportTransform.scale;

    //     const newScale = viewportTransform.scale += e.deltaY * -0.01;

    //     const newX = localX - (localX - oldX) * (newScale / previousScale);
    //     const newY = localY - (localY - oldY) * (newScale / previousScale);

    //     viewportTransform.x = newX;
    //     viewportTransform.y = newY;
    //     viewportTransform.scale = newScale;
    //   }

    //   const onMouseMove = (e) => {
    //     updatePanning(e)
    //     render()
    //     console.log(e)
    //   }

    //   const onMouseWheel = (e) => {
    //     updateZooming(e)
    //     render()
    //     console.log(e)
    //   }

    //   canvas.addEventListener("mousedown", (e) => {
    //     previousX = e.clientX;
    //     previousY = e.clientY;

    //     canvas.addEventListener("mousemove", onMouseMove);
    //   })

    //   canvas.addEventListener("mouseup", (e) => {
    //     canvas.removeEventListener("mousemove", onMouseMove);
    //   }) 

    //   canvas.addEventListener("wheel", onMouseWheel);

    //   // initial canvas rendering
    //   render();
    // }

</script>
{% endblock js %}