 <!-- /app/plants/templates/plants/gardens_summary.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>My Garden | Summary</title>
{% endblock title %}

{% block css %}
  <!-- Insert template css here -->
  <style>
    .mySlides {display:none}
    .bnd-left, .bnd-right {cursor:pointer}
    .header {
      position: fixed;
      top: 0;
      width: 100%;
      color: white;
      text-align: left;
    }
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
    }
  </style>
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container  bnd-green">
      <h3 class="bnd-bar-item">
        My Garden: {{ garden.name }}
        <span class="bnd-dropdown-hover bnd-right">
          <button class="bnd-button bnd-green" style="z-index:21">
            <i class="material-icons">
              menu
            </i>
          </button>
            <div class="bnd-dropdown-content bnd-bar-block bnd-card-4" style="right:0; font-size: 16px">
              <a href="{% url 'plants:gardens_update' garden.id %}" class="bnd-bar-item bnd-button">Update</a> 
            </div>
        </span>
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
<!-- main content -->
  <div class="bnd-container" style="margin-top:100px; margin-bottom:32px;">
    <h3>My Garden Photos:</h3>
    <!-- Check to see it there are any images to display -->
    {% if not garden.image_1 and not garden.image_2 and not garden.image_3 and not garden.image_4 and not garden.image_5 and not garden.image_6 and not garden.image_7 and not garden.image_8 %}
      <h3>
        No garden photos to display
        <br>
        Please select 'Menu -> Update' to add photos of your garden
        <br>
      </h3>
    {% else %}
      <!-- Load images for display -->
      <div class="bnd-content bnd-display-container" style="max-width:900px">
        <!-- Load the images -->
        {% if garden.image_1 %}
          <div class="mySlides">
            <img src="{{ garden.image_1.url }}" alt="No garden image found" style="width:100%">
            <div class="bnd-container bnd-display-topmiddle bnd-white bnd-round-xlarge" 
                 style="border:4px solid green">
              <h2 style="font-family: chalkboard, verdana, sans-serif;">{{ garden.caption_1 }}</h2>
            </div>
          </div>
        {% endif %}
        {% if garden.image_2 %}
          <div class="mySlides">
            <img src="{{ garden.image_2.url }}" alt="No garden image found" style="width:100%">
            <div class="bnd-container bnd-display-topmiddle bnd-white bnd-round-xlarge" 
                 style="border:4px solid green">
              <h2 style="font-family: chalkboard, verdana, sans-serif;">{{ garden.caption_2 }}</h2>
            </div>
          </div>
        {% endif %}
        {% if garden.image_3 %}
          <div class="mySlides">
            <img src="{{ garden.image_3.url }}" alt="No garden image found" style="width:100%">
            <div class="bnd-container bnd-display-topmiddle bnd-white bnd-round-xlarge" 
                 style="border:4px solid green">
              <h2 style="font-family: chalkboard, verdana, sans-serif;">{{ garden.caption_3 }}</h2>
            </div>
          </div>
        {% endif %}
        {% if garden.image_4 %}
          <div class="mySlides">
            <img src="{{ garden.image_4.url }}" alt="No garden image found" style="width:100%">
            <div class="bnd-container bnd-display-topmiddle bnd-white bnd-round-xlarge" 
                 style="border:4px solid green">
              <h2 style="font-family: chalkboard, verdana, sans-serif;">{{ garden.caption_4 }}</h2>
            </div>
          </div>
        {% endif %}
        {% if garden.image_5 %}
          <div class="mySlides">
            <img src="{{ garden.image_5.url }}" alt="No garden image found" style="width:100%">
            <div class="bnd-container bnd-display-topmiddle bnd-white bnd-round-xlarge" 
                 style="border:4px solid green">
              <h2 style="font-family: chalkboard, verdana, sans-serif;">{{ garden.caption_5 }}</h2>
            </div>
          </div>
        {% endif %}
        {% if garden.image_6 %}
          <div class="mySlides">
            <img src="{{ garden.image_6.url }}" alt="No garden image found" style="width:100%">
            <div class="bnd-container bnd-display-topmiddle bnd-white bnd-round-xlarge" 
                 style="border:4px solid green">
              <h2 style="font-family: chalkboard, verdana, sans-serif;">{{ garden.caption_6 }}</h2>
            </div>
          </div>
        {% endif %}
        {% if garden.image_7 %}
          <div class="mySlides">
            <img src="{{ garden.image_7.url }}" alt="No garden image found" style="width:100%">
            <div class="bnd-container bnd-display-topmiddle bnd-white bnd-round-xlarge" 
                 style="border:4px solid green">
              <h2 style="font-family: chalkboard, verdana, sans-serif;">{{ garden.caption_7 }}</h2>
            </div>
          </div>
        {% endif %}
        {% if garden.image_8 %}
          <div class="mySlides">
            <img src="{{ garden.image_8.url }}" alt="No garden image found" style="width:100%">
            <div class="bnd-container bnd-display-topmiddle bnd-white bnd-round-xlarge" 
                 style="border:4px solid green">
              <h2 style="font-family: chalkboard, verdana, sans-serif;">{{ garden.caption_8 }}</h2>
            </div>
          </div>
        {% endif %}
        <!-- Slide show -->
        <div class="bnd-center bnd-container bnd-section bnd-large bnd-text-white bnd-display-bottommiddle" style="width:100%">
          <div  class="bnd-left  bnd-xxlarge bnd-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
          <div  class="bnd-right bnd-xxlarge bnd-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
          <span class="bnd-badge demo bnd-border bnd-transparent bnd-hover-white" onclick="currentDiv(1)"></span>
          <span class="bnd-badge demo bnd-border bnd-transparent bnd-hover-white" onclick="currentDiv(2)"></span>
          <span class="bnd-badge demo bnd-border bnd-transparent bnd-hover-white" onclick="currentDiv(3)"></span>
          <span class="bnd-badge demo bnd-border bnd-transparent bnd-hover-white" onclick="currentDiv(4)"></span>
          <span class="bnd-badge demo bnd-border bnd-transparent bnd-hover-white" onclick="currentDiv(5)"></span>
          <span class="bnd-badge demo bnd-border bnd-transparent bnd-hover-white" onclick="currentDiv(6)"></span>
          <span class="bnd-badge demo bnd-border bnd-transparent bnd-hover-white" onclick="currentDiv(7)"></span>
          <span class="bnd-badge demo bnd-border bnd-transparent bnd-hover-white" onclick="currentDiv(8)"></span>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content%}

{% block js %}
<!-- Insert template Javascript here -->
<script>
  // Slideshow Javascript code
  var slideIndex = 1;
  showDivs(slideIndex);
    
  function plusDivs(n) {
    showDivs(slideIndex += n);
  }
    
  function currentDiv(n) {
    showDivs(slideIndex = n);
  }
    
  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" bnd-white", "");
    }
    x[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " bnd-white";
  }
</script>
{% endblock js %}