 <!-- /app/plants/templates/plants/gardens_summary.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>My Garden | Summary</title>
{% endblock title %}

{% block css %}
  <!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container bnd-green">
      <h3 class="bnd-bar-item">
        My Garden: {{ garden.name }}
        <span class="bnd-dropdown-hover bnd-right bnd-green">
          <button class="bnd-button-small">
            <i class="material-icons">menu</i>
          </button>
            <div class="bnd-banner-menu bnd-bar-block bnd-dropdown-content">
              <a href="{% url 'plants:gardens_update' garden.id %}" class="bnd-bar-item bnd-button">Update</a> 
            </div>
        </span>
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
<!-- main content -->
  <div class="bnd-container bnd-content-main-100">
    <h3>My Garden Photos:</h3>
    <!-- Check to see it there are any images to display -->
    {% if not garden.image_1 and not garden.image_2 and not garden.image_3 and not garden.image_4 and not garden.image_5 and not garden.image_6 and not garden.image_7 and not garden.image_8 %}
      <h3>
        No garden photos to display
        <br>
        Please select 'Menu -> Update' to add photos of your garden
        <br>
      </h3>
    {% else %}
      <!-- Load images for display -->
      <div class="bnd-slideshow-content">
        <!-- Load the images -->
        {% if garden.image_1 %}
          <div class="mySlides">
            <img src="{{ garden.image_1.url }}" alt="No garden image found" class="bnd-image">
            <div class="bnd-image-caption">
              <h2>{{ garden.caption_1 }}</h2>
            </div>
          </div>
        {% endif %}
        {% if garden.image_2 %}
        <div class="mySlides">
          <img src="{{ garden.image_2.url }}" alt="No garden image found" class="bnd-image">
          <div class="bnd-image-caption">
            <h2>{{ garden.caption_3 }}</h2>
          </div>
        </div>
        {% endif %}
        {% if garden.image_3 %}
          <div class="mySlides">
            <img src="{{ garden.image_3.url }}" alt="No garden image found" class="bnd-image">
            <div class="bnd-image-caption">
              <h2>{{ garden.caption_3 }}</h2>
            </div>
          </div>
        {% endif %}
        {% if garden.image_4 %}
          <div class="mySlides">
            <img src="{{ garden.image_4.url }}" alt="No garden image found" class="bnd-image">
            <div class="bnd-image-caption">
              <h2>{{ garden.caption_4 }}</h2>
            </div>
          </div>
        {% endif %}
        {% if garden.image_5 %}
          <div class="mySlides">
            <img src="{{ garden.image_5.url }}" alt="No garden image found" class="bnd-image">
            <div class="bnd-image-caption">
              <h2>{{ garden.caption_5 }}</h2>
            </div>
          </div>
        {% endif %}
        {% if garden.image_6 %}
          <div class="mySlides">
            <img src="{{ garden.image_6.url }}" alt="No garden image found" class="bnd-image">
            <div class="bnd-image-caption">
              <h2>{{ garden.caption_6 }}</h2>
            </div>
          </div>
        {% endif %}
        {% if garden.image_7 %}
          <div class="mySlides">
            <img src="{{ garden.image_7.url }}" alt="No garden image found" class="bnd-image">
            <div class="bnd-image-caption">
              <h2>{{ garden.caption_7 }}</h2>
            </div>
          </div>
        {% endif %}
        {% if garden.image_8 %}
          <div class="mySlides">
            <img src="{{ garden.image_8.url }}" alt="No garden image found" class="bnd-image">
            <div class="bnd-image-caption">
              <h2>{{ garden.caption_8 }}</h2>
            </div>
          </div>
        {% endif %}
        <!-- Slide show -->
        <div class="bnd-slideshow-controls">
          <div  class="bnd-slideshow-arrow-left"  onclick="plusSlide(-1)">&#10094;</div>
          <div  class="bnd-slideshow-arrow-right" onclick="plusSlide( 1)">&#10095;</div>
          <span class="bnd-slideshow-icon" onclick="currentSlide(1)"></span>
          <span class="bnd-slideshow-icon" onclick="currentSlide(2)"></span>
          <span class="bnd-slideshow-icon" onclick="currentSlide(3)"></span>
          <span class="bnd-slideshow-icon" onclick="currentSlide(4)"></span>
          <span class="bnd-slideshow-icon" onclick="currentSlide(5)"></span>
          <span class="bnd-slideshow-icon" onclick="currentSlide(6)"></span>
          <span class="bnd-slideshow-icon" onclick="currentSlide(7)"></span>
          <span class="bnd-slideshow-icon" onclick="currentSlide(8)"></span>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content%}

{% block js %}
<!-- Insert template Javascript here -->
<script>
  // Slideshow Javascript code
  let slideIndex = 1;
  showSlide(slideIndex);
    
  function plusSlide(n) {
    showSlide(slideIndex += n);
  }
    
  function currentSlide(n) {
    showSlide(slideIndex = n);
  }
    
  function showSlide(n) {
    let i;
    let x = document.getElementsByClassName("mySlides");
    let icons = document.getElementsByClassName("bnd-slideshow-icon");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    for (i = 0; i < icons.length; i++) {
      icons[i].className = icons[i].className.replace(" bnd-white", "");
    }
    x[slideIndex-1].style.display = "block";  
    icons[slideIndex-1].className += " bnd-white";
  }
</script>
{% endblock js %}