<!-- /app/plants/templates/plants/index.html -->
{% extends "plants/master.html" %}

{% block title %}Gateway Garden Plants{% endblock %}

{% block content %}

<!-- complete the header from master.html -->
  <div class="w3-bar w3-green">
    <h1 class="w3-bar-item">Garden/Plant Web Site</h1>
  </div>
  </div>
</header>

<!-- Home/Index Page -->
<body>
  <div class="w3-container" style="margin-top:150px;">
    <p>Check out all our <a href="{% url 'plants:plants_search' %}">plants</a></p>
  </div>
</body>

<!-- Footer -->
<footer class="w3-container w3-green">
  <p>Footer</p>
</footer>

{% endblock %}