<!-- /plants/templates/master.html -->
<!-- PRODUCTION DEPLOYMENT: (D4B p. 318) - used to display static files in the templates -->
{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta description="Plant Database">
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" href="{% static 'plants/css/style.css' %}">

  {% block css %}
    <!-- Insert css from template here -->
  {% endblock css %}

  <!-- Added for Quill -->
  {{ form.media }}

  {% block title %}
    <!-- Insert template title here -->}
  {% endblock title %}

</head>

<body>
  <header>
    <!-- Navigation Bar -->
    <div class="bnd-top">
      <div class="bnd-bar bnd-light-grey">
        <a href="{% url 'plants:index' %}"            class="bnd-bar-item w3-button">Home</a>
        <a href="{% url 'plants:gardens_summary' %}"  class="bnd-bar-item w3-button">My Garden</a>
        <a href="{% url 'plants:myplants_summary' %}" class="bnd-bar-item w3-button">My Plants</a>
        <a href="{% url 'plants:myplants_todo' %}"    class="bnd-bar-item w3-button">My ToDo's</a>
        <a href="{% url 'plants:gardens_plan' %}"     class="bnd-bar-item w3-button">My Garden Plan</a>
        <a href="{% url 'plants:plants_summary' %}"   class="bnd-bar-item w3-button">All Plants</a>
        <a href="{% url 'plants:pest_summary' %}"     class="bnd-bar-item w3-button">Pests</a>
        <a href="{% url 'plants:plants_glossary' %}"  class="bnd-bar-item w3-button">Glossary</a>
        <a href="{% url 'plants:plants_reference' %}" class="bnd-bar-item w3-button">Reference</a>
        <a href="{% url 'plants:plants_about' %}"     class="bnd-bar-item w3-button">About</a>
        <!-- drop down account menu item -->
        <div class="bnd-dropdown-hover bnd-right">
          {% if user.is_authenticated %}
            <button class="w3-button">{{ user.username }}</button>
          {% else %}
            <button class="w3-button">Account</button>
          {% endif %}
          <div class="w3-dropdown-content w3-bar-block bnd-card-4 ">
            {% if user.is_authenticated %}
              <button id="update_button" class="bnd-bar-item w3-button">Update </button>
              <!-- AR -->
              <form action="{% url 'plants:user_logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Logout" class="bnd-bar-item w3-button">
              </form>
            {% else %}
              <!-- AR -->
              <button id="login_button"    class="bnd-bar-item w3-button">Login    </button>
              <button id="signup_button"   class="bnd-bar-item w3-button">Sign Up  </button>
              <button id="recovery_button" class="bnd-bar-item w3-button">Recovery </button>
            {% endif %}
          </div>
        </div>
      </div>
      {% block header-completion %}
      <!-- Header is completed on each page -->
      {% endblock header-completion %}
    </div>
  </header>

    <!-- User Sign Up modal - html to be inserted by Javascript -->
    <div id="signup_modal" class="bnd-modal">
      <p> Sign Up form HTML to be Inserted Here! </p>
    </div>
    <!-- User Login modal - html to be inserted by Javascript -->
    <div id="login_modal" class="bnd-modal">
      <p> Login form HTML to be Inserted Here! </p>
    </div>
    <!-- User Update modal - html to be inserted by Javascript -->
    <div id="update_modal" class="bnd-modal">
      <p> Update form HTML to be Inserted Here! </p>
    </div>
    <!-- User Recovery modal - html to be inserted by Javascript -->
    <div id="recovery_modal" class="bnd-modal">
      <p> Recovery form HTML to be Inserted Here! </p>
    </div>
  
    {% block content %}
      <!-- Insert template HTML here -->
    {% endblock content %}

    <script src="{% static 'plants/js/common_functions.js' %}"></script>
    
    {% block js %}
      <!-- Insert template Javascript here -->
    {% endblock js %}

    {% if user.is_authenticated %}
      <!-- User Update Modal Script -->
      <script>
        // There is a <dialog></dialog> at top of HTML body
        const update_modal  = document.getElementById('update_modal')
        // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses.
        fetch("{% url 'plants:user_update' %}") 
          .then(response => response.text())
          .then(html => {update_modal.innerHTML = html;})
        // enable the model display upon clicking of the "signup" menu item
        update_button.addEventListener("click", (event) => { update_modal.style.display='block' })

        // Show update modal if there as an input error on the user update form
        function showUpdateModal() {
          update_modal.style.display='block';
        }
        {% if update_input_error == "yes" %}
          window.onload = showUpdateModal();
        {% endif %}
      </script>
    {% endif %}
  
    {% if not user.is_authenticated %}
      <script>
        // User Signup Modal Code
        // There is a <div></div> for the modal at top of HTML body
        const signup_modal  = document.getElementById('signup_modal')
        // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses.
        fetch("{% url 'plants:user_signup' %}") 
          .then(response => response.text())
          .then(html => {signup_modal.innerHTML = html;})
        // enable the model display upon clicking of the "signup" menu item
        signup_button.addEventListener("click", (event) => { signup_modal.style.display='block' })

        // User Login Modal Code
        // There is a <div></div> for the modal at top of HTML body
        const login_modal  = document.getElementById('login_modal')
        // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses.
        fetch("{% url 'plants:user_login' %}") 
          .then(response => response.text())
          .then(html => {login_modal.innerHTML = html;})
        // enable the model display upon clicking of the "login" menu item
        login_button.addEventListener("click", (event) => { login_modal.style.display='block' })

        // User Recovery Modal Code
        // The recovery button is in the "account" drop-down menu
        const recovery_button = document.getElementById("recovery_button")
        // There is a <div></div> for the modal at top of HTML body
        const recovery_modal  = document.getElementById('recovery_modal')
        // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses. 
        fetch("{% url 'plants:user_recovery' %}") 
          .then(response => response.text())
          .then(html => {recovery_modal.innerHTML = html;})
        // enable the model display upon clicking of the "recovery" menu item
        recovery_button.addEventListener("click", (event) => { recovery_modal.style.display='block' })

        // Switch from login modal to sign-up modal
        function login2SignUp() {
          login_modal.style.display='none';
          signup_modal.style.display='block';
        }
        {% if signup_input_error == "yes" %}
          window.onload = login2SignUp();
        {% endif %}
      </script>
    {% endif %}
  
    <!-- Footer -->
    <footer class="bnd-container bnd-green bnd-margin-top">
      <h4 class="w3-center">Footer - Under Construction</h4>
    </footer>

  </body>

</html>