<!-- /app/plants/templates/plants/my_column_chooser_modal.html -->

<div class="bnd-modal-content-300">
    <header class="bnd-modal-header">
      <h3>My Column Chooser</h3>
    </header>
    <!-- Upon 'submit' return to the 'my_column_chooser' view to save selection into the db -->
    <form action="{% url 'plants:my_column_chooser' %}" method="post">
      {% csrf_token %}
      <div class="bnd-container">
        {{ form.as_p }}
      </div>
      <div class="bnd-container bnd-border-top bnd-padding-large bnd-light-grey">
        <button type="submit" 
                class="bnd-button bnd-round-large bnd-green">
          Confirm
        </button>
        <!-- Cancel signup - the page reload clears the modal and keeps the page from hanging -->
        <button type="button"
                onclick="document.getElementById('my_column_chooser_modal').style.display='none'"
                class="bnd-button bnd-round-large bnd-red">
          Cancel
        </button>
      </div>
    </form>
  </div>