<!-- app/plants/templates/plants/myplant_comment.html -->
{% extends "plants/master.html" %}
{% load static %}

{% block title %}
  <title>My Plants | Add</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-banner-logo-container">
    <img src="{% static 'plants/img/logo.png' %}"  alt="No logo found" class="bnd-banner-logo">
  </div>

  <div class="bnd-banner-title-container">
    <h1>Comments related to: {{ myplant.plant.commonName }}</h1>
  </div>

  <div class="bnd-banner-scientific-name-container">
    <!-- <div class="bnd-banner-scientific-name-tooltip"> -->
      <span>
        ( 
        {{ plant.genus }} {{ plant.species }}
        {% if plant.variety != "tbd" and plant.variety != 'n/a' %}
          var. {{ plant.variety }} 
        {% elif plant.cultivar != "tbd" and plant.cultivar != 'n/a' %}
          {{ plant.cultivar}}'
        {% endif %}
        )
      </span>
      <!-- Tool Tip -->
      <!-- <span class="bnd-banner-scientific-name-tooltip-text">Scientific Name</span> -->
    <!-- </div> -->
  </div>

  <div class="bnd-banner-audio-container">
    {% if plant.audio_name %}
      <div class="bnd-audio-tooltip">
        <audio id="player-2" src="{{ plant.audio_name.url }}"></audio>
        <span onclick="document.getElementById('player-2').play()">
          <i class="material-icons bnd-play-audio">volume_up</i>
        </span>
        <!-- Tool Tip -->
        <span class="bnd-audio-tooltip-text">Pronounce</span>
      </div>
    {% endif %}
  </div>

{% endblock header-completion %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bnd-button-submit">Submit</button>
    <button type="reset"  class="bnd-button-reset" >Reset </button>
    <a href="{% url 'plants:myplant_details' myplant.id %}">
      <button type="button" class="bnd-button-cancel">Cancel</button>
    </a>
  </form>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}