<thead>
    <tr class="w3-light-grey">
      <!-- Plant Attributes -->
      <th style="cursor:pointer" onclick="sortTable( 0, '{{ table_name }}')">Common Name</th>
      <th style="cursor:pointer" onclick="sortTable( 1, '{{ table_name }}')">My Bloom Color</th>
      <!-- Months -->
      <th style="cursor:pointer" onclick="sortTable( 2, '{{ table_name }}')" class="w3-center">Jan</th>
      <th style="cursor:pointer" onclick="sortTable( 3, '{{ table_name }}')" class="w3-center">Feb</th>
      <th style="cursor:pointer" onclick="sortTable( 4, '{{ table_name }}')" class="w3-center">Mar</th>
      <th style="cursor:pointer" onclick="sortTable( 5, '{{ table_name }}')" class="w3-center">Apr</th>
      <th style="cursor:pointer" onclick="sortTable( 6, '{{ table_name }}')" class="w3-center">May</th>
      <th style="cursor:pointer" onclick="sortTable( 7, '{{ table_name }}')" class="w3-center">Jun</th>
      <th style="cursor:pointer" onclick="sortTable( 8, '{{ table_name }}')" class="w3-center">Jul</th>
      <th style="cursor:pointer" onclick="sortTable( 9, '{{ table_name }}')" class="w3-center">Aug</th>
      <th style="cursor:pointer" onclick="sortTable(10, '{{ table_name }}')" class="w3-center">Sep</th>
      <th style="cursor:pointer" onclick="sortTable(11, '{{ table_name }}')" class="w3-center">Oct</th>
      <th style="cursor:pointer" onclick="sortTable(12, '{{ table_name }}')" class="w3-center">Nov</th>
      <th style="cursor:pointer" onclick="sortTable(13, '{{ table_name }}')" class="w3-center">Dec</th>
    </tr>
    </tr>
  </thead>