<!-- app/plants/templates/plants/myplant_comment.html -->
{% extends "plants/master.html" %}
{% load static %}

{% block title %}
  <title>My Plants | Add</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <h1>
    <img src="{% static 'plants/img/logo.png' %}" alt="No logo found" class="bnd-logo">
    Comments related to: 
    {{ myplant.plant.commonName }}
    <span>(</span>
    <span>{{ myplant.plant.genus }} {{ myplant.plant.species }}</span>
    {% if myplant.plant.variety != "tbd" and myplant.plant.variety != 'n/a' %}
      <span class="bnd-variety">var. {{ myplant.plant.variety }}</span> 
    {% elif myplant.plant.cultivar != "tbd" and myplant.plant.cultivar != 'n/a' %}
      <span class="bnd-cultivar">'{{ myplant.plant.cultivar }}'</span>
    {% endif %}
    <span>)</span>
  </h1>
{% endblock header-completion %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bnd-button-submit">Submit</button>
    <button type="reset"  class="bnd-button-reset" >Reset </button>
    <a href="{% url 'plants:myplant_details' myplant.id %}">
      <button type="button" class="bnd-button-cancel">Cancel</button>
    </a>
  </form>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}