<!-- /plants/templates/plants/myplant_todo_del_modal.html -->
<div class="bnd-modal-content-300">
    <header class="bnd-modal-header">
      <h4>Delete To Do Item</h4>
    </header>
    <!-- To Do delete - create form -->
    <form action="{% url 'plants:myplant_todo_del' myplant_todo.id %}" method="post">
      {% csrf_token %}
      <div class="bnd-container">
        <p>Are you sure?</p>
      </div>
      <div class="bnd-container bnd-border-top bnd-padding-large bnd-light-grey">
        <!-- To Do delete - submit -->
        <button type="submit" 
                class="bnd-button bnd-round-large bnd-green">
          Submit
        </button>
        <!-- To Do delete - cancel -->
        <button type="button"
                onclick="document.getElementById('todo_del_modal').style.display='none'"
                class="bnd-button bnd-round-large bnd-red">
          Cancel
        </button>
      </div>
    </form>
  </div>