<tr class="w3-hover-green w3-text-{{ my_plant.bloom_color }}" >
    <!-- Plant Attributes -->
    <td class="w3-text-black">{{ my_plant.plant.commonName  }}</td>
    <td class="w3-text-black">{{ my_plant.bloom_color }}</td>
    <!-- Jan -->
    {% if "Jan" in my_plant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Feb -->
    {% if "Feb" in my_plant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Mar -->
    {% if "Mar" in my_plant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Apr -->
    {% if "Apr" in my_plant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- May -->
    {% if "May" in my_plant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Jun -->
    {% if "Jun" in my_plant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Jul -->
    {% if "Jul" in my_plant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Aug -->
    {% if "Aug" in my_plant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Sep -->
    {% if "Sep" in my_plant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Oct -->
    {% if "Oct" in my_plant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Nov -->
    {% if "Nov" in my_plant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Dec -->
    {% if "Dec" in my_plant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
  </tr>