<!-- /plants/templates/plants/myplant_todo_edit_modal.html -->
<div class="bnd-modal-content-300">
    <header class="bnd-modal-header">
      <h4>Edit To Do Item</h4>
    </header>
    <!-- To Do edit - create form -->
    <!-- Required for django_flatpickr - date input widget -->
    {{ form.media }}
    <form action="{% url 'plants:myplants_todo_edit' myplant_todo.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="bnd-container">
        {{ form.as_p }}
      </div>
      <div class="bnd-modal-button-bar">
        <!-- To Do edit - submit -->
        <button type="submit" class="bnd-button-submit">Submit</button>
        <!-- To Do edit - cancel -->
        <button type="button"
                onclick="document.getElementById('todo_edit_modal').style.display='none'"
                class="bnd-button-cancel">
          Cancel
        </button>
      </div>
    </form>
  </div>