<!-- app/plants/templates/plants/myplants_add.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>My Plants | Add</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container  bnd-green">
      <h3 class="bnd-bar-item">
        Adding: {{ plant.commonName }} 
        <span class="bnd-italic">
          {% if plant.variety != "tbd" %}
            ({{ plant.genus }} {{ plant.species }} '{{ plant.variety }}')
          {% else %}
            ({{ plant.genus }} {{ plant.species }})
          {% endif %}
        </span>
        to My Garden
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- Add Plant to My Plants -->
  <div class="bnd-container bnd-content-main-100">
    <!-- Required for django_flatpickr - date input widget -->
    {{ form.media }}
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="bnd-button bnd-green bnd-round-medium">Submit</button>
      <button type="reset"  class="bnd-button bnd-grey  bnd-round-medium">Reset</button>
      <a href="{% url 'plants:plants_summary' %}">
        <button type="button" class="bnd-button bnd-red bnd-round-medium">
          Cancel
        </button>
      </a>
    </form>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}