<!-- /plants/templates/plants/myplant_todo_edit_modal.html -->
<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:300px">
    <div class="w3-container w3-border-top w3-padding-8 w3-light-grey">
      <h4>Edit To Do Item</h4>
    </div>
    <!-- To Do edit - create form -->
    <!-- Required for django_flatpickr - date input widget -->
    {{ form.media }}
    <form action="{% url 'plants:myplants_todo_edit' myplant_todo.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="w3-container">
        {{ form.as_p }}
      </div>
      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <!-- To Do edit - submit -->
        <button type="submit" 
                class="w3-button w3-round-large w3-green">
          Submit
        </button>
        <!-- To Do edit - cancel -->
        <button type="button"
                onclick="document.getElementById('todo_edit_modal').style.display='none'"
                class="w3-button w3-round-large w3-red">
          Cancel
        </button>
      </div>
    </form>
  </div>