<!-- /plants/templates/plants/myplant_todo_add_modal.html -->
<div class="bnd-modal-content-500">
    <header class="bnd-modal-header">
      <h4>Add To Do Item</h4>
    </header>
    <!-- To Do add - create form -->
    <form action="{% url 'plants:myplant_todo_add' myplant.id%}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="bnd-container">
        {{ form.as_p }}
      </div>
      <div class="bnd-modal-button-bar">
        <!-- To Do add - submit -->
        <button type="submit" class="bnd-button-submit">Submit</button>
        <!-- To Do add - cancel -->
        <button type="button"
                onclick="document.getElementById('todo_add_modal').style.display='none'"
                class="bnd-button-cancel">
          Cancel
        </button>
      </div>
    </form>
  </div>