<!-- /plants/templates/plnts/myplant_details.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>My Plants | Details</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container  bnd-green">
      <h3 class="bnd-bar-item">
        {{ myplant.plant.commonName }}
        <span class="bnd-dropdown-hover bnd-right">
          <button class="bnd-button bnd-green" style="z-index:21">
            <i class="material-icons">
              menu
            </i>
          </button>
          <div class="bnd-dropdown-content w3-bar-block bnd-card-4" style="right:0; font-size: 16px">
            <a href="{% url 'plants:myplant_update' myplant.id %}" class="bnd-button">update</a>
        </span>
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- My Plant Attributes -->
  <div style="margin-top:120px;">
    <div class="w3-row-padding">
      <div class="w3-col s4">
        <header class="bnd-container bnd-green bnd-border">
          <h4>Characteristics</h4>
        </header>
        <div class="bnd-container bnd-border">
          <p>Date Planted:        {{ myplant.date_planted }}</p>
          <p>Location:            {{ myplant.location     }}</p>
          <p>Sun Exposure:        {{ myplant.sun_exposure }}</p>
          <p>pH:                  {{ myplant.pH           }}</p>
          <p>Soil Type:           {{ myplant.soil_type    }}</p>
          <p>Bloom Color:         {{ myplant.bloom_color  }}</p>
          <p>Bloom Start:         {{ myplant.bloom_start  }}</p>
          <p>Bloom End:           {{ myplant.bloom_end    }}</p>
        </div> 
      </div>
    </div>
  </div>
  <!------------------------------------->
  <!-- My Plant To Do List Summary     -->
  <!------------------------------------->
  <div class="bnd-margin">
    <!-- To Do section -->
    <div class="bnd-card-4 bnd-margin-top">
      <header class="bnd-container  bnd-green">
        <h4 class="bnd-bar-item">
          <span>My To Do List:</span>
          <span class="bnd-dropdown-hover bnd-right">
            <button class="bnd-button bnd-green" style="z-index:21">
              <i class="material-icons">
                menu
              </i>
            </button>
              <div class="bnd-dropdown-content w3-bar-block bnd-card-4" style="right:0; font-size: 16px">
                <button onclick="todo_add()"       class="bnd-bar-item bnd-button">Add          </button>
                <button onclick="todo_show_all()"  class="bnd-bar-item bnd-button">Show All     </button>
                <button onclick="todo_hide_done()" class="bnd-bar-item bnd-button">Hide Complete</button>
              </div>
          </span>
        </h4>
      </header>
      <!-- To Do table -->
      <div class="bnd-container">
        <table id="todoTable" class="w3-table-all w3-hoverable bnd-margin-top bnd-margin-bottom">
          <thead>
            <tr class="bnd-light-grey">
              <th style="cursor:pointer; width:5%;"  onclick="todo_sort(1)">Status  </th>
              <th style="display:none"  onclick="todo_sort(1)">Status  </th>
              <th style="cursor:pointer; width:10%;" onclick="todo_sort(2)">Date    </th>
              <th style="cursor:pointer; width:10%;" onclick="todo_sort(3)">Action  </th>
              <th style="cursor:pointer; width:10%;" onclick="todo_sort(4)">Repeat  </th>
              <th style="cursor:pointer; width:60%;" onclick="todo_sort(5)">Details </th>
              <!-- Button Placeholders -->
              <th class="bnd-center" style="width:5%;">        </th>
              <th class="bnd-center" style="width:5%;">        </th>
            </tr>
          </thead>
          {% for todo in myplant_todos  %}  
            <tbody>
              <tr class="w3-hover-green">
                <!-- To Do complete -->
                <td class="bnd-center" 
                style="background-color:transparent; color:white; margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px;">
                  <div class="bnd-tooltip" style="background-color:transparent;">
                    <button onclick="todo_done({{ todo.id }})">
                      <i class="material-icons" style="background-color:transparent;">
                        {% if todo.complete %}
                          check_box
                        {% else %}
                          check_box_outline_blank
                        {% endif %}
                      </i>
                      <span style="position:absolute; left:0; bottom:34px;" 
                        class="bnd-text bnd-tag bnd-round-xlarge bnd-animate-opacity">
                        Complete?
                      </span>
                    </button>
                  </div>
                </td>
                <!-- To Do fields -->
                <td style="display:none">{{ todo.complete }}</td>
                <td>{{ todo.date|date:"Y-m-d" }}</td>
                <td>{{ todo.action   }}</td>
                <td>{{ todo.repeat   }}</td>
                <td>{{ todo.details  }}</td>
                <!-- To Do edit -->
                <td class="bnd-center" 
                style="color:black; margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px;">
                  <div class="bnd-tooltip">
                    <button onclick="todo_edit({{ todo.id }})">
                      <i class="material-icons">
                      edit
                      </i>
                      <span style="position:absolute; left:0; bottom:34px;" 
                        class="bnd-text bnd-tag bnd-round-xlarge bnd-animate-opacity">
                        Edit
                      </span>
                    </button>
                  </div>
                </td>
                <!-- To Do delete -->
                <td class="bnd-center" 
                style="color:black; margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px;">
                  <div class="bnd-tooltip">
                    <button onclick="todo_delete({{ todo.id }})">
                      <i class="material-icons">
                      delete
                      </i>
                      <span style="position:absolute; left:0; bottom:34px;" 
                        class="bnd-text bnd-tag bnd-round-xlarge bnd-animate-opacity">
                        Delete
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- To Do add modal - html to be inserted by Javascript -->
  <div id="todo_add_modal" class="bnd-modal">
    <p> To Do add form HTML to be Inserted Here! </p>
  </div>

  <!-- To Do edit modal - html to be inserted by Javascript -->
  <div id="todo_edit_modal" class="bnd-modal">
    <p> To Do edit form HTML to be Inserted Here! </p>
  </div>

  <!-- To Do delete modal - html to be inserted by Javascript -->
  <div id="todo_del_modal" class="bnd-modal">
    <p> To Do delete form HTML to be Inserted Here! </p>
  </div>

  <!------------------------------------->
  <!-- My Plant Gardener Notes         -->
  <!------------------------------------->
  <div class="bnd-margin">
    <div class="bnd-card-4 bnd-margin-top">
      <header class="bnd-container bnd-green">
        <h4>My Notes:</h4>
      </header>
      <div class="bnd-container">
        {{ myplant.notes.html|safe|escape }}
      </div>
    </div>
  </div>
  <hr>
  <!------------------------------------->
  <!-- My Plant Comments               -->
  <!------------------------------------->
  <div class="bnd-margin">
    <div class="bnd-card-4 bnd-margin-top">
      <header class="bnd-container bnd-green">
        <h4>Fellow Gardener Comments:</h4>
      </header>
      <div class="bnd-margin">
        {% for comment in myplant_comments %}
          <p>Subject: {{ comment.subject }}</p>
          <p>Author:  {{ comment.author  }}</p>
          {{ comment.comment.html|safe|escape }}
          <hr>
          {% endfor %}
      </div>
      <div>
        <p><a href="{% url 'plants:myplant_comment' myplant.id %}">Add comment</a></p>
      </div>
    </div>
  </div>
  <hr>
  <!------------------------------------->
  <!-- Plant Details                   -->
  <!------------------------------------->
  {% include "plants/plant_details_insert.html" %}
{% endblock content %}

{% block js %}
<script>
    // Get the current my plant ID when Django renders the page
    const myPlantID = {{ myplant.id }};
    // set initial sort column and direction from db
    let lastToDoSortCol =  {{ myplant.lastToDoSortCol }};
    let lastToDoSortDir = "{{ myplant.lastToDoSortDir }}";
          
    function todo_add()
    {
        url = "{% url 'plants:myplant_todo_add' myplant.id %}"
        fetch(url) 
        .then(response => response.text())
        .then(html => {todo_add_modal.innerHTML = html;})
        .then(restoreToDoSort())
        todo_add_modal.style.display='block';
    }
    function todo_edit(id)
    {
        // AR: fix url approach
        // url = "{x% url 'plants:myplant_todo_edit' %x}" + "/" + id;

        url = "/myplant_todo_edit/" + id;
        fetch(url) 
        .then(response => response.text())
        .then(html => {todo_edit_modal.innerHTML = html;})
        .then(restoreToDoSort())
        todo_edit_modal.style.display='block';
    }
    function todo_delete(id)
    {
        // AR: fix url approach
        // url = "{x% url 'plants:myplant_todo_del' %x}" + "/" + id;

        url = "/myplant_todo_del/" + id;
        fetch(url) 
        .then(response => response.text())
        .then(html => {todo_del_modal.innerHTML = html;})
        .then(restoreToDoSort())
        todo_del_modal.style.display='block';
    }
    function todo_done(id)
    {
        // AR: fix url approach
        // url = "{x% url 'plants:myplant_todo_done' %x}" + "/" + id;

        // 
        const url = "/myplant_todo_done/" + id;
        const requestMethod = "POST";
        const csrfToken     = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const postData = { lastToDoSortCol : lastToDoSortCol,
                           lastToDoSortDir : lastToDoSortDir };

        fetch(url, 
        {
            method: requestMethod,
            headers: 
            {
                // Tells the server that the request body is in JSON format
                'Content-Type': 'application/json',
                //  Provides CSRF protection, necessary for Django
                'X-CSRFToken' : csrfToken
            },
            body: JSON.stringify(postData)
        })
        .then(response => response.text())
        .then(restoreToDoSort());
        window.location.reload()
    }
    function todo_show_all()
    {
        const table = document.getElementById('todoTable');
        const rows  = table.getElementsByTagName("tr");

        for (let i = 1; i < rows.length; i++) 
        {
            rows[i].style.display = '';
        }
    }
    function todo_hide_done()
    {
        const table = document.getElementById('todoTable');
        const rows  = table.getElementsByTagName("tr");
        const columnIndex = 0;

        for (let i = 1; i < rows.length; i++) 
        {
            const row = rows[i];
            const cells = row.getElementsByTagName('td');
            const cellValue = cells[columnIndex].textContent.trim();
            const status = cellValue.split('\n')[0];

            if (status == "check_box")
            {
                row.style.display = 'none'; // Hide the row
            } 
            else 
            {
                row.style.display = ''; // Ensure other rows are visible
            }
        }
    }
    function todo_sort(column)
    {
        // sort the table per the specified column
        sortTable(column, 'todoTable');

        // save the column sorted in the script
        lastToDoSortCol = column;

        sortDirection(column);

        // Save sort column and direction to the server db
        const url = "/myplant_todo_save/" + myPlantID;
        const requestMethod = "POST";
        const csrfToken     = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const postData = { lastToDoSortCol : lastToDoSortCol,
                           lastToDoSortDir : lastToDoSortDir };

        fetch(url, 
        {
            method: requestMethod,
            headers: 
            {
                // Tells the server that the request body is in JSON format
                'Content-Type': 'application/json',
                //  Provides CSRF protection, necessary for Django
                'X-CSRFToken' : csrfToken
            },
            body: JSON.stringify(postData)
        })
        .then(response => response.text())
    }
    function restoreToDoSort()  
    {
        // Determine if the table has any rows
        const table = document.getElementById('todoTable');
        const rowCount = table.rows.length;
        if (rowCount > 1)
        {
            // Since the table has rows it is safe to proceed
            let tempSortDirection = "ascending";
            console.log("Got to restoreToDoSort");

            sortTable(lastToDoSortCol, 'todoTable');

            // Determine sort direction
            const rows  = table.getElementsByTagName("tr");

            const firstRow = rows[1];
            const firstRowCells = firstRow.getElementsByTagName('td');
            const firstRowCellContents = firstRowCells[lastToDoSortCol].textContent.trim();
            const firstRowCellValue    = firstRowCellContents .split('\n')[0];

            const lastRow = rows[rows.length - 1];
            const lastRowCells = lastRow.getElementsByTagName('td');
            const lastRowCellContents = lastRowCells[lastToDoSortCol].textContent.trim();
            const lastRowCellValue    = lastRowCellContents .split('\n')[0];

            if( firstRowCellValue < lastRowCellValue )
            {
              tempSortDirection = "up";
            }
            else
            {
              tempSortDirection = "down";
            }

            console.log("lastToDoSortDir  =", lastToDoSortDir);
            console.log("tempSortDirection  =", tempSortDirection);

            if (tempSortDirection != lastToDoSortDir)
            {
              sortTable(lastToDoSortCol, 'todoTable');
            }
        }
    }
    function sortDirection(column)
    {
        // Determine whether the sorted column is ascending or descending
        const table = document.getElementById('todoTable');
        const rows  = table.getElementsByTagName("tr");
        // Get the value contained in the selected column - first data row
        const firstRow = rows[1];
        const firstRowCells = firstRow.getElementsByTagName('td');
        const firstRowCellContents = firstRowCells[column].textContent.trim();
        const firstRowCellValue    = firstRowCellContents .split('\n')[0];
        // Get the value contained in the selected column - last data row
        const lastRow = rows[rows.length - 1];
        const lastRowCells = lastRow.getElementsByTagName('td');
        const lastRowCellContents = lastRowCells[column].textContent.trim();
        const lastRowCellValue    = lastRowCellContents .split('\n')[0];
        // save the column sort direction in the script
        if( firstRowCellValue < lastRowCellValue )
        {
            lastToDoSortDir = "up";
        }
        else
        {
            lastToDoSortDir = "down";
        }
    }
    // Sort My Plants table by Date
    window.onload = restoreToDoSort();
</script>
{% endblock js %}