<!-- app/plants/templates/plants/myplant_update.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>My Plants | Update</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container  bnd-green">
      <h3 class="bnd-bar-item">
        Updating: {{ myplant.plant.commonName }} / 
        {{ myplant.plant.genus }} {{ myplant.plant.species }} {{ myplant.plant.variety }}
        in My Garden
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- Update Plant in My Plants -->
  <div class="bnd-container" style="margin-top:100px;">
    <!-- Required for django_flatpickr -->
    {{ form.media }}
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="bnd-button bnd-green bnd-round-medium">Submit</button>
      <button type="reset"  class="bnd-button bnd-grey  bnd-round-medium">Reset</button>
      <a href="{% url 'plants:myplants_summary' %}">
        <button type="button" class="bnd-button bnd-red bnd-round-medium">
          Cancel
        </button>
      </a>
    </form>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}