<!-- /plants/templates/plants/myplants_todo_del_modal.html -->
<div class="bnd-modal-content-300">
    <header class="bnd-modal-header">
      <h4>Delete To Do Item?</h4>
    </header>
    <!-- To Do delete - create form -->
    <form class="bnd-container" action="{% url 'plants:myplants_todo_del' myplant_todo.id %}" method="post">
      {% csrf_token %}
      <div class="bnd-modal-button-bar">
        <button type="submit" class="bnd-button-submit">
          Submit
        </button>
        <button type="button"
                onclick="document.getElementById('myplants_todo_del_modal').style.display='none'"
                class="bnd-button-cancel">
          Cancel
        </button>
      </div>
    </form>
  </div>