<!-- /plants/templates/plants/myplant_todo_add_modal.html -->
<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:500px">
    <div class="w3-container w3-border-top w3-padding-8 w3-light-grey">
      <h4>Add To Do Item</h4>
    </div>
    <!-- To Do add - create form -->
    <form action="{% url 'plants:myplant_todo_add' myplant.id%}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="w3-container">
        {{ form.as_p }}
      </div>
      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <!-- To Do add - submit -->
        <button type="submit" 
                class="w3-button w3-round-large w3-green">
          Submit
        </button>
        <!-- To Do add - cancel -->
        <button type="button"
                onclick="document.getElementById('todo_add_modal').style.display='none'"
                class="w3-button w3-round-large w3-red">
          Cancel
        </button>
      </div>
    </form>
  </div>