<thead>
    <tr class="w3-light-grey">
      <!-- Plant Common Name -->
      <th>Common Name</th>
      <!-- Months -->
      <th class="w3-center">Jan</th>
      <th class="w3-center">Feb</th>
      <th class="w3-center">Mar</th>
      <th class="w3-center">Apr</th>
      <th class="w3-center">May</th>
      <th class="w3-center">Jun</th>
      <th class="w3-center">Jul</th>
      <th class="w3-center">Aug</th>
      <th class="w3-center">Sep</th>
      <th class="w3-center">Oct</th>
      <th class="w3-center">Nov</th>
      <th class="w3-center">Dec</th>
    </tr>
  </thead>