<!-- /app/plants/templates/plants/myplants_summary.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>My Plants | Summary</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
    <!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">My Plants</h1>
    </div>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- MyPlant Delete modal - html to be inserted by Javascript -->
  <div id="myplants_delete_modal" class="w3-modal">
    <p> MyPlant delete form HTML to be Inserted Here! </p>
  </div>
  <!-- My Plant Table -->
  <div class="w3-container" id="main" style="margin-top:150px;">
    <table class="w3-table-all w3-hoverable" id="plantTable">
      <thead>
        <tr class="w3-light-grey">
          <th style="cursor:pointer" onclick="sortTable(0)"                  >Common Name   </th>
          <th style="cursor:pointer" onclick="sortTable(1)"                  >Genus/Species </th>
          <th style="cursor:pointer" onclick="sortTable(2)"                  >Type          </th>
          <th style="cursor:pointer" onclick="sortTable(3)"                  >Location      </th>
          <th style="cursor:pointer" onclick="sortTable(4)"                  >Sun Exposure  </th>
          <th style="cursor:pointer" onclick="sortTable(5)"                  >Soil Type     </th>
          <th style="cursor:pointer" onclick="sortTable(6)"                  >pH            </th>
          <th style="cursor:pointer" onclick="sortTable(7)" class="w3-center">Happy?        </th>
          <th class="w3-center"></th>
          <th class="w3-center"></th>
          <th class="w3-center"></th>
        </tr>
      </thead>
      {% for my_plant in my_plants %}  
        <tr class="w3-hover-green">
          <td>{{ my_plant.plant.commonName }}</td>
          <td style="font-style: italic;">{{ my_plant.plant.genus }} {{ my_plant.plant.species }}</td>
          <td>{{ my_plant.plant.type_x }}</td>
          <td>{{ my_plant.location     }}</td>
          <td>{{ my_plant.sun_exposure }}</td>
          <td>{{ my_plant.soil_type    }}</td>
          <td>{{ my_plant.pH           }}</td>
          <!-- AR: Implement Happy function -->
          <td class="w3-center">TBD          </td>
          <!-- MyPlant Details Icon/Link -->
          <td class="w3-center">
            <div class="w3-tooltip">
              <a href="{% url 'plants:myplants_details' my_plant.id %}">
                <i class="material-icons">
                  library_books
                </i>
                <span style="position:absolute; left:0; bottom:34px;" 
                      class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
                      Details
                </span>
              </a>
            </div>
          </td>
          <!-- MyPlant Update Icon/Link -->
          <td class="w3-center">
            <div class="w3-tooltip">
              <a href="{% url 'plants:myplants_update' my_plant.id %}">
                <i class="material-icons">
                  edit
                </i>
                <span style="position:absolute; left:0; bottom:34px;" 
                class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
                  Edit
                </span>
              </a>
            </div>
          </td>
          <!-- MyPlant Delete Icon/Link -->
          <td class="w3-center">
            <div class="w3-tooltip">
              <button onclick="myplants_delete({{ my_plant.id }})" class="w3-transparent w3-border-0">
                <i class="material-icons">
                  delete
                </i>
                <span style="position:absolute; left:0; bottom:34px;" 
                      class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
                  Delete
                </span>
              </button>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->

  <!-- Delete My Plant Modal Script -->
  <script>
    function myplants_delete(id) {
      // Get the MyPlant delete modal
      const myplants_delete_modal  = document.getElementById('myplants_delete_modal')
      // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses
      url = "/myplants_delete/" + id
      fetch(url)
        .then(response => response.text())
        .then(html => {myplants_delete_modal.innerHTML = html;})
      // Display the plant delete modal
      myplants_delete_modal.style.display='block'
    }
  </script>
  <!-- Sort My Plants table by Common Name upon page load -->
  <script>
    window.onload = sortTable(0);
  </script>
{% endblock js %}