<!-- app/plants/templates/plants/myplant_update.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>My Plants | Update</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container  bnd-green">
      <h3 class="bnd-bar-item">
        Updating: 
        {{ myplant.plant.commonName }}
        <span>(</span>
        <span>{{ myplant.plant.genus }} {{ myplant.plant.species }}</span>
        {% if myplant.plant.variety != "tbd" and myplant.plant.variety != 'n/a' %}
          <span class="bnd-variety">var. {{ myplant.plant.variety }}</span> 
        {% elif myplant.plant.cultivar != "tbd" and myplant.plant.cultivar != 'n/a' %}
          <span class="bnd-cultivar">'{{ myplant.plant.cultivar }}'</span>
        {% endif %}
        <span>)</span>
        in My Garden
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- Update Plant in My Plants -->
  <div class="bnd-content-main-100">
    <!-- Required for django_flatpickr -->
    {{ form.media }}
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="bnd-button-submit">Submit</button>
      <button type="reset"  class="bnd-button bnd-grey  bnd-round-medium">Reset</button>
      <a href="{% url 'plants:myplants_summary' %}">
        <button type="button" class="bnd-button-cancel">Cancel</button>
      </a>
    </form>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}