<!-- app/plants/templates/plants/myplants_delete_modal.html -->

<div class="bnd-modal-content-300">
  <div class="bnd-modal-header">
    <h4>Remove "{{ myplant.plant.commonName }}" from your garden?</h4>
  </div>
  <form class="bnd-container" action="{% url 'plants:myplants_delete' myplant.id %}" method="post">
    {% csrf_token %}
    <div class="bnd-modal-button-bar">
      <button type="submit" class="bnd-button-submit">Confirm</button>
      <a href="{% url 'plants:myplants_summary' %}">
        <button type="button" class="bnd-button-cancel">Cancel</button>
      </a>
    </div>
  </form>
</div>