<!-- app/plants/templates/plants/myplants_remove.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>My Plant | Remove</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
    <!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">Removing: {{ plant.commonName }} / {{ plant.genus }} {{ plant.species }} from My Garden</h1>
    </div>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- AR: convert to modal -->
  <!-- Remove Plant from My Plants -->
  <div class="w3-container" style="margin-top:140px;">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h3>Do you want to remove the plant from your garden: "{{ plant.commonName }}"?</h3>
      <p>
        <button type="submit">Yes</button>
        <a href="{% url 'plants:plants_summary' %}"><button type="button">No</button></a>
      </p>
    </form>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}