<!-- /plants/templates/plnts/myplants_details.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>My Plants | Details</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
    <!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">
        {{ my_plant.plant.commonName }} 
        <span style="font-style: italic;">
          ( {{ my_plant.plant.genus }} {{ my_plant.plant.species }} )
        </span>
      </h1>
      <a href="{% url 'plants:myplants_update' my_plant.id %}" class="w3-button">update</a>
    </div>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- My Plant Attributes -->
  <div style="margin-top:140px;">
    <div class="w3-row-padding">
      <div class="w3-col s4">
        <header class="w3-container w3-green w3-border">
          <h3>Characteristics</h3>
        </header>
        <div class="w3-container w3-border">
          <p>Date Planted:        {{ my_plant.date_planted }}</p>
          <p>Location:            {{ my_plant.location     }}</p>
          <p>Sun Exposure:        {{ my_plant.sun_exposure }}</p>
          <p>pH:                  {{ my_plant.pH           }}</p>
          <p>Soil Type:           {{ my_plant.soil_type    }}</p>
        </div> 
      </div>
    </div>
  </div>

  <div class="w3-margin">
    <div class="w3-card-4 w3-margin-top">
      <header class="w3-container w3-green">
        <h3>My Notes:</h3>
      </header>
      <div class="w3-container">
        {{ my_plant.notes.html|safe|escape }}
      </div>
    </div>
  </div>

  <hr>

  <!-- Comments -->
  <div class="w3-margin">
    <fieldset>
      <legend>Comments</legend>
      {% for comment in myplant_comments %}
        <p>Subject: {{ comment.subject }}</p>
        <p>Author:  {{ comment.author  }}</p>
        {{ comment.comment.html|safe|escape }}
        <hr>
      {% endfor %}
      <p><a href="{% url 'plants:myplants_comment' my_plant.id %}">Add comment</a></p>
    </fieldset>
  </div>

  <hr>
  {% include "plants/plants_details_insert.html" %}
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}