<tr class="w3-hover-green w3-text-{{ myplant.bloom_color }}" >
    <!-- Plant Attributes -->
    <td class="bnd-text-black">{{ myplant.plant.commonName  }}</td>
    <td class="bnd-text-black">{{ myplant.bloom_color }}</td>
    <!-- Jan -->
    {% if "Jan" in myplant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Feb -->
    {% if "Feb" in myplant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Mar -->
    {% if "Mar" in myplant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Apr -->
    {% if "Apr" in myplant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- May -->
    {% if "May" in myplant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Jun -->
    {% if "Jun" in myplant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Jul -->
    {% if "Jul" in myplant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Aug -->
    {% if "Aug" in myplant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Sep -->
    {% if "Sep" in myplant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Oct -->
    {% if "Oct" in myplant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Nov -->
    {% if "Nov" in myplant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
    <!-- Dec -->
    {% if "Dec" in myplant.plant.bloom_months %}
      <td class="w3-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="w3-center">-</td>
    {% endif %}
  </tr>