<!-- /plants/templates/plants/myplants_todo_details_modal.html -->
<div class="bnd-modal-content-800">
    <header class="bnd-modal-header">
        <h4>To Do Item Details</h4>
        <!-- Close the modal -->
        <span onclick="document.getElementById('todo_details_modal').style.display='none'" 
            class="bnd-button bnd-modal-close">&times;
        </span>
    </header>
    <div class="bnd-container">
        <p>Date:        {{ myplant_todo.date       }}</p>
        <p>Common Name: {{ myplant_todo.commonName }}</p>
        <p>Action:      {{ myplant_todo.action     }}</p>
        <p>Details:     {{ myplant_todo.details    }}</p>
        <p>Repeat:      {{ myplant_todo.repeat     }}</p>
        <p>Pruning Guidelines: {{ myplant_todo.pruning.html|safe|escape }}</p>
    </div>
</div>