<!-- app/plants/templates/plants/myplants_delete_modal.html -->

<div class="bnd-modal-content bnd-card-4 bnd-animate-zoom" style="max-width:400px">
  <div class="bnd-container bnd-border-top bnd-padding-medium bnd-light-grey bnd-center">
    <h4>Remove "{{ myplant.plant.commonName }}" from your garden?</h4>
  </div>
  <form class="bnd-container" action="{% url 'plants:myplants_delete' myplant.id %}" method="post">
    {% csrf_token %}
    <div class="bnd-section bnd-center">
      <button type="submit" class="bnd-button bnd-green bnd-round-medium">
        Confirm
      </button>
      <a href="{% url 'plants:myplants_summary' %}">
        <button type="button" class="bnd-button bnd-red bnd-round-medium">
          Cancel
        </button>
      </a>
    </div>
  </form>
</div>