<!-- /plants/templates/plants/myplant_details.html -->
{% extends "plants/master.html" %}
{% load static %}

{% block title %}
  <title>My Plants | Details</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
<style>
  /* Forces the Quill editor container to have a visible structure */
  /* Required to make the editor visible in a pop-op modal         */
  .django-quill-widget-container {
      display:    block !important;
      min-height: 200px;
  }
  
  /* Forces Quill's internal editable area to render               */
  /* Required to make the editor visible in a pop-op modal         */
  .django-quill-widget-container .ql-editor {
      min-height: 150px !important;
      height:     auto  !important;
  }
</style>
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-banner-logo-container">
    <img src="{% static 'plants/img/logo.png' %}"  alt="No logo found" class="bnd-banner-logo">
  </div>

  <div class="bnd-banner-title-container">
    <h1>{{ myplant.plant.commonName }}</h1>
  </div>

  <div class="bnd-banner-scientific-name-container">
    <!-- <div class="bnd-banner-scientific-name-tooltip"> -->
      <span>
        ( 
        {{ plant.genus }} {{ plant.species }}
        {% if plant.subspecies != "tbd" and plant.subspecies != 'n/a' and plant.subspecies != ''%}
          ssp. {{ plant.subspecies }} 
        {% elif plant.variety != "tbd" and plant.variety != 'n/a' and plant.variety != ''%}
          var. {{ plant.variety }} 
        {% elif plant.cultivar != "tbd" and plant.cultivar != 'n/a' and plant.cultivar != ''%}
          '{{ plant.cultivar}}'
        {% endif %}
        )
      </span>
      <!-- Tool Tip -->
      <!-- <span class="bnd-banner-scientific-name-tooltip-text">Scientific Name</span> -->
    <!-- </div> -->
  </div>

  <div class="bnd-banner-audio-container">
    {% if plant.audio_name %}
      <div class="bnd-audio-tooltip">
        <audio id="player-2" src="{{ plant.audio_name.url }}"></audio>
        <span onclick="document.getElementById('player-2').play()">
          <i class="material-icons bnd-play-audio">volume_up</i>
        </span>
        <!-- Tool Tip -->
        <span class="bnd-audio-tooltip-text">Pronounce</span>
      </div>
    {% endif %}
  </div>

  <div class="bnd-banner-menu-container">
    <button class="bnd-banner-menu-icon">
      <i class="material-icons">menu</i>
    </button>
    <div class="bnd-banner-menu-content">
      <a href="{% url 'plants:myplant_update' myplant.id %}" class="bnd-dropdown-button">update</a>
    </div>
  </div>

{% endblock header-completion %}

{% block content %}
  <div class="bnd-flex-container">

    <div class="bnd-flex-item">
      <header class="bnd-section-header">
        <h4>My Plant: Characteristics</h4>
      </header>
      <div class="bnd-section-contents">
        <p>Date Planted:        {{ myplant.date_planted }}</p>
        <p>Location:            {{ myplant.location     }}</p>
        <p>Sun Exposure:        {{ myplant.sun_exposure }}</p>
        <p>pH:                  {{ myplant.pH           }}</p>
        <p>Soil Type:           {{ myplant.soil_type    }}</p>
        <p>Bloom Color:         {{ myplant.bloom_color  }}</p>
        <p>Bloom Start:         {{ myplant.bloom_start  }}</p>
        <p>Bloom End:           {{ myplant.bloom_end    }}</p>
      </div> 
    </div>
  </div>
  
  <div>
    <!------------------------------------->
    <!-- My Plant Log                    -->
    <!------------------------------------->
    <section id="myplant_logs" class="bnd-section">
      <header class="bnd-section-header">
        <h4>
          <span>My Plant: Log Entries</span>
          <span class="bnd-dropdown-container">
            <button class="bnd-button-small">
              <i class="material-icons">
                menu
              </i>
            </button>
            <div class="bnd-dropdown-content">
              <button type="button" id="openLogModalBtn" class="bnd-dropdown-button">Create log entry</button>
            </div>
          </span>
        </h4>
      </header>
      <div class="bnd-section-contents">
        {% for log in myplant_logs %}
          <span>Subject: {{ log.subject }}</span>
          <span class="bnd-dropdown-container">
            <button class="bnd-button-small">
              <i class="material-icons">menu</i>
            </button>
            <div class="bnd-dropdown-content">
              <button type="button" class="bnd-dropdown-button" onclick="log_update({{ log.id }})">Update</button>
              <button type="button" class="bnd-dropdown-button" onclick="log_delete({{ log.id }})">Delete</button>
            </div>
          </span>
          {{ log.entry.html|safe|escape }}
          <hr>
          <!-- images -->
          <div class="bnd-flex-container-wrap">
            {% if log.image_1 %}
            <figure class="bnd-flex-image">
              <img class="bnd-image-small" src="{{ log.image_1.url }}" onclick="imageModalOpen(this)" alt="No image found">
              <figcaption class="bnd-image-small-caption">{{ log.caption_1 }}</figcaption>
            </figure>
            {% endif %}

            {% if log.image_2 %}
            <figure class="bnd-flex-image">
              <img class="bnd-image-small" src="{{ log.image_2.url }}"  onclick="imageModalOpen(this)" alt="No image found">
              <figcaption class="bnd-image-small-caption">{{ log.caption_2 }}</figcaption>
            </figure>
            {% endif %}

            {% if log.image_3 %}
            <figure class="bnd-flex-image">
              <img class="bnd-image-small" src="{{ log.image_3.url }}" onclick="imageModalOpen(this)" alt="No image found">
              <figcaption class="bnd-image-small-caption">{{ log.caption_3 }}</figcaption>
            </figure>
            {% endif %}

            {% if log.image_4 %}
            <figure class="bnd-flex-image">
              <img class="bnd-image-small" src="{{ log.image_4.url }}"  onclick="imageModalOpen(this)" alt="No image found">
              <figcaption class="bnd-image-small-caption">{{ log.caption_4 }}</figcaption>
            </figure>
            {% endif %}
          </div>

          <hr/>
        {% endfor %}
      </div>
    </section>
    <!------------------------------------->
    <!-- My Plant To Do List Summary     -->
    <!------------------------------------->
    <section class="bnd-section">
      <header class="bnd-section-header">
        <h4>
          <span>My Plant: To Do List</span>
          <span class="bnd-dropdown-container">
            <button class="bnd-button-small">
              <i class="material-icons">
                menu
              </i>
            </button>
              <div class="bnd-dropdown-content">
                <button onclick="todo_add()"       class="bnd-dropdown-button">Add          </button>
                <button onclick="todo_show_all()"  class="bnd-dropdown-button">Show All     </button>
                <button onclick="todo_hide_done()" class="bnd-dropdown-button">Hide Complete</button>
              </div>
          </span>
        </h4>
      </header>
      <!-- To Do table -->
      <div class="bnd-container">
        <table id="todoTable" class="bnd-table bnd-margin-top bnd-margin-bottom">
          <thead>
            <tr>
              <th onclick="todo_sort(1)">Status  </th>
              <th style="display:none"  onclick="todo_sort(1)">Status  </th>
              <th onclick="todo_sort(2)">Date    </th>
              <th onclick="todo_sort(3)">Action  </th>
              <th onclick="todo_sort(4)">Repeat  </th>
              <th onclick="todo_sort(5)">Details </th>
              <!-- Button Placeholders -->
              <th class="bnd-table-icon"></th>
              <th class="bnd-table-icon"></th>
            </tr>
          </thead>
          {% for todo in myplant_todos  %}  
            <tbody>
              <tr>
                <!-- To Do complete -->
                <td class="bnd-center">
                  <div class="bnd-tooltip">
                    <button class="bnd-button-small" onclick="todo_done({{ todo.id }})">
                      <i class="material-icons">
                        {% if todo.complete %}
                          check_box
                        {% else %}
                          check_box_outline_blank
                      {% endif %}
                      </i>
                      <span class="bnd-tooltip-text">Complete?</span>
                    </button>
                  </div>
                </td>
                <!-- To Do fields -->
                <td style="display:none">{{ todo.complete }}</td>
                <td>{{ todo.date|date:"Y-m-d" }}</td>
                <td>{{ todo.action   }}</td>
                <td>{{ todo.repeat   }}</td>
                <td>{{ todo.details  }}</td>
                <!-- To Do edit -->
                <td class="bnd-table-icon">
                <div class="bnd-tooltip">
                    <button class="bnd-button-small" onclick="todo_edit({{ todo.id }})">
                      <i class="material-icons">edit</i>
                      <span class="bnd-tooltip-text">Edit</span>
                    </button>
                  </div>
                </td>
                <!-- To Do delete -->
                <td class="bnd-table-icon">
                <div class="bnd-tooltip">
                    <button class="bnd-button-small" onclick="todo_delete({{ todo.id }})">
                      <i class="material-icons">delete</i>
                      <span class="bnd-tooltip-text">Delete</span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
      </div>
    </section>
    <!------------------------------------->
    <!-- Gardener Notes                  -->
    <!------------------------------------->
    <section class="bnd-section">
      <header class="bnd-section-header">
        <h4>My Plant: Notes</h4>
      </header>
      <div class="bnd-section-contents">
        {{ myplant.notes.html|safe|escape }}
      </div>
    </section>
    <!------------------------------------->
    <!-- My Plant Comments               -->
    <!------------------------------------->
    <section id="myplant_comments" class="bnd-section">
      <header class="bnd-section-header">
        <h4>My Plant: Comments</h4>
      </header>
      <div class="bnd-section-contents">
        {% for comment in myplant_comments %}
          <p>Subject: {{ comment.subject }}</p>
          <p>Date:    {{ comment.date    }}</p>
          <p>Author:  {{ comment.author  }}</p>
          {{ comment.comment.html|safe|escape }}
          <hr/>
        {% endfor %}
        <button type="button" id="openCommentModalBtn">Create comment</button>
      </div>
    </section>
    <hr>
  </div>
  <!------------------------------------->
  <!-- Plant Details                   -->
  <!------------------------------------->
  <section class="bnd-section">
    <header class="bnd-section-header">
      <h4>Base Plant Details:</h4>
    </header>
    <br/>
    {% include "plants/plant_details_insert.html" %}
  </section>
  <!-------------------------------------------------------------------------->
  <!-- Modals                                                               -->
  <!-------------------------------------------------------------------------->
  <!-- MyPlant add log modal -->
  <div id="myplant_log_modal" class="bnd-modal">
    <div id="myplant_log_modal_body" class="bnd-modal-container">
      <header class="bnd-modal-header">
        <h4>Add log entry for: {{ myplant.plant.commonName }}</h4>
      </header>
      {{ log_form.media }}
      <form id="id_logQuillForm" 
            action="{% url 'plants:myplant_log_add' myplant.id %}"
            method="POST" 
            enctype = "multipart/form-data">
        {% csrf_token %}
        <div class="bnd-modal-contents">
          {{ log_form.log_subject.as_field_group }}
          </br>
          {{ log_form.log_entry.as_field_group }}
          <!-- Plant images -->
          <div class="images">
            <fieldset>
              <legend>Images:</legend>
              <div class="bnd-flex-container-wrap">
                <!-- Image 1 -->
                <figure>
                  <fieldset class="bnd-flex-image">
                    <legend>Image 1:</legend>
                    {% if myplant_comments.image_1 %}
                      <img id      = "id_image_1_preview" 
                           class   = "bnd-image-small" 
                           src     = "{{ myplant_comments.image_1.url }}" 
                           onclick = "imageModalOpen(this)" 
                           alt     = "No image found">
                      <figcaption class="bnd-image-small-caption">{{ plant.caption_1 }}</figcaption>
                      <hr>
                      <div id = "id_image_1_file_input">
                        {{ log_form.image_1 }}
                      </div>
                    {% else %}
                      <img id      = "id_image_1_preview" 
                           class   = "bnd-image-small" 
                           src     = "" 
                           alt     = "--- Image displays here ---">
                      <figcaption class="bnd-image-small-caption">"--- Caption displays here ---"</figcaption>
                      <hr>
                      {{ log_form.image_1 }}
                    {% endif %}
                    <label for="id_caption_1">Enter caption:</label>
                    {{ log_form.caption_1 }}
                  </fieldset>
                </figure>
                <!-- Image 2 -->
                <figure>
                  <fieldset class="bnd-flex-image">
                    <legend>Image 2:</legend>
                    {% if myplant_comments.image_2 %}
                      <img id      = "id_image_2_preview" 
                          class   = "bnd-image-small" 
                          src     = "{{ myplant_comments.image_2.url }}" 
                          onclick = "imageModalOpen(this)" 
                          alt     = "No image found">
                      <figcaption class="bnd-image-small-caption">{{ plant.caption_2 }}</figcaption>
                      <hr>
                      <div id = "id_image_2_file_input">
                        {{ log_form.image_2 }}
                      </div>
                    {% else %}
                      <img id      = "id_image_2_preview" 
                          class   = "bnd-image-small" 
                          src     = "" 
                          alt     = "--- Image displays here ---">
                      <figcaption class="bnd-image-small-caption">"--- Caption displays here ---"</figcaption>
                      <hr>
                      {{ log_form.image_2 }}
                    {% endif %}
                    <label for="id_caption_2">Enter caption:</label>
                    {{ log_form.caption_2 }}
                  </fieldset>
                </figure>
    `           <!-- Image 3 -->
                <figure>
                  <fieldset class="bnd-flex-image">
                    <legend>Image 3:</legend>
                    {% if myplant_comments.image_3 %}
                      <img id     = "id_image_3_preview" 
                          class   = "bnd-image-small" 
                          src     = "{{ myplant_comments.image_3.url }}" 
                          onclick = "imageModalOpen(this)" 
                          alt     = "No image found">
                      <figcaption class="bnd-image-small-caption">{{ plant.caption_3 }}</figcaption>
                      <hr>
                      <div id = "id_image_3_file_input">
                        {{ log_form.image_3 }}
                      </div>
                    {% else %}
                      <img id     = "id_image_3_preview" 
                          class   = "bnd-image-small" 
                          src     = "" 
                          alt     = "--- Image displays here ---">
                      <figcaption class="bnd-image-small-caption">"--- Caption displays here ---"</figcaption>
                      <hr>
                      {{ log_form.image_3 }}
                    {% endif %}
                    <label for="id_caption_3">Enter caption:</label>
                    {{ log_form.caption_3 }}
                  </fieldset>
                </figure>
                <!-- Image 4 -->
                <figure>
                  <fieldset class="bnd-flex-image">
                    <legend>Image 4:</legend>
                    {% if myplant_comments.image_4 %}
                      <img id     = "id_image_4_preview" 
                          class   = "bnd-image-small" 
                          src     = "{{ myplant_comments.image_4.url }}" 
                          onclick = "imageModalOpen(this)" 
                          alt     = "No image found">
                      <figcaption class="bnd-image-small-caption">{{ plant.caption_4 }}</figcaption>
                      <hr>
                      <div id = "id_image_4_file_input">
                        {{ log_form.image_4 }}
                      </div>
                    {% else %}
                      <img id     = "id_image_4_preview" 
                          class   = "bnd-image-small" 
                          src     = ""  
                          alt     = "--- Image displays here ---">
                      <figcaption class="bnd-image-small-caption">"--- Caption displays here ---"</figcaption>
                      <hr>
                      {{ log_form.image_4 }}
                    {% endif %}
                    <label for="id_caption_3">Enter caption:</label>
                    {{ log_form.caption_4 }}
                  </fieldset>
                </figure>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="bnd-modal-button-bar">
          <button type="submit" class="bnd-button-submit" id="id_log_submit">Submit</button>
          <button type    = "button"
                  onclick = "myplant_log_add_close()"
                  class   = "bnd-button-cancel">
            Cancel
          </button>
          <div id="id_log_status"></div>
        </div>
      </form>
    </div>
  </div>

  <!-- MyPlant Log delete modal -->
  <div id="log_del_modal" class="bnd-modal">
    <p> To Do delete form HTML to be Inserted Here! </p>
  </div>

  <!-- MyPlant To Do add modal -->
  <div id="todo_add_modal" class="bnd-modal">
    <p> To Do add form HTML to be Inserted Here! </p>
  </div>

  <!-- MyPlant To Do edit modal  -->
  <div id="todo_edit_modal" class="bnd-modal">
    <p> To Do edit form HTML to be Inserted Here! </p>
  </div>

  <!-- MyPlant To Do delete modal -->
  <div id="todo_del_modal" class="bnd-modal">
    <p> To Do delete form HTML to be Inserted Here! </p>
  </div>

  <!-- MyPlant Add Comment modal -->
  <div id="myplant_comment_modal" class="bnd-modal">
    <div id="myplant_comment_modal_body" class="bnd-modal-container">
      <header class="bnd-modal-header">
        <h4>Add comment for: {{ myplant.plant.commonName }}</h4>
      </header>
      <form id="commentQuillForm" 
            action="{% url 'plants:myplant_comment' myplant.id %}"
            method="POST" 
            enctype = "multipart/form-data">
        {% csrf_token %}
        <div class="bnd-modal-contents">
          {{ comment_form.as_p }}
        </div>
        <div class="bnd-modal-button-bar">
          <button type="submit" class="bnd-button-submit">Submit</button>
          <button type    = "button"
                  onclick = "myplant_comment_add_close()"
                  class   = "bnd-button-cancel">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}

{% block js %}
<script>
// Get the current my plant ID when Django renders the page
const myPlantID = {{ myplant.id }};
// set initial sort column and direction from db
// AR: are quotes needed?
let lastToDoSortCol = "{{ myplant.lastToDoSortCol }}";
let lastToDoSortDir = "{{ myplant.lastToDoSortDir }}";
//-----------------------------------------------------------------------------
// My Plant Log functions
//-----------------------------------------------------------------------------
const log_modal   = document.getElementById("myplant_log_modal");
const log_openBtn = document.getElementById("openLogModalBtn");
// Open modal
log_openBtn.addEventListener("click", () => 
{
  log_modal.style.display = "block";
});
// Delete log entry
function log_delete(id)
{
    // use '1234' placeholder id in Django template for servier-side rendering
    // javascript will replace placeholder id with actual todo record id
    const url = "{% url 'plants:myplant_log_del' id=1234 %}".replace('1234', id);
    fetch(url) 
    .then(response => response.text())
    .then(html => {log_del_modal.innerHTML = html;})
    .then(restoreToDoSort())
    log_del_modal.style.display='block';
}
// Close modal
function myplant_log_add_close()
{
  log_modal.style.display='none';
  document.body.classList.remove('bnd-modal-open');
}
// Close modal if user clicks anywhere outside of the modal container
window.addEventListener("click", (e) => 
{
  if (e.target === log_modal) 
  {
    log_modal.style.display = "none";
    document.body.classList.remove('bnd-modal-open');
  }
});
//-----------------------------------------------------------------------------
// Function: Update preview image when new image is selected
//-----------------------------------------------------------------------------
// Select image file input field using form prefix
// Select image preview
// Listen for any character changes in the input field
//-----------------------------------------------------------------------------
const image_1_input   = document.getElementById('id_log_form-image_1');
const image_1_preview = document.getElementById('id_image_1_preview');
image_1_input.addEventListener('change', async (event) => 
{
  image_1_preview.src = URL.createObjectURL(image_1_input.files[0]);
});
//-----------------------------------------------------------------------------
const image_2_input   = document.getElementById('id_log_form-image_2');
const image_2_preview = document.getElementById('id_image_2_preview');
image_2_input.addEventListener('change', async (event) => 
{
  image_2_preview.src = URL.createObjectURL(image_2_input.files[0]);
});
//-----------------------------------------------------------------------------
const image_3_input   = document.getElementById('id_log_form-image_3');
const image_3_preview = document.getElementById('id_image_3_preview');
image_3_input.addEventListener('change', async (event) => 
{
  image_3_preview.src = URL.createObjectURL(image_3_input.files[0]);
});
//-----------------------------------------------------------------------------
const image_4_input   = document.getElementById('id_log_form-image_4');
const image_4_preview = document.getElementById('id_image_4_preview');
image_4_input.addEventListener('change', async (event) => 
{
  image_4_preview.src = URL.createObjectURL(image_4_input.files[0]);
});
//----------------------------------------------------------------------------- 
// Upload log form data and compressed images to the server
//-----------------------------------------------------------------------------
const form         = document.getElementById('id_logQuillForm');
const imageInput_1 = document.getElementById('id_log_form-image_1');
const imageInput_2 = document.getElementById('id_log_form-image_2');
const imageInput_3 = document.getElementById('id_log_form-image_3');
const imageInput_4 = document.getElementById('id_log_form-image_4');
const submitBtn    = document.getElementById('id_log_submit');
const statusDiv    = document.getElementById('id_log_status');

form.addEventListener('submit', async (event) => {
  // Prevent standard browser form submission
  event.preventDefault();
  // Get images
  const file_1 = imageInput_1.files[0];
  const file_2 = imageInput_2.files[0];
  const file_3 = imageInput_3.files[0];
  const file_4 = imageInput_4.files[0];
  // Declare compressed image blobs
  let compressedBlob_1 = null;
  let compressedBlob_2 = null;
  let compressedBlob_3 = null;
  let compressedBlob_4 = null;
  // 
  try 
  {
    // Update UI state
    submitBtn.disabled = true;
    //----------------------------------------------------------------------------
    // Wait for the image compression promise to resolve
    //----------------------------------------------------------------------------
    if (file_1)
    {
      console.log("DEBUG: Starting image compression - Image 1");
      statusDiv.innerText = "Compressing Image 1... Please wait.";
      compressedBlob_1 = await compressImage(file_1, 800, 1.0);
      console.log(`Original size:   ${(file_1.size / 1024).toFixed(2)} KB`);
      console.log(`Compressed size: ${(compressedBlob_1.size / 1024).toFixed(2)} KB`);
      console.log("DEBUG: Finished image compression - Image 1");
    }
    if (file_2)
    {
      console.log("DEBUG: Starting image compression - Image 2");
      statusDiv.innerText = "Compressing Image 2... Please wait.";
      compressedBlob_2 = await compressImage(file_2, 800, 1.0);
      console.log(`Original size:   ${(file_2.size / 1024).toFixed(2)} KB`);
      console.log(`Compressed size: ${(compressedBlob_2.size / 1024).toFixed(2)} KB`);
      console.log("DEBUG: Finished image compression - Image 2");
    }
    if (file_3)
    {
      console.log("DEBUG: Starting image compression - Image 3");
      statusDiv.innerText = "Compressing Image 3... Please wait.";
      compressedBlob_3 = await compressImage(file_3, 800, 1.0);
      console.log(`Original size:   ${(file_3.size / 1024).toFixed(2)} KB`);
      console.log(`Compressed size: ${(compressedBlob_3.size / 1024).toFixed(2)} KB`);
      console.log("DEBUG: Finished image compression - Image 3");
    }
    if (file_4)
    {
      console.log("DEBUG: Starting image compression - Image 4");
      statusDiv.innerText = "Compressing Image 4... Please wait.";
      compressedBlob_4 = await compressImage(file_4, 800, 1.0);
      console.log(`Original size:   ${(file_4.size / 1024).toFixed(2)} KB`);
      console.log(`Compressed size: ${(compressedBlob_4.size / 1024).toFixed(2)} KB`);
      console.log("DEBUG: Finished image compression - Image 4");
    }
    //----------------------------------------------------------------------------
    //
    //----------------------------------------------------------------------------
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    // Get the form entered by the user
    const formData  = new FormData(form);
    //----------------------------------------------------------------------------
    // Append the compressed images recording to the FormData object
    //----------------------------------------------------------------------------
    if (typeof compressedBlob_1 !== 'undefined' && compressedBlob_1 !== null)
    {
      formData.delete('image_1');
      formData.append('image_1', compressedBlob_1, 'image_1.jpg');
    }
    if (typeof compressedBlob_2 !== 'undefined' && compressedBlob_2 !== null)
    {
      formData.delete('image_2');
      formData.append('image_2', compressedBlob_2, 'image_2.jpg');
    }
    if (typeof compressedBlob_3 !== 'undefined' && compressedBlob_3 !== null)
    {
      formData.delete('image_3');
      formData.append('image_3', compressedBlob_3, 'image_3.jpg');
    }
    if (typeof compressedBlob_4 !== 'undefined' && compressedBlob_4 !== null)
    {
      formData.delete('image_4');
      formData.append('image_4', compressedBlob_4, 'image_4.jpg');
    }
    //----------------------------------------------------------------------------
    // Send the form entered by the user
    //----------------------------------------------------------------------------
    console.log("DEBUG: POST user inputs to server");
    statusDiv.innerText = "Upload in process...";
    const postURL = "{% url 'plants:myplant_log_add' myplant.id %}"
    const response = await fetch(postURL, 
    {
      method:  "POST",
      headers: {'X-CSRFToken' : csrfToken},
      body:    formData
    });
    if (response.ok) 
    {
      const data = await response.json();
      statusDiv.innerText = "Upload successful!";
      console.log('Success:', data);
      // Handle your JSON response here (e.g., update DOM)
      let returnURL = "{% url 'plants:myplant_details' myplant.id %}";
      window.location.href = returnURL;
    } 
    else 
    {
      console.error('Server Error:', response.status);
    }
  } 
  catch (error) 
  {
      console.error('Network error:', error);
  }
});

//-----------------------------------------------------------------------------
// My Plant To Do functions
//-----------------------------------------------------------------------------
function todo_add()
{
    url = "{% url 'plants:myplant_todo_add' myplant.id %}"
    fetch(url) 
    .then(response => response.text())
    .then(html => {todo_add_modal.innerHTML = html;})
    .then(restoreToDoSort())
    todo_add_modal.style.display='block';
}
function todo_edit(id)
{
    // use '1234' placeholder id in Django template for servier-side rendering
    // javascript will replace placeholder id with actual todo record id
    const url = "{% url 'plants:myplant_todo_edit' id=1234 %}".replace('1234', id);
    fetch(url) 
    .then(response => response.text())
    .then(html => {todo_edit_modal.innerHTML = html;})
    .then(restoreToDoSort())
    todo_edit_modal.style.display='block';
}
function todo_delete(id)
{
    // use '1234' placeholder id in Django template for servier-side rendering
    // javascript will replace placeholder id with actual todo record id
    const url = "{% url 'plants:myplant_todo_del' id=1234 %}".replace('1234', id);
    fetch(url) 
    .then(response => response.text())
    .then(html => {todo_del_modal.innerHTML = html;})
    .then(restoreToDoSort())
    todo_del_modal.style.display='block';
}
function todo_done(id)
{
    // use '1234' placeholder id in Django template for servier-side rendering
    // javascript will replace placeholder id with actual todo record id
    const url = "{% url 'plants:myplant_todo_done' id=1234 %}".replace('1234', id);;
    const requestMethod = "POST";
    const csrfToken     = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const postData = { lastToDoSortCol : lastToDoSortCol,
                        lastToDoSortDir : lastToDoSortDir };
    fetch(url, 
    {
        method: requestMethod,
        headers: 
        {
            // Tells the server that the request body is in JSON format
            'Content-Type': 'application/json',
            //  Provides CSRF protection, necessary for Django
            'X-CSRFToken' : csrfToken
        },
        body: JSON.stringify(postData)
    })
    .then(response => response.text())
    .then(restoreToDoSort());
    window.location.reload()
}
function todo_show_all()
{
    const table = document.getElementById('todoTable');
    const rows  = table.getElementsByTagName("tr");

    for (let i = 1; i < rows.length; i++) 
    {
        rows[i].style.display = '';
    }
}
function todo_hide_done()
{
    const table = document.getElementById('todoTable');
    const rows  = table.getElementsByTagName("tr");
    const columnIndex = 0;

    for (let i = 1; i < rows.length; i++) 
    {
        const row = rows[i];
        const cells = row.getElementsByTagName('td');
        const cellValue = cells[columnIndex].textContent.trim();
        const status = cellValue.split('\n')[0];

        if (status == "check_box")
        {
            row.style.display = 'none'; // Hide the row
        } 
        else 
        {
            row.style.display = ''; // Ensure other rows are visible
        }
    }
}
function todo_sort(column)
{
    // sort the table per the specified column
    sortTable(column, 'todoTable');

    // save the column sorted in the script
    lastToDoSortCol = column;

    sortDirection(column);

    // Save sort column and direction to the server db
    const url = "/myplant_todo_save/" + myPlantID;
    const requestMethod = "POST";
    const csrfToken     = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const postData = { lastToDoSortCol : lastToDoSortCol,
                        lastToDoSortDir : lastToDoSortDir };

    fetch(url, 
    {
        method: requestMethod,
        headers: 
        {
            // Tells the server that the request body is in JSON format
            'Content-Type': 'application/json',
            //  Provides CSRF protection, necessary for Django
            'X-CSRFToken' : csrfToken
        },
        body: JSON.stringify(postData)
    })
    .then(response => response.text())
}
function restoreToDoSort()  
{
    // Determine if the table has any rows
    const table = document.getElementById('todoTable');
    const rowCount = table.rows.length;
    if (rowCount > 1)
    {
        // Since the table has rows it is safe to proceed
        let tempSortDirection = "ascending";
        console.log("Got to restoreToDoSort");

        sortTable(lastToDoSortCol, 'todoTable');

        // Determine sort direction
        const rows  = table.getElementsByTagName("tr");

        const firstRow = rows[1];
        const firstRowCells = firstRow.getElementsByTagName('td');
        const firstRowCellContents = firstRowCells[lastToDoSortCol].textContent.trim();
        const firstRowCellValue    = firstRowCellContents .split('\n')[0];

        const lastRow = rows[rows.length - 1];
        const lastRowCells = lastRow.getElementsByTagName('td');
        const lastRowCellContents = lastRowCells[lastToDoSortCol].textContent.trim();
        const lastRowCellValue    = lastRowCellContents .split('\n')[0];

        if( firstRowCellValue < lastRowCellValue )
        {
          tempSortDirection = "up";
        }
        else
        {
          tempSortDirection = "down";
        }

        console.log("lastToDoSortDir  =", lastToDoSortDir);
        console.log("tempSortDirection  =", tempSortDirection);

        if (tempSortDirection != lastToDoSortDir)
        {
          sortTable(lastToDoSortCol, 'todoTable');
        }
    }
}
function sortDirection(column)
{
    // Determine whether the sorted column is ascending or descending
    const table = document.getElementById('todoTable');
    const rows  = table.getElementsByTagName("tr");
    // Get the value contained in the selected column - first data row
    const firstRow = rows[1];
    const firstRowCells = firstRow.getElementsByTagName('td');
    const firstRowCellContents = firstRowCells[column].textContent.trim();
    const firstRowCellValue    = firstRowCellContents .split('\n')[0];
    // Get the value contained in the selected column - last data row
    const lastRow = rows[rows.length - 1];
    const lastRowCells = lastRow.getElementsByTagName('td');
    const lastRowCellContents = lastRowCells[column].textContent.trim();
    const lastRowCellValue    = lastRowCellContents .split('\n')[0];
    // save the column sort direction in the script
    if( firstRowCellValue < lastRowCellValue )
    {
        lastToDoSortDir = "up";
    }
    else
    {
        lastToDoSortDir = "down";
    }
}

function onClick(element) {
      document.getElementById("image").src = element.src;
      document.getElementById("image_modal").style.display = "block";
    }
//-----------------------------------------------------------------------------
// Plant Comment Modal
//-----------------------------------------------------------------------------
const modal   = document.getElementById("myplant_comment_modal");
const openBtn = document.getElementById("openCommentModalBtn");
// Open modal
openBtn.addEventListener("click", () => 
{
  modal.style.display = "block";
});
// Close modal
function myplant_comment_add_close()
{
  document.getElementById('myplant_comment_modal').style.display='none';
  document.body.classList.remove('bnd-modal-open');
}
// Close modal if user clicks anywhere outside of the modal container
window.addEventListener("click", (e) => 
{
  if (e.target === modal) 
  {
    myplant_comment_modal.style.display = "none";
    document.body.classList.remove('bnd-modal-open');
  }
});
//-----------------------------------------------------------------------------
// Sort My Plants table by Date
//-----------------------------------------------------------------------------
window.onload = restoreToDoSort();
</script>
{% endblock js %}