<!-- /plants/templates/plnts/myplants_details.html -->
{% extends "plants/master.html" %}

{% block title %}Plant Details{% endblock %}

{% block content %}

  <!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">
        {{ my_plant.plant.commonName }} 
        <span style="font-style: italic;">
          ( {{ my_plant.plant.genus }} {{ my_plant.plant.species }} )
        </span>
      </h1>
      <!-- AR: link to My Plant update page-->
      <a href="{x% url 'plants:myplants_update'  my_plant.id %x}" class="w3-button">update</a>
    </div>
  </div>
</header>

<body>
  <!-- My Plant Attributes -->
  <div style="margin-top:140px;">
    <div class="w3-row-padding">
      <div class="w3-col s4">
        <header class="w3-container w3-green w3-border">
          <h3>Characteristics</h3>
        </header>
        <div class="w3-container w3-border">
          <p>Date Planted:        {{ my_plant.date_planted }}</p>
          <p>Location:            {{ my_plant.location }}</p>
          <p>Sun Exposure:        {{ my_plant.sun_exposure  }}</p>
        </div> 
      </div>
    </div>
  </div>
  <hr>

  <!-- Comments -->
  <div class="w3-margin">
    <fieldset>
      <legend>Comments</legend>
      {% for comment in myplant_comments %}
        <p>Subject: {{ comment.subject }}</p>
        <p>Author:  {{ comment.author  }}</p>
        {{ comment.comment.html|safe|escape }}
        <hr>
      {% endfor %}
      <p><a href="{% url 'plants:myplants_comment' my_plant.id %}">Add comment</a></p>
    </fieldset>
  </div>

  <hr>
  {% include "plants/plants_details_insert.html" %}
</body>

<!-- Footer -->
<footer class="w3-container w3-green" style="margin-top:20px;">
  <p>Footer</p>
</footer>

{% endblock %}