<!-- /app/plants/templates/plants/myplants_summary.html -->
{% extends "plants/master.html" %}

{% block title %}My Plants{% endblock %}

{% block content %}

<!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">My Plants</h1>
    </div>
  </div>
</header>

<!-- My Plants -->
<body onload="sortTable(0)">
  <!-- My Plant Table -->
  <div class="w3-container" id="main" style="margin-top:140px;">
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-light-grey">
          <th style="cursor:pointer" onclick="sortTable(0)">Common Name   </th>
          <th style="cursor:pointer" onclick="sortTable(1)">Genus         </th>
          <th style="cursor:pointer" onclick="sortTable(2)">Species       </th>
          <th style="cursor:pointer" onclick="sortTable(3)">Type          </th>
          <th style="cursor:pointer" onclick="sortTable(4)">Location      </th>
          <th style="cursor:pointer" onclick="sortTable(5)">Sun Exposure  </th>
          <th style="cursor:pointer" onclick="sortTable(6)">pH            </th>
          <th style="cursor:pointer" onclick="sortTable(7)">Soil Type     </th>
          <th class="w3-center">Happy?        </th>
          <th class="w3-center">Plant Details </th>
        </tr>
      </thead>
      {% for my_plant in my_plants %}  
        <tr class="w3-hover-green">
          <td>{{ my_plant.plant.commonName }}</td>
          <td style="font-style: italic;">{{ my_plant.plant.genus    }}</td>
          <td style="font-style: italic;">{{ my_plant.plant.species  }}</td>
          <td>{{ my_plant.plant.type_x     }}</td>
          <td>{{ my_plant.location         }}</td>
          <td>{{ my_plant.sun_exposure     }}</td>
          <td>{{ my_plant.pH               }}</td>
          <td>{{ my_plant.soil_type        }}</td>
          <td class="w3-center">TBD          </td>
          <td class="w3-center"><a href="{% url 'plants:plants_details' my_plant.plant.id %}"><i class="material-icons">library_books</i></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("plantTable");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      // Make a loop that will continue until no switching has been done
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        // Loop through all table rows (except the first, which contains table headers)
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          // Get the two elements you want to compare, one from current row and one from the next
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          // Check if the two rows should switch place, based on the direction, asc or desc
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          // If a switch has been marked, make the switch and mark that a switch has been done
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          // If no switching has been done AND the direction is "asc", set the direction to "desc" 
          // and run the while loop again.
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>
</body>

<!-- Footer -->
<footer class="w3-container w3-green">
  <p>Footer</p>
</footer>

{% endblock %}