<!-- /app/plants/templates/plants/myplants_summary.html -->
{% extends "plants/master.html" %}

{% block title %}My Plants{% endblock %}

{% block content %}

<!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">My Plants</h1>
    </div>
  </div>
</header>

<!-- My Plants -->
<body>
  <!-- My Plant Table -->
  <div class="w3-container" id="main" style="margin-top:140px;">
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-light-grey">
          <th>Common Name   </th>
          <th>Genus         </th>
          <th>Species       </th>
          <th>Type          </th>
          <th>Location      </th>
          <th>Sun Exposure  </th>
          <th>pH            </th>
          <th>Soil Type     </th>
          <th class="w3-center">Happy?        </th>
          <th class="w3-center">Plant Details </th>
        </tr>
      </thead>
      {% for my_plant in my_plants %}  
        <tr class="w3-hover-green">
          <td>{{ my_plant.plant.commonName }}</td>
          <td style="font-style: italic;">{{ my_plant.plant.genus    }}</td>
          <td style="font-style: italic;">{{ my_plant.plant.species  }}</td>
          <td>{{ my_plant.plant.type_x     }}</td>
          <td>{{ my_plant.location         }}</td>
          <td>{{ my_plant.sun_exposure     }}</td>
          <td>{{ my_plant.pH               }}</td>
          <td>{{ my_plant.soil_type        }}</td>
          <td class="w3-center">TBD          </td>
          <td class="w3-center"><a href="{% url 'plants:plants_details' my_plant.plant.id %}"><i class="material-icons">library_books</i></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
</body>

<!-- Footer -->
<footer class="w3-container w3-green">
  <p>Footer</p>
</footer>

{% endblock %}