<!-- /app/plants/templates/plants/pest_summary.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Pest | Summary</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container  bnd-green">
      <h3 class="bnd-bar-item">
        Pests
        <span class="bnd-dropdown-hover bnd-right">
          <button class="bnd-button bnd-green" style="z-index:21">
            <i class="material-icons">
              menu
            </i>
          </button>
          <div class="bnd-dropdown-content w3-bar-block bnd-card-4" style="right:0; font-size: 16px">
            <a href="{% url 'plants:pest_add' %}"  class="bnd-bar-item bnd-button">Add Pest</a>
          </div>
        </span>
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
 
  <!------------------------->
  <!--        Modals       -->
  <!------------------------->
  
  <!-- Pest Delete modal - html to be inserted by Javascript -->
  <div id="pest_delete_modal" class="bnd-modal">
    <p>Pest delete form HTML to be Inserted Here!</p>
  </div>

  <!------------------------->
  <!--     Pest Table     -->
  <!------------------------->

  <div class="bnd-container" id="main" style="margin-top:120px;">
    <table class="w3-table-all w3-hoverable" id="pestTable">
      <thead>
        <tr class="bnd-light-grey">
          <!-- Pest Attributes -->
          <th style="cursor:pointer" onclick="sortTable(0, 'pestTable')" >Pest Name </th>
          <th style="cursor:pointer" onclick="sortTable(1, 'pestTable')" >Pest Type </th>
          <th style="cursor:pointer" onclick="sortTable(2, 'pestTable')" >UC IPM URL</th>
          <!-- Pest Update header placeholder -->
          {% if perms.plants.change_plant %}
            <th class="w3-center"></th>
          {% endif %}
          <!-- Pest Delete header placeholder -->
          {% if perms.plants.delete_plant %}
            <th class="w3-center"></th>
          {% endif %}
        </tr>
      </thead>
      {% for pest in pests %} 
        <tr class="w3-hover-green">
          <!-- Pest Attributes -->
          <td>{{ pest.pest_name     }}</td>
          <td>{{ pest.pest_type     }}</td>
          <td>
            <a href="{{ pest.pest_url|safe|escape }}" target="_blank">UC IPM Link</a>
          </td>
          <!-- Pest Update Icon/Link -->
          {% if perms.plants.change_plant %}
            <td class="w3-center" 
              style="color:black; margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px;">
              <div class="w3-tooltip">
                <a href="{% url 'plants:pest_update' pest.id %}">
                  <i class="material-icons">
                    edit
                  </i>
                  <span style="position:absolute; left:0; bottom:34px;" 
                  class="w3-text w3-tag bnd-round-xlarge w3-animate-opacity">
                    Edit
                  </span>
                </a>
              </div>
            </td>
          {% endif %}
          <!-- Pest Delete Icon/Link -->
          {% if perms.plants.delete_plant %}
            <td class="w3-center" 
              style="color:black; margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px;">
              <div class="w3-tooltip">
                <button onclick="pest_delete({{ pest.id }})" class="bnd-transparent bnd-border-0">
                  <i class="material-icons" style="color:black;">
                    delete
                  </i>
                  <span style="position:absolute; left:0; bottom:34px;" 
                        class="w3-text w3-tag bnd-round-xlarge w3-animate-opacity">
                    Delete
                  </span>
                </button>
              </div>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>

{% endblock content %}

{% block js %}

  <!-- Delete Pest Modal Script --> 
  <script>
    function pest_delete(id) {
      // Get the pest delete modal
      const pest_delete_modal  = document.getElementById('pest_delete_modal')
      // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses
      url = "/pest_delete/" + id
      fetch(url)
        .then(response => response.text())
        .then(html => {pest_delete_modal.innerHTML = html;})
      // Display the = pest modal
      pest_delete_modal.style.display='block'
    }
  </script>

  <!-- On Page load functions -->
  <script>
    // Sort table alphabetically by Common Name
    // window.onload = sortTable(0, 'plantTable');
  </script>
{% endblock js %}