<!-- /app/plants/templates/plants/pest_delete_modal.html -->

<div class="bnd-modal-content-300">
    <div class="bnd-modal-header">
      <h4>Delete "{{ pest.pest_name }}"?</h4>
    </div>
    <form class="bnd-container" action="{% url 'plants:pest_delete' pest.id %}" method="post">
      {% csrf_token %}
      <div class="bnd-modal-button-bar">
        <button type="submit" class="bnd-button-submit">Confirm</button>
        <a href="{% url 'plants:plants_summary' %}">
          <button type="button" class="bnd-button-cancel">Cancel</button>
        </a>
      </div>
    </form>
  </div>