<!-- /app/plants/templates/plants/pest_summary.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Pest | Summary</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container bnd-green">
      <h3 class="bnd-bar-item">
        Pests
        <span class="bnd-dropdown-hover bnd-right bnd-green">
          <button class="bnd-button-small">
            <i class="material-icons">menu</i>
          </button>
          <div class="bnd-dropdown-content bnd-bar-block bnd-card-4" style="right:0; font-size: 16px">
            <a href="{% url 'plants:pest_add' %}"  class="bnd-bar-item bnd-button">Add Pest</a>
          </div>
        </span>
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
 
  <!------------------------->
  <!--        Modals       -->
  <!------------------------->
  
  <!-- Pest Delete modal - html to be inserted by Javascript -->
  <div id="pest_delete_modal" class="bnd-modal">
    <p>Pest delete form HTML to be Inserted Here!</p>
  </div>

  <!------------------------->
  <!--     Pest Table     -->
  <!------------------------->

  <div class="bnd-container" id="main" style="margin-top:120px;">
    <table class="bnd-table-all bnd-hoverable" id="pestTable">
      <thead>
        <tr class="bnd-light-grey">
          <!-- Pest Attributes -->
          <th style="cursor:pointer" onclick="sortTable(0, 'pestTable')" >Pest Name </th>
          <th style="cursor:pointer" onclick="sortTable(1, 'pestTable')" >Pest Type </th>
          <th style="cursor:pointer" onclick="sortTable(2, 'pestTable')" >UC IPM URL</th>
          <!-- Pest Update header placeholder -->
          {% if perms.plants.change_plant %}
            <th class="bnd-center"></th>
          {% endif %}
          <!-- Pest Delete header placeholder -->
          {% if perms.plants.delete_plant %}
            <th class="bnd-center"></th>
          {% endif %}
        </tr>
      </thead>
      {% for pest in pests %} 
        <tr class="bnd-hover-light-green">
          <!-- Pest Attributes -->
          <td>{{ pest.pest_name     }}</td>
          <td>{{ pest.pest_type     }}</td>
          <td>
            <a href="{{ pest.pest_url|safe|escape }}" target="_blank">UC IPM Link</a>
          </td>
          <!-- Pest Update Icon/Link -->
          {% if perms.plants.change_plant %}
            <td class="bnd-center">
              <div class="bnd-tooltip">
                <a href="{% url 'plants:pest_update' pest.id %}">
                  <i class="material-icons">edit  </i>
                  <span class="bnd-tooltip-text">Edit</span>
                </a>
              </div>
            </td>
          {% endif %}
          <!-- Pest Delete Icon/Link -->
          {% if perms.plants.delete_plant %}
            <td class="bnd-center">
              <div class="bnd-tooltip">
                <button onclick="pest_delete({{ pest.id }})" class="bnd-button-small">
                  <i class="material-icons">delete</i>
                  <span class="bnd-tooltip-text">Delete</span>
                </button>
              </div>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>

{% endblock content %}

{% block js %}

  <!-- Delete Pest Modal Script --> 
  <script>
    function pest_delete(id) {
      // Get the pest delete modal
      const pest_delete_modal  = document.getElementById('pest_delete_modal')
      // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses
      url = "/pest_delete/" + id
      fetch(url)
        .then(response => response.text())
        .then(html => {pest_delete_modal.innerHTML = html;})
      // Display the = pest modal
      pest_delete_modal.style.display='block'
    }
  </script>

  <!-- On Page load functions -->
  <script>
    // Sort table alphabetically by Common Name
    // window.onload = sortTable(0, 'plantTable');
  </script>
{% endblock js %}