<!-- /plants/templates/plants/pest_update.html -->
{% extends "plants/master.html" %}
{% load static %}

{% block title %}
  <title>IPM | Update</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <h1>
    <img src="{% static 'plants/img/logo.png' %}"  alt="No logo found" class="bnd-logo">
    Update Pest
  </h1>
{% endblock header-completion %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bnd-button-submit">Submit</button>
    <button type="reset"  class="bnd-button bnd-grey  bnd-round-medium">Reset</button>
    <a href="{% url 'plants:pest_summary' %}">
      <button type="button" class="bnd-button-cancel">Cancel</button>
    </a>
  </form>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}