<!-- /app/plants/templates/plants/pest_summary.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Pest | Summary</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
<style>
  #pest_summary   { background-color: slategray; }
  #pest_summary a { color:            white; }
</style>
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <header class="bnd-page-banner">
    <h3>
      Pests
      <span class="bnd-dropdown-container">
        <button class="bnd-button-small">
          <i class="material-icons">menu</i>
        </button>
        <div class="bnd-dropdown-content">
          <a href="{% url 'plants:pest_add' %}" class="bnd-dropdown-button">Add Pest</a>
        </div>
      </span>
    </h3>
  </header>
{% endblock header-completion %}

{% block content %}
  <!------------------------->
  <!--     Pest Table     -->
  <!------------------------->
  <div id="main" class="bnd-content-main-100">
    <table id="pestTable" class="bnd-table">
      <thead>
        <tr>
          <!-- Pest Attributes -->
          <th onclick="sortTable(0, 'pestTable')" >Pest Name </th>
          <th onclick="sortTable(1, 'pestTable')" >Pest Type </th>
          <th onclick="sortTable(2, 'pestTable')" >UC IPM URL</th>
          <!-- Pest Update header placeholder -->
          {% if perms.plants.change_plant %}
            <th class="bnd-center"></th>
          {% endif %}
          <!-- Pest Delete header placeholder -->
          {% if perms.plants.delete_plant %}
            <th class="bnd-center"></th>
          {% endif %}
        </tr>
      </thead>
      {% for pest in pests %} 
        <tr>
          <!-- Pest Attributes -->
          <td>{{ pest.pest_name }}</td>
          <td>{{ pest.pest_type }}</td>
          <td>
            <a href="{{ pest.pest_url|safe|escape }}" target="_blank">UC IPM Link</a>
          </td>
          <!-- Pest Update Icon/Link -->
          {% if perms.plants.change_plant %}
            <td class="bnd-table-icon">
              <div class="bnd-tooltip">
                <a href="{% url 'plants:pest_update' pest.id %}">
                  <i class="material-icons bnd-text-black">edit</i>
                  <span class="bnd-tooltip-text">Edit</span>
                </a>
              </div>
            </td>
          {% endif %}
          <!-- Pest Delete Icon/Link -->
          {% if perms.plants.delete_plant %}
            <td class="bnd-table-icon">
              <div class="bnd-tooltip">
                <button onclick="pest_delete({{ pest.id }})" class="bnd-button-small">
                  <i class="material-icons bnd-text-black">delete</i>
                  <span class="bnd-tooltip-text">Delete</span>
                </button>
              </div>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
  <!-------------------------------------------------------------------------->
  <!-- Modals                                                               -->
  <!-------------------------------------------------------------------------->
  <!-- Pest Delete modal - html to be inserted by Javascript -->
  <div id="pest_delete_modal" class="bnd-modal">
    <p>Pest delete form HTML to be Inserted Here!</p>
  </div>
  
{% endblock content %}

{% block js %}
  <!-- Delete Pest Modal Script --> 
  <script>
    function pest_delete(id) {
      // Get the pest delete modal
      const pest_delete_modal  = document.getElementById('pest_delete_modal')
      // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses
      url = "/pest_delete/" + id
      fetch(url)
        .then(response => response.text())
        .then(html => {pest_delete_modal.innerHTML = html;})
      // Display the = pest modal
      pest_delete_modal.style.display='block'
    }
  </script>
{% endblock js %}