<!-- /app/plants/templates/plants/pest_delete_modal.html -->

<div class="bnd-modal-content-300">
    <div class="bnd-container bnd-border-top bnd-light-grey bnd-center">
      <h4>Delete "{{ pest.pest_name }}"?</h4>
    </div>
    <form class="bnd-container" action="{% url 'plants:pest_delete' pest.id %}" method="post">
      {% csrf_token %}
      <div class="bnd-modal-button-bar">
        <button type="submit" class="bnd-button bnd-green bnd-round-medium">
          Confirm
        </button>
        <a href="{% url 'plants:plants_summary' %}">
          <button type="button" class="bnd-button bnd-red bnd-round-medium">
            Cancel
          </button>
        </a>
      </div>
    </form>
  </div>