<!-- /app/plants/templates/plants/plants_reference.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Reference</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="w3-card-4">
    <header class="w3-container  w3-green">
      <h3 class="w3-bar-item">
        Reference
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- Reference -->
  <div class="w3-container" style="margin-top:100px;">

    <h4><a href="https://garden.org/" target="_blank">National Gardening Association</a></h4>
    <p class="w3-margin-left">
      On the Garden.org website, gardeners can access a vast and rich resource of articles,
      information, community features, gardening research, software tools, and all manner of 
      gardening content to find how to grow all kinds of plants, identify and control pests 
      and diseases, or figure out what kind of weeds are sprouting in the garden.
      <ul>
        <li>
          <a href="https://garden.org/learn/"                 target="_blank">Learning Library</a>
        </li>
        <li>
          <a href="https://garden.org/plants/search/text.php" target="_blank">Plant Database  </a>
        </li>
        <li>
          <a href="https://garden.org/apps/"                  target="_blank">Useful Tools    </a>
        </li>
      </ul>
    </p>

    <h4><a href="https://plants.ces.ncsu.edu/" target="_blank">North Carolina Extension Gardener Plant Toolbox</a></h4>
    <p class="w3-margin-left">
      Site contains scientific name phonetic spelling and audio pronunciation
    </p>

    <h4><a href="https://sunsetplantcollection.com/climate-zones/" target="_blank">Sunset - Climate Zones</a></h4>
    <p class="w3-margin-left">
      A plant's performance is governed by the total climate: length of growing season, timing and
      amount of rainfall, winter lows, summer highs, wind, and humidity.  Sunset’s climate zone maps
      take all these factors into account, unlike the familiar hardiness zone maps devised by the 
      U.S. Department of Agriculture, which divides most of North America into zones based strictly 
      on winter lows.
    </p>

    <h4><a href="https://sunsetplantcollection.com/climate-zones/zone-14/" target="_blank">Sunset - Plants Recommended for Climate Zone 14</a></h4>
    <p class="w3-margin-left">
      Marine air moderates parts of Zone 14 that otherwise would be colder in winter and hotter in summer.
      The opening in Northern California’s Coast Ranges created by San Francisco and San Pablo bays allows
      marine air to spill much farther inland.  This list plants well suited for Zone 14.
    </p>

    <h4><a href="https://gardenia.net/" target="_blank">Gardenia</a></h4>
    <p class="w3-margin-left">summary here!</p>

    <h4><a href="https://mg.ucanr.edu/" target="_blank">UC Master Gardener Program</a></h4>
    <p class="w3-margin-left">
      Our mission is to provide California residents with research-based information on home 
      horticulture, pest management, and sustainable landscape practices.

      Here's what we do:
      <ul>
        <li>
          Share the latest gardening research from the University of California
        </li>
        <li>
          Hold fun workshops to teach sustainable gardening practices
        </li>
        <li>
          Answer your gardening and pest management questions by email or phone
        </li>
        <li>
          Help create beautiful, earth-friendly gardens all over California
        </li>
        <li>
          Teach people of all ages how to grow food and care for their landscapes
        </li>
      </ul>
    </p>

    <h4><a href="https://yolomg.ucanr.edu/" target="_blank">UC Master Gardener Program of Yolo County</a></h4>
    <p class="w3-margin-left">
      As part of the University of California's Agriculture and Natural Resources division, 
      the UC Master Gardener Program of Yolo County volunteers are here to share research-based 
      knowledge and sustainable gardening practices with our neighbors. Whether you are just 
      starting a garden or are an experienced gardener, want to grow food or cut flowers, have 
      raised beds, potted plants, or a large home garden, we are here to help.  Our mission is 
      to extend research-based knowledge and information on home horticulture, pest management, 
      and sustainable landscape practices to the residents of California.
    </p>

    <h4><a href="https://arboretum.ucdavis.edu/arboretum-all-stars" target="_blank">UC Davis Arboretum All Stars</a></h4>
    <p class="w3-margin-left">
      The UC Davis Arboretum All-Star plant list focuses on the following:
    </p>
    <ul>
      <li>Provides seasonal beauty or sensory interest</li>
      <li>Easy to grow with minimal maintenance and adapted to local soil and climate conditions</li>
      <li>Tolerant of heat and cold under current and projected climate scenarios</li>
      <li>Non-invasive plant species</li>
    </ul>
    <p class="w3-margin-left">
      UC Davis Arboretum All-Star plant list pdf is located 
      <a href="file:///Users/brentdichter/Documents/Activities/Gardening/UCD%20All-Stars.pdf" target="_blank">here</a>
    </p>

    <h4><a href="https://arboretum.ucdavis.edu/plant-database" target="_blank">UC Davis Arboretum All Stars - Plant Database</a></h4>
    <p class="w3-margin-left">
      Search the Arboretum All-Stars plant database to explore the UC Davis Arboretum climate-ready 
      lineup. Discover plants selected to thrive in hotter and drier conditions and withstand extreme 
      weather events while supporting pollinators and local wildlife.
    </p>

    <h4><a href="https://ipm.ucanr.edu/PMG/menu.homegarden.html" target="_blank">UC IPM (Integrated Pest Management)</a></h4>
    <p class="w3-margin-left">
      The UC Statewide IPM Program provides practical information on pest management techniques and 
      identification for a broad range of California pests. Management suggestions apply to California, 
      but they may be useful in other areas also.
    </p>

    <h4><a href="https://plants.usda.gov/home" target="_blank">USDA Plant Database</a></h4>
    <p class="w3-margin-left">
      The Plants Database provides standardized information about the vascular plants, mosses, 
      liverworts, hornworts, and lichens of the United States and its territories. It includes 
      names, plant symbols, checklists, distributional data, species abstracts, characteristics, 
      images, crop information, automated tools, web links, and references.
    </p>

    <h4><a href="https://planthardiness.ars.usda.gov/" target="_blank">USDA Plant Hardiness Zone Map</a></h4>
    <p class="w3-margin-left">summary here!</p>

    <hr>

    <h4><a href="https://www.americanmeadows.com/" target="_blank">American Meadows</a></h4>
    <p class="w3-margin-left">summary here!</p>

  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}