<!-- /app/plants/templates/plants/plants_about.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Gateway Gardens | About</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <header class="bnd-page-banner">
    <h3>About</h3>
  </header>
{% endblock header-completion %}

{% block content %}
  <!-- About -->
  <div class="bnd-content-main-100">
    <h3>Under Construction</h3>
    <section class="contact-us">
      <h4>Contact:</h4>
      <!-- AR: Change e-mail address to 'z14-gardens-webmaster@gmail.com'-->
      <p>e-mail: <a href="mailto:b_dichter@yahoo.com">b_dichter@yahoo.com</a></p>
    </section>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}