<!-- app/plants/templates/plants/plants_delete.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Plant | Delete</title>
{% endblock title %}

<!-- AR: Convert to modal -->
{% block content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <h1>Do you want to delete the plant: "{{ plant.commonName }}"?</h1>
  <p>
    <button type="submit">Yes</button>
    <a href="{% url 'plants:plants_search' %}"><button type="button">No</button></a>
  </p>
</form>
{% endblock content %}


{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}