<!-- /app/plants/templates/plants/plants_glossary.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Glossary</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
    <!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">Glossary</h1>
    </div>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- Glossary -->
  <div class="w3-container" style="margin-top:140px;">
    <h3>Cultivar</h3>
    <p class="w3-margin-left">
      A specific plant variety that has been intentionally bred by humans to possess desirable characteristics, 
      meaning it is cultivated and maintained through human intervention; essentially, a cultivar is a "cultivated 
      variety" of a plant species.  The scientific naming is as follows:  Genus species 'Cultivar'
    </p>

    <h3>Fertilizer NPK</h3>
      <ul>
        <li>N = Nitrogen</li>
        <li>P = Phosphorus</li>
        <li>K = Potasium</li>
      </ul>

    <h3>Sunset Zones</h3>
    <p class="w3-margin-left">
      Sunset climate zones consider the total climate: length of growing season, 
      timing and amount of rainfall winter lows, summer highs, wind, and humidity.
    </p>

    <h3>USDA Zones</h3>
    <p class="w3-margin-left">text here!</p>

    <h3>Variety</h3>
    <p class="w3-margin-left">A naturally occurring variation within a plant species, often arising from genetic mutations or environmental factors</p>

  </div>
{% endblock content%}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}