<!-- /app/plants/templates/plants/plants_search.html -->
{% extends "plants/master.html" %}

{% block title %}Plants - Search{% endblock %}

{% block content %}

<!-- complete the header from master.html -->
  <div class="w3-bar w3-green">
    <div class="w3-dropdown-hover">
      <button class="w3-button w3-green">Menu</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <button id="openNav" class="w3-bar-item w3-button" onclick="w3_open()"  >Search</button>
        <a href="{% url 'plants:plants_add' %}"  class="w3-bar-item w3-button"  >Add Plant </a>
        <a href="{% url 'plants:gardens_add' %}" class="w3-bar-item w3-button"  >Add Garden</a>
      </div>
    </div>
    <h1 class="w3-bar-item">Plants</h1>
  </div>
</header>

<body onload="sortTable(0)">  <!-- pre-sort table by Common Name -->

  <!-- Search Bar -->
  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-margin-left" style="display:none" id="mySidebar">
    <div class="w3-row">
      <div class="w3-third w3-center">
        <h5>Search  </h5>
      </div>
      <div class="w3-third w3-center">
        <h3></h3>
      </div>
      <div class="w3-third w3-right">
        <button class="w3-button w3-large" onclick="w3_close()">&times;</button>
      </div>
    </div>
    
    <form method="POST" action="{% url 'plants:plants_search' %}" class="w3-container w3-card-4 w3-light-grey">
      {% csrf_token %}
      <label for="id_type_x_option">Type:</label><br>
      <select id="id_type_x_option" name="type_x_option" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for plant_type in plant_types %}
          {% if plant_type == type_x_value %}
            <option value="{{ plant_type }}" selected>{{ plant_type }}</option>
          {% elif plant_type != "tbd" %}
            <option value="{{ plant_type }}"         >{{ plant_type }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>
      <label for="id_sun_exposure_option">Sun Exposure:</label><br>
      <select id="id_sun_exposure_option" name="sun_exposure_option" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in sun_exposure_opt %}
          {% if x == sun_exposure_value %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
        </select>
        <br>
        <label for="id_water_rqmts_option">Water Requirements:</label><br>
        <select id="id_water_rqmts_option" name="water_rqmts_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in water_rqmts_opt %}
            {% if x == water_rqmts_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_bloom_color_option">Bloom Color:</label><br>
        <select id="id_bloom_color_option" name="bloom_color_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in bloom_color_opt %}
            {% if x == bloom_color_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_bloom_season_option">Bloom Season:</label><br>
        <select id="id_bloom_season_option" name="bloom_season_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in bloom_season_opt %}
            {% if x == bloom_season_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_pollinators_option">Pollinators:</label><br>
        <select id="id_pollinators_option" name="pollinators_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in pollinators_opt %}
            {% if x == pollinators_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_ucd_all_star_option">UCD All-Star:</label><br>
        <select id="id_ucd_all_star_option" name="ucd_all_star_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in ucd_all_star_opt %}
            {% if x == ucd_all_star_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_ca_native_option">California Native:</label><br>
        <select id="id_ca_native_option" name="ca_native_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in ca_native_opt %}
            {% if x == ca_native_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_garden_option">All plants / My plants</label><br>
        <select id="id_garden_option" name="garden_option" class="w3-select w3-margin-bottom">
          {% if garden_value == "Any" %}
            <option value="Any"  selected>Any </option>
            <option value="Mine"         >Mine</option>
          {% else %}
            <option value="Any"          >Any </option>
            <option value="Mine" selected>Mine</option>
          {% endif %}
        </select>
        <br>
      <input type="submit" value="Submit" class="w3-button w3-border w3-white w3-round-large w3-margin-bottom">
      <a href="{% url 'plants:plants_search' %}" class="w3-button w3-border w3-white w3-round-large w3-margin-bottom">Reset</a>
    </form>
  </div>

<!-- Plant Table -->
<!-- AR: Remove single quotes around several displayed values -->
  <div class="w3-container" id="main" style="margin-top:140px;">
    <table class="w3-table-all w3-hoverable" id="plantTable">
      <thead>
        <tr class="w3-light-grey">
          <th style="cursor:pointer" onclick="sortTable(0)">Common Name  </th>
          <th style="cursor:pointer" onclick="sortTable(1)">Type         </th>
          <th style="cursor:pointer" onclick="sortTable(2)">Sun Exposure </th>
          <th style="cursor:pointer" onclick="sortTable(3)">Water Rqmts  </th>
          <th style="cursor:pointer" onclick="sortTable(4)">Bloom Color  </th>
          <th style="cursor:pointer" onclick="sortTable(5)">Bloom Season </th>
          <th style="cursor:pointer" onclick="sortTable(6)">Pollinators  </th>
          <th style="cursor:pointer" onclick="sortTable(7)">Species      </th>
          <th style="cursor:pointer" onclick="sortTable(8)" class="w3-center">CA Native    </th>
          <th class="w3-center"></th>
          <th class="w3-center"></th>
          <th class="w3-center"></th>
          <th class="w3-center"></th>
        </tr>
      </thead>
      {% for plant in plants %}
        {% if plant.show == "yes" %}   
          <tr class="w3-hover-green">
            <td>{{ plant.commonName                   }}</td>
            <td>{{ plant.type_x                       }}</td>
            <td>{{ plant.sun_exposure|cut:"["|cut:"]" }}</td>
            <td>{{ plant.water_rqmts                  }}</td>
            <td>{{ plant.bloom_color |cut:"["|cut:"]" }}</td>
            <td>{{ plant.bloom_season|cut:"["|cut:"]" }}</td>
            <td>{{ plant.pollinators |cut:"["|cut:"]" }}</td>
            <td>{{ plant.species                      }}</td>
            <td class="w3-center">{{ plant.ca_native   }}</td>
            <!-- AR -->
            <td class="w3-center"><a href="{% url 'plants:plants_details' plant.id %}"><i class="material-icons">library_books</i></a></td>
            <td class="w3-center"><a href="{% url 'plants:plants_update'  plant.id %}"><i class="material-icons">edit         </i></a></td>
            <td class="w3-center"><a href="{% url 'plants:plants_delete'  plant.id %}"><i class="material-icons">delete       </i></a></td>
            <td class="w3-center"><a href="{% url 'plants:myplants_add'   plant.id %}"><i class="material-icons">add          </i></a></td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
  <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("plantTable");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      // Make a loop that will continue until no switching has been done
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        // Loop through all table rows (except the first, which contains table headers)
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          // Get the two elements you want to compare, one from current row and one from the next
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          // Check if the two rows should switch place, based on the direction, asc or desc
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          // If a switch has been marked, make the switch and mark that a switch has been done
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          // If no switching has been done AND the direction is "asc", set the direction to "desc" 
          // and run the while loop again.
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>
</body>

<!-- Footer -->
<footer class="w3-container w3-green w3-margin-top">
  <p>Footer</p>
</footer>

<script>
  function w3_open() {
    document.getElementById("main").style.marginLeft = "15%";
    document.getElementById("mySidebar").style.width = "15%";
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("openNav").style.display = 'none';
  }
  function w3_close() {
    document.getElementById("main").style.marginLeft = "0%";
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("openNav").style.display = "inline-block";
  }
</script>

{% endblock %}