<!-- app/plants/templates/plants/plant_edit.html -->
{% extends "plants/master.html" %}
{% load static %}

<!-- Required in order to load static files -->
{% load static %}

{% block title %}
  <title>Plant | Update</title>
{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'plants/css/audio_recorder.css' %}">
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <h1>
    <img src="{% static 'plants/img/logo.png' %}"  alt="No logo found" class="bnd-logo">
    Update: {{ plant.commonName }}
    <span>(</span>
    <div class="bnd-truncate">
      <span>{{ plant.genus }} {{ plant.species }}</span>
      {% if plant.variety != "tbd" and plant.variety != 'n/a' %}
        <span class="bnd-variety">var. {{ plant.variety }}</span> 
      {% elif plant.cultivar != "tbd" and plant.cultivar != 'n/a' %}
        <span class="bnd-cultivar">'{{ plant.cultivar }}'</span>
      {% endif %}
    </div>
    <span>)</span>
    <span class="bnd-dropdown-container">
      <button class="bnd-button-small">
        <i class="material-icons">menu</i>
      </button>
      <div class="bnd-dropdown-content">
        <a target="_blank" class="bnd-dropdown-button" href="https://garden.org/">
          National Gardening Association
        </a>
        <a target="_blank" class="bnd-dropdown-button" href="https://plants.ces.ncsu.edu/">
          North Carolina Extension Gardener Plant Toolbox
        </a>
        <a target="_blank" class="bnd-dropdown-button" href="https://www.gardenia.net">
          Gardenia
        </a>
        <a target="_blank" class="bnd-dropdown-button" href="https://plants.usda.gov/home">
          USDA Plant Database
        </a>
        <a target="_blank" class="bnd-dropdown-button" href="https://arboretum.ucdavis.edu/plant-database">
          UC Davis Arboretum All Stars - Plant Database
        </a>
        <a target="_blank" class="bnd-dropdown-button" href="https://sunsetplantcollection.com/climate-zones/zone-14/">
          Sunset - Plants Recommended for Climate Zone 14
        </a>
        <a target="_blank" class="bnd-dropdown-button" href="https://www.cityofdavis.org/home/showpublisheddocument/20284/638835996605670000">
          City of Davis - Climate-Ready Tree List
        </a>
      </div>
    </span>
  </h1>
{% endblock header-completion %}

{% block content %}
  <form name     = "plantForm"
        id       = "id_plantForm"
        action   = "" 
        method   = "post" 
        enctype  = "multipart/form-data"
        onsubmit = "validatePlantForm()">
    {% csrf_token %}
    <div class="grid-container">
      <!-- Attributes -->
      <div class="attributes">
        <fieldset>
          <legend>Attributes:</legend>
          {{ form.commonName.as_field_group  }} <br/>
          {{ form.type_x.as_field_group      }} <br/>
          {{ form.height_feet.as_field_group }} <br/>
          {{ form.height_inch.as_field_group }} <br/>
          {{ form.width_feet.as_field_group  }} <br/>
          {{ form.width_inch.as_field_group  }}
        </fieldset>
        {{ form.ca_native.as_field_group }}
        {{ form.pollinators.as_field_group }}
      </div>
      <!-- Attributes: Blooms -->
      <div class="blooms">
          {{ form.bloom_color.as_field_group }}
          {{ form.bloom_season.as_field_group }}
          {{ form.bloom_start.as_field_group }}
          {{ form.bloom_end.as_field_group }}
      </div>
      <!-- Requirements -->
      <div class="requirements">
        <fieldset>
          <legend>Requirements:</legend>
          {{ form.sun_exposure.as_field_group }}
          {{ form.water_rqmts.as_field_group }}
          {{ form.soil_type.as_field_group }}
          {{ form.pH_min.as_field_group }}
          {{ form.pH_max.as_field_group }}
          {{ form.heat_tolerance.as_field_group }}
          {{ form.usda_zone_min.as_field_group }}
          {{ form.usda_zone_max.as_field_group }}
          {{ form.sunset_zones.as_field_group }}
        </fieldset>
      </div>
      <!-- Recommendations -->
      <div class="recommendations">
        <fieldset>
          <legend>Recommendations:</legend>
          {{ form.ucd_all_star.as_field_group }}
          {{ form.davis_trees.as_field_group }}
          {{ form.sunset_z14.as_field_group }}
        </fieldset>
      </div>
      <div class="description">
        {{ form.description.as_field_group }}
      </div>
      <div class="pruning">
        {{ form.pruning.as_field_group }}
      </div>
      <div class="fertilization">
        {{ form.fertilization.as_field_group }}
      </div>
      <div class="propagation">
        {{ form.propagation.as_field_group }}
      </div>
      <div class="pests_diseases">
        {{ form.pests_diseases.as_field_group }}
      </div>
      <!-- Pest Selection -->
      <div class="pests">
        <fieldset>
          <legend>Insect:</legend>
          <label for="id_tbd">
            <input type="checkbox" id="id_tbd" name="pest_list" value="TBD" checked/>
            tbd
          </label>
          {% for pest in pests %}
            {% if pest.pest_type == "Insect" %}
              <label for="id_{{ pest }}">
                <input type="checkbox" id="id_{{ pest }}" name="pest_list" value="{{ pest }}"/>
                {{ pest }}
              </label>
            {% endif %}
          {% endfor %}
        </fieldset>
        <fieldset>
          <legend>Weed:</legend>
          <label for="id_tbd">
            <input type="checkbox" id="id_tbd" name="pest_list" value="TBD" checked/>
            tbd
          </label>
          {% for pest in pests %}
            {% if pest.pest_type == "Weed" %}
              <label for="id_{{ pest }}">
                <input type="checkbox" id="id_{{ pest }}" name="pest_list" value="{{ pest }}"/>
                {{ pest }}
              </label>
            {% endif %}
          {% endfor %}
        </fieldset>
        <fieldset>
          <legend>Disease:</legend>
          <label for="id_tbd">
            <input type="checkbox" id="id_tbd" name="pest_list" value="TBD" checked/>
            tbd
          </label>
          {% for pest in pests %}
            {% if pest.pest_type == "Disease" %}
              <label for="id_{{ pest }}">
                <input type="checkbox" id="id_{{ pest }}" name="pest_list" value="{{ pest }}"/>
                {{ pest }}
              </label>
            {% endif %}
          {% endfor %}
        </fieldset>
      </div>
      <!-- ------------------------ -->
      <!-- Audio recorder HTML here -->
      <!-- ------------------------ -->
      <div class="pronunciation">
        <h5>Audio Recording - Scientific Name</h5>  
        {{ form.phonetic_spelling.as_field_group }} 
        <hr>
        <div class="wrapper">
          <!-- HTML section for graphical display -->
          <section class="main-controls">
            <canvas class="visualizer" height="80px"></canvas>
            <div id="buttons">
              <button class="record bnd-button bnd-round-large bnd-grey">Record</button>
              <button class="stop   bnd-button bnd-round-large bnd-grey"  >Stop</button>
            </div>
          </section>
          <!-- HTML section for sound clip player -->
          <!-- Javascript will insert sound clips here -->
          <section class="sound-clips"></section>
        </div>
      </div>
      <!-- Plant Taxonomy -->
      <div class="taxonomy">
        <fieldset>
          <legend>Taxonomy:</legend>
          {{ form.kingdom.as_field_group }}
          {{ form.subkingdom.as_field_group }}
          {{ form.superdivision.as_field_group }}
          {{ form.division.as_field_group }}
          {{ form.class_x.as_field_group }}
          {{ form.subclass.as_field_group }}
          {{ form.order.as_field_group }}
          {{ form.family.as_field_group }}
          {{ form.genus.as_field_group }}
          {{ form.species.as_field_group }}
          {{ form.variety.as_field_group }}
          {{ form.cultivar.as_field_group }}
        </fieldset>
      </div>
      
      <!-- Content Creation Status and Notes -->
      <div class="creator_notes">
        <fieldset>
          <legend>Content Creation Details:</legend>
          Creator: {{ plant.creator }}
          <br/>
          Date: {{ plant.creation_date }}
          <br/>
          {{ form.status.as_field_group }}
          <br/>
          {{ form.creator_notes.as_field_group }}
        </fieldset>
      </div>

      <!-- Plant images -->
      <div class="images">
        <fieldset>
          <legend>Images:</legend>
          <div class="bnd-flex-container">
            <!-- Image 1 -->
            <figure class="flex-item">
              <fieldset>
                <legend>Image 1:</legend>
                <label for="id_image_1">Filename:</label>
                {{ form.image_1 }}
                <br/>
                <label for="id_caption_1">Caption:</label>
                {{ form.caption_1 }}

                {% if plant.image_1 %}
                  <hr>
                  <img src="{{ plant.image_1.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
                  <figcaption>{{ plant.caption_1 }}</figcaption>
                {% endif %}
              </fieldset>
            </figure>
            <!-- Image 2 -->
            <figure class="flex-item">
              <fieldset>
                <legend>Image 2:</legend>
                <label for="id_image_2">Filename:</label>
                {{ form.image_2 }}
                <br/>
                <label for="id_caption_2">Caption:</label>
                {{ form.caption_2 }}

                {% if plant.image_2 %}
                  <hr>
                  <img src="{{ plant.image_2.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
                  <figcaption>{{ plant.caption_2 }}</figcaption>
                {% endif %}
              </fieldset>
            </figure>
`             <!-- Image 3 -->
            <figure class="flex-item">
              <fieldset>
                <legend>Image 3:</legend>
                <label for="id_image_3">Filename:</label>
                {{ form.image_3 }}
                <br/>
                <label for="id_caption_3">Caption:</label>
                {{ form.caption_3 }}

                {% if plant.image_3 %}
                  <hr>
                  <img src="{{ plant.image_3.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
                  <figcaption>{{ plant.caption_3 }}</figcaption>
                {% endif %}
              </fieldset>
            </figure>
            <!-- Image 4 -->
            <figure class="flex-item">
              <fieldset>
                <legend>Image 4:</legend>
                <label for="id_image_4">Filename:</label>
                {{ form.image_4 }}
                <br/>
                <label for="id_caption_4">Caption:</label>
                {{ form.caption_4 }}

                {% if plant.image_4 %}
                  <hr>
                  <img src="{{ plant.image_4.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
                  <figcaption>{{ plant.caption_4 }}</figcaption>
                {% endif %}
              </fieldset>
            </figure>

          </div>
        </fieldset>
      </div>
    </div>
    <br/>
    <button type="submit" class="bnd-button-submit">Submit</button>
    <button type="button" class="bnd-button bnd-yellow bnd-round-medium" onclick="validatePlantForm()">Check</button>
    <button type="reset"  class="bnd-button bnd-grey   bnd-round-medium">Reset </button>
    <a href="{% url 'plants:plants_summary' %}">
      <button type="button" class="bnd-button-cancel">Cancel</button>
    </a>
  </form>
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- --------------------------- -->
<!-- Form Validation Javascript  -->
<!-- --------------------------- -->
<script>
  // AR: Move to common JS file
  function validatePlantForm() 
  {
    clean_input = true;
    // Bloom Color check 
    tbdCheck("bloom_color");

    // Bloom Season check 
    tbdCheck("bloom_season");
  
    // Pollinators check
    tbdCheck("pollinators");

    // Sun Exposure check
    tbdCheck("sun_exposure");

    // Soil Type check
    tbdCheck("soil_type");

    // Check height (feet) for > 0 value
    let height_feet = document.forms["plantForm"]["height_feet"].value;
    if (height_feet < 0)
    {
      alert("ERROR: Height (feet) is negative: " + height_feet);
      return false;
    }

    // Check height (inches) for > 0 value
    let height_inch = document.forms["plantForm"]["height_inch"].value;
    if (height_inch < 0)
    {
      alert("ERROR: Height (inches) is negative: " + height_inch);
      return false;
    }

    // Check width (feet) for > 0 value
    let width_feet = document.forms["plantForm"]["width_feet"].value;
    if (width_feet < 0)
    {
      alert("ERROR: Width (feet) is negative: " + width_feet);
      return false;
    }

    // Check width (inches) for > 0 value
    let width_inch = document.forms["plantForm"]["width_inch"].value;
    if (width_inch < 0)
    {
      alert("ERROR: Width (inch) is negative: " + width_inch);
      return false;
    }

    // Check USDA Zone values (min <= max)
    // Get the list of valid usda zones and put into JS array
    let usda_zones_opt = {{ usda_zones_opt|safe }};
    // Get the usda min and max zones
    let usda_zone_min = document.forms["plantForm"]["usda_zone_min"].value;
    let usda_zone_max = document.forms["plantForm"]["usda_zone_max"].value;

    let usda_zone_min_array = usda_zone_min.split(" ");
    let usda_zone_max_array = usda_zone_max.split(" ");
 
    let usda_zone_min_index = usda_zones_opt.indexOf(usda_zone_min_array[0]);
    let usda_zone_max_index = usda_zones_opt.indexOf(usda_zone_max_array[0]);

    if (usda_zone_min_index > usda_zone_max_index)
    {
      alert("ERROR: USDA Zone Min > USDA Zone Max");
      return false;
    }

    // Check Sunset Zone values and range format
    let sunset_zones = document.forms["plantForm"]["sunset_zones"].value;
    // Get the list of valid sunset zones and put into JS array
    let sunset_zones_opt = {{ sunset_zones_opt|safe }};

    // Clean up the input
    const tmp_1 = sunset_zones.replaceAll(' ', '');
    const ranges = tmp_1.split(',');

    // Check for casee where the Sunset Zones are not tbd
    if (tmp_1 != 'tbd')
    {
      ranges.forEach(function(range) 
      {
        if (range.includes('-')) 
        {
          // check case for a range of zones (zones exist and start comes before end)
          x = range.split('-');
          zone_start = x[0];
          zone_end   = x[1]; 
          if (!sunset_zones_opt.includes(zone_start)) 
          {
            alert("ERROR: Invalid Sunset Zone: " + zone_start);
            clean_input = false;
          }
          if (!sunset_zones_opt.includes(zone_end))
          {
            alert("ERROR: Invalid Sunset Zone: " + zone_end);
            clean_input = false;
          }
          zone_start_index = sunset_zones_opt.indexOf(zone_start);
          zone_end_index   = sunset_zones_opt.indexOf(zone_end);
          if (zone_start_index > zone_end_index)
          {
            alert("ERROR: Starting Sunset Zone (" + zone_start + ") > ending zone (" + zone_end + ")");
            clean_input = false;
          }
        } 
        else 
        {
          // check case for an individual zone (zone exists)
          if (!sunset_zones_opt.includes(range)) 
          {
            alert("ERROR: Invalid Sunset Zone: " + range);
            clean_input = false;
          }
        }
      });
    }
    if (!clean_input) 
    {
      return false;
    } 
    else 
    {
     return true;
    }
  }
</script>
<!-- --------------------------- -->
<!-- Checkbox checker            -->
<!-- --------------------------- -->
<script>
  // if a selection is made then tbd is unchecked
  // if no selection is made then set tbd to checked
  function tbdCheck(checkbox_name) 
  {
    const boxes = document.getElementsByName(checkbox_name);
    boxes[0].checked = true;
    for (let i = 1; i < boxes.length; i++)
    {
      if (boxes[i].checked) 
      {
        boxes[0].checked = false;
      }
    }
    return;
  }
</script>
<!-- ---------------------------- -->
<!-- Audio recorder Javascript    -->
<!-- ---------------------------- -->
<script>
  // --------------------------------------------------
  // Set up basic variables for app
  // > mainSection contains thw audio visualizer & record/stop buttons
  // > soundClips contain the player for the recorded audio
  // --------------------------------------------------
  const mainSection = document.querySelector(".main-controls");
  const canvas      = document.querySelector(".visualizer");
  const record      = document.querySelector(".record");
  const stop        = document.querySelector(".stop");
  const soundClips  = document.querySelector(".sound-clips");
  // Disable stop button while not recording
  stop.disabled = true;
  // Visualiser setup - create web audio api context and canvas
  let audioCtx;
  const canvasCtx = canvas.getContext("2d");
  // -------------------------------------------------- 
  // Main block for doing the audio recording
  // -------------------------------------------------- 
  if (navigator.mediaDevices.getUserMedia) 
  {
    const constraints = { audio: true };
    let chunks = [];

    let onSuccess = function (stream) 
    {
      const mediaRecorder = new MediaRecorder(stream);

      // start to display the audio stream (live or recorded) 
      visualize(stream);
      // -------------------------------------------------- 
      // Audio Recording action after recording started
      // -------------------------------------------------- 
      record.onclick = function () 
      {
        mediaRecorder.start();
        record.style.background = "red";

        stop.disabled   = false;
        record.disabled = true;
      };

      stop.onclick = function () 
      {
        mediaRecorder.stop();
        record.style.background = "";
        record.style.color = "";

        stop.disabled   = true;
        record.disabled = false;
      };
      // -------------------------------------------------- 
      // Audio Recording action after recording stopped
      // -------------------------------------------------- 
      mediaRecorder.onstop = function (e) 
      {
        const clipContainer = document.createElement("article");
        const clipLabel     = document.createElement("p");
        const audio         = document.createElement("audio");

        clipContainer.classList.add("clip");
        audio.setAttribute("controls", "");

        clipLabel.textContent = "";

        clipContainer.appendChild(audio);
        clipContainer.appendChild(clipLabel);
        // Remove any prevously recorded soundclips in this session before adding new soundclip
        if (soundClips.hasChildNodes()) 
        {
          soundClips.removeChild(soundClips.children[0]);
        }
        soundClips.appendChild(clipContainer);

        audio.controls = true;
        const blob = new Blob(chunks, { type: mediaRecorder.mimeType });
        chunks = [];
        const audioURL = window.URL.createObjectURL(blob);
        audio.src = audioURL;
        // -------------------------------------------------- 
        // Use fetch to upload the audio to the server when the form is submitted
        // --------------------------------------------------
        id_plantForm.onsubmit = async (event) => {
          event.preventDefault();
          //
          const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
          // Get the form plus the audio recording data entered by the user
          let formData  = new FormData(id_plantForm);
          formData.append('blob', blob, 'audio_file');
          // Send the form plus the audio recording data entered by the user
          // NOTE: The url must be set for add versus update
          const postURL = window.location.pathname;
          // Make the POST request and return a promise
          fetch(postURL, 
          {
            method: "POST",
            headers: 
            {
                'X-CSRFToken' : csrfToken
            },
            body: formData
          })
          .then(response => response.json())
          .then(result => console.log('POST was a success: ${result}'))
          .catch(error => console.error('An error occurred: ${error}'))
          // AR: Go to plant details page for plant
          // let returnURL = window.location.pathname;
          let returnURL = "{% url 'plants:plants_summary' %}";
          window.location.href = returnURL;
        };
      };
      // --------------------------------------------------
      // As recording progresses, collect the audio data
      // --------------------------------------------------
      mediaRecorder.ondataavailable = function (e) 
      {
        chunks.push(e.data);
      };
    };

    let onError = function (err) 
    {
      console.log("The following error occured: " + err);
    };

    navigator.mediaDevices.getUserMedia(constraints).then(onSuccess, onError);
  } 
  else 
  {
    console.log("MediaDevices.getUserMedia() not supported on your browser!");
  }
  // --------------------------------------------------  
  // Display the audio stream (live or recorded)
  // -------------------------------------------------- 
  function visualize(stream) 
  {
    if (!audioCtx) 
    {
      audioCtx = new AudioContext();
    }
    const source = audioCtx.createMediaStreamSource(stream);
    const bufferLength = 2048;
    const analyser = audioCtx.createAnalyser();
    analyser.fftSize = bufferLength;
    const dataArray = new Uint8Array(bufferLength);

    source.connect(analyser);

    draw();

    function draw() 
    {
      const WIDTH = canvas.width;
      const HEIGHT = canvas.height;

      requestAnimationFrame(draw);

      analyser.getByteTimeDomainData(dataArray);

      canvasCtx.fillStyle = "rgb(200, 200, 200)";
      canvasCtx.fillRect(0, 0, WIDTH, HEIGHT);

      canvasCtx.lineWidth = 2;
      canvasCtx.strokeStyle = "rgb(0, 0, 0)";

      canvasCtx.beginPath();

      let sliceWidth = (WIDTH * 1.0) / bufferLength;
      let x = 0;

      for (let i = 0; i < bufferLength; i++) 
      {
        let v = dataArray[i] / 128.0;
        let y = (v * HEIGHT) / 2;
        if (i === 0) 
        {
          canvasCtx.moveTo(x, y);
        } 
        else 
        {
          canvasCtx.lineTo(x, y);
        }
        x += sliceWidth;
      }

      canvasCtx.lineTo(canvas.width, canvas.height / 2);
      canvasCtx.stroke();
    }
  }
  // --------------------------------------------------
  window.onresize = function () 
  {
    canvas.width = mainSection.offsetWidth;
  };

  window.onresize();

</script>

<!-- Scroll to top of page -->
<script>
  function scrollToTop() 
  {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

<!-- On Page load functions -->
<script>
  // Scroll to top of page
  window.onload = scrollToTop();
</script>
<!-- ---------------------------- -->
{% endblock js %}