<!-- app/plants/templates/plants/plants_comment.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>My Plant | Comment</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container  bnd-green">
      <h3 class="bnd-bar-item">
        Comments related to: {{ plant.commonName }} 
        <span>(</span>
        <span>{{ plant.genus }} {{ plant.species }}</span>
        {% if plant.variety != "tbd" and plant.variety != 'n/a' %}
          <span class="bnd-variety">var. {{ plant.variety }}</span> 
        {% elif plant.cultivar != "tbd" and plant.cultivar != 'n/a' %}
          <span class="bnd-cultivar">'{{ plant.cultivar }}'</span>
        {% endif %}
        <span>)</span>
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- Add Comment -->
  <div class="bnd-container bnd-content-main-100">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
      <button type="reset" >Reset</button>
    </form>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}