<!-- /app/plants/templates/plants/plant_details_insert.html -->

<!-- Plant Attributes -->
<div class="bnd-flex-container">

  <section class ="bnd-flex-item">
    <header class="bnd-section-header">
      <h4>Characteristics</h4>
    </header>
    <div class="bnd-section-contents">
      <p>Type:               {{ plant.type_x }}</p>
      <p>Bloom Color:        {{ plant.bloom_color  }}</p>
      <p>Bloom Season:       {{ plant.bloom_season }}</p>
      <p>Bloom Season:       {{ plant.bloom_start }} - {{ plant.bloom_end }}</p>
      <p>Height: {{ plant.height_feet }} feet {{ plant.height_inch }} inches </p>
      <p>Width:  {{ plant.width_feet  }} feet {{ plant.width_inch  }} inches </p>
      <p>Pollinators:        {{ plant.pollinators  }}</p>
      <p>California Native:  {{ plant.ca_native    }}</p>
      <p>UCD All-Star:       {{ plant.ucd_all_star }}</p>
      <p>Davis Climate-Ready Tree: {{ plant.davis_trees }}</p>
      <p>Sunset Z14:         {{ plant.sunset_z14   }}</p>
    </div> 
  </section>

  <section class="bnd-flex-item">
    <header class="bnd-section-header">
      <h4>Environmental Needs</h4>
    </header>
    <div class="bnd-section-contents">
      <p>Sun Exposure:       {{ plant.sun_exposure }}</p>
      <p>Water Requirements: {{ plant.water_rqmts  }}</p>
      <p>pH Requirements:    {{ plant.pH_min }} through {{ plant.pH_max }}</p>
      <p>Soil Requirements:  {{ plant.soil_type }}</p>
      <p>Heat Tolerance:     {{ plant.heat_tolerance }}</p>
      <p>USDA Zones (min):   {{ plant.usda_zone_min }}</p>
      <p>USDA Zones (min):   {{ plant.usda_zone_max }}</p>
      <p>Sunset Zones:       {{ plant.sunset_zones }}</p>
    </div>
  </section>

  <section class="bnd-flex-item">
    <header class="bnd-section-header">
      <h4>Scientific Naming Taxonomy</h4>
    </header>
    <div class="bnd-section-contents">
      <p>Kingdom:           {{ plant.kingdom }}</p>
      <p>Subkingdom:        {{ plant.subkingdom }}</p>
      <p>Superdivision:     {{ plant.superdivision }}</p>
      <p>Division:          {{ plant.division }}</p>
      <p>Class:             {{ plant.class_x }}</p>
      <p>Subclass:          {{ plant.subclass }}</p>
      <p>Order:             {{ plant.order }}</p>
      <p>Family:            {{ plant.family }}</p>
      <p>Genus:             {{ plant.genus }}</p>
      <p>Species:           {{ plant.species }}</p>
      <p>Variety:           {{ plant.variety }}</p>
      <p>Cultivar:          {{ plant.cultivar }}</p>
      <p>Phonetic Spelling: {{ plant.phonetic_spelling }}</p>
    </div>
  </section>
  
</div>

<!-- Plant Description/Pruning/Fertilization/Propagation/Pests & Diseases -->
<div>
  <section class="bnd-section">
    <header class="bnd-section-header">
      <h4>Description</h4>
    </header>
    <div class="bnd-section-contents">
      {{ plant.description.html|safe|escape }}
    </div>
  </section>

  <section class="bnd-section">
    <header class="bnd-section-header">
      <h4>Pruning</h4>
    </header>
    <div class="bnd-section-contents">
      {{ plant.pruning.html|safe|escape }}
    </div>
  </section>

  <section class="bnd-section">
    <header class="bnd-section-header">
      <h4>Fertilization</h4>
    </header>
    <div class="bnd-section-contents">
      {{ plant.fertilization.html|safe|escape }}
    </div>
  </section>

  <section class="bnd-section">
    <header class="bnd-section-header">
      <h4>Propagation</h4>
    </header>
    <div class="bnd-section-contents">
      {{ plant.propagation.html|safe|escape }}
    </div>
  </section>

  <section class="bnd-section">
    <header class="bnd-section-header">
      <h4>Pests and Diseases</h4>
    </header>
    <div class="bnd-section-contents">
      {{ plant.pests_diseases.html|safe|escape }}
      <!-- Display the pests related to this plant -->
      {% if pests %} 
        <hr>
      {% endif %}
      {% for pest in pests %}
        <p>
          {{ pest }}: <a href="{{ pest.pest_url }}" target="_blank">UC IPM URL</a>
        </p>
      {% endfor %}
    </div>
  </section>
</div>

<!-- Plant images -->
<div class="bnd-flex-container">
  {% if plant.image_1 %}
  <figure class="bnd-flex-item">
    <img src="{{ plant.image_1.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
    <figcaption>{{ plant.caption_1 }}</figcaption>
  </figure>
  {% endif %}

  {% if plant.image_2 %}
  <figure class="bnd-flex-item">
    <img src="{{ plant.image_2.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
    <figcaption>{{ plant.caption_2 }}</figcaption>
  </figure>
  {% endif %}

  {% if plant.image_3 %}
  <figure class="bnd-flex-item">
    <img src="{{ plant.image_3.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
    <figcaption>{{ plant.caption_3 }}</figcaption>
  </figure>
  {% endif %}

  {% if plant.image_4 %}
  <figure class="bnd-flex-item">
    <img src="{{ plant.image_4.url }}" class="bnd-image-thumbnail" onclick="imageModalOpen(this)" alt="No image found">
    <figcaption>{{ plant.caption_4 }}</figcaption>
  </figure>
  {% endif %}
</div>
<!-------------------------------------------------------------------------->
<!-- Modals                                                               -->
<!-------------------------------------------------------------------------->
<div id="image_modal" class="bnd-modal" onclick="imageModalClose(this)">
  <div class="bnd-modal-image-container">
    <img id="image" class="bnd-modal-image">
  </div>
</div>