<!-- /app/plants/templates/plants/plant_details_insert.html -->

<!-- Plant Attributes -->
<div class="w3-row-padding">
  <div class="w3-col s4">
    <header class="bnd-container bnd-green bnd-border">
      <h4>Characteristics</h4>
    </header>
    <div class="bnd-container bnd-border">
      <p>Type:               {{ plant.type_x }}</p>
      <p>Bloom Color:        {{ plant.bloom_color  }}</p>
      <p>Bloom Season:       {{ plant.bloom_season }}</p>
      <p>Bloom Season:       {{ plant.bloom_start }} - {{ plant.bloom_end }}</p>
      <p>Height: {{ plant.height_feet }} feet {{ plant.height_inch }} inches </p>
      <p>Width:  {{ plant.width_feet  }} feet {{ plant.width_inch  }} inches </p>
      <p>Pollinators:        {{ plant.pollinators  }}</p>
      <p>California Native:  {{ plant.ca_native    }}</p>
      <p>UCD All-Star:       {{ plant.ucd_all_star }}</p>
      <p>Davis Climate-Ready Tree: {{ plant.davis_trees }}</p>
      <p>Sunset Z14:         {{ plant.sunset_z14   }}</p>
    </div> 
  </div>

  <div class="w3-col s4">
    <header class="bnd-container bnd-green bnd-border">
      <h4>Environmental Needs</h4>
    </header>
    <div class="bnd-container bnd-border">
      <p>Sun Exposure:       {{ plant.sun_exposure }}</p>
      <p>Water Requirements: {{ plant.water_rqmts  }}</p>
      <p>pH Requirements:    {{ plant.pH_min }} through {{ plant.pH_max }}</p>
      <p>Soil Requirements:  {{ plant.soil_type }}
      <p>Heat Tolerance:     {{ plant.heat_tolerance }}</p>
      <p>USDA Zones:         {{ plant.usda_zone_min }} through {{ plant.usda_zone_max }}</p>
      <p>Sunset Zones:       {{ plant.sunset_zones }}</p>
    </div>
  </div>

  <div class="w3-col s4">
    <header class="bnd-container bnd-green bnd-border">
      <h4>Scientific Naming Taxonomy</h4>
    </header>
    <div class="bnd-container bnd-border">
      <p>Kingdom:           {{ plant.kingdom }}</p>
      <p>Subkingdom:        {{ plant.subkingdom }}</p>
      <p>Superdivision:     {{ plant.superdivision }}</p>
      <p>Division:          {{ plant.division }}</p>
      <p>Class:             {{ plant.class_x }}</p>
      <p>Subclass:          {{ plant.subclass }}</p>
      <p>Order:             {{ plant.order }}</p>
      <p>Family:            {{ plant.family }}</p>
      <p>Genus:             {{ plant.genus }}</p>
      <p>Species:           {{ plant.species }}</p>
      <p>Variety:           {{ plant.variety }}</p>
      <p>Phonetic Spelling: {{ plant.phonetic_spelling }}</p>
    </div>
  </div>
</div>

<!-- Plant Description/Pruning/Fertilization/Propagation/Pests & Diseases -->
<div class="bnd-margin">
  <div class="bnd-card-4 bnd-margin-top">
    <header class="bnd-container bnd-green">
      <h4>Description</h4>
    </header>
    <div class="bnd-container">
      {{ plant.description.html|safe|escape }}
    </div>
  </div>

  <div class="bnd-card-4 bnd-margin-top">
    <header class="bnd-container bnd-green">
      <h4>Pruning</h4>
    </header>
    <div class="bnd-container">
      {{ plant.pruning.html|safe|escape }}
    </div>
  </div>

  <div class="bnd-card-4 w3-section">
    <header class="bnd-container bnd-green">
      <h4>Fertilization</h4>
    </header>
    <div class="bnd-container">
      {{ plant.fertilization.html|safe|escape }}
    </div>
  </div>

  <div class="bnd-card-4 w3-section">
    <header class="bnd-container bnd-green">
      <h4>Propagation</h4>
    </header>
    <div class="bnd-container">
      {{ plant.propagation.html|safe|escape }}
    </div>
  </div>

  <div class="bnd-card-4 w3-section">
    <header class="bnd-container bnd-green">
      <h4>Pests and Diseases</h4>
    </header>
    <div class="bnd-container">
      {{ plant.pests_diseases.html|safe|escape }}
      <!-- Display the pests related to this plant -->
       <hr>
      {% for pest in pests %}
        <p>
          {{ pest }}: <a href="{{ pest.pest_url }}" target="_blank">UC IPM URL</a>
        </p>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Plant images -->
<div class="w3-row-padding">
  {% if plant.image_1 %}
  <div class="bnd-container bnd-quarter">
      <img src="{{ plant.image_1.url }}" alt="No plant image found" style="width:100%; cursor:pointer" 
      onclick="onClick(this)" class="bnd-hover-opacity">
      <footer class="bnd-green bnd-center bnd-large">{{ plant.caption_1 }}</footer>
    </div>
  {% endif %}

  {% if plant.image_2 %}
  <div class="bnd-container bnd-quarter">
      <img src="{{ plant.image_2.url }}" alt="No plant image found" style="width:100%; cursor:pointer" 
      onclick="onClick(this)" class="bnd-hover-opacity">
      <footer class="bnd-green bnd-center bnd-large">{{ plant.caption_2 }}</footer>
    </div>
  {% endif %}

  {% if plant.image_3 %}
  <div class="bnd-container bnd-quarter">
      <img src="{{ plant.image_3.url }}" alt="No plant image found" style="width:100%; cursor:pointer" 
      onclick="onClick(this)" class="bnd-hover-opacity">
      <footer class="bnd-green bnd-center bnd-large">{{ plant.caption_3 }}</footer>
    </div>
  {% endif %}

  {% if plant.image_4 %}
    <div class="bnd-container bnd-quarter">
      <img src="{{ plant.image_4.url }}" alt="No plant image found" style="width:100%; cursor:pointer" 
      onclick="onClick(this)" class="bnd-hover-opacity">
      <footer class="bnd-green bnd-center bnd-large">{{ plant.caption_4 }}</footer>
    </div>
  {% endif %}
</div>

<!-- Plant images: modal -->
<div id="image_modal" class="bnd-modal" onclick="this.style.display='none'">
  <div class="bnd-modal-content bnd-animate-zoom" style="max-width:550px">
    <img id="image" style="width:100%; height:auto">
  </div>
</div>