<!-- app/plants/templates/plants/plants_comment.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>My Plant | Comment</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
    <!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">Comments related to: {{ plant.commonName }} / {{ plant.genus }} {{ plant.species }}</h1>
    </div>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- Add Comment -->
  <div class="w3-container" style="margin-top:140px;">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
      <button type="reset" >Reset</button>
    </form>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}