<!-- app/plants/templates/plants_add.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Plant | Add</title>
{% endblock title %}

{% block css %}
  <!-- ----------------------- -->
  <!-- Audio recorder CSS here -->
  <!-- ----------------------- -->
  <style>
    .wrapper {
       height: 100%;
       display: flex;
       flex-direction: column;
    }
    .main-controls {
      padding: 0.5rem 0;
    }
    canvas {
      display: block;
      margin-bottom: 0.5rem;
    }
    /* Make the clips use as much space as possible, and
     * also show a scrollbar when there are too many clips to show
     * in the available space */
    .sound-clips {
      flex: 1;
      overflow: auto;
    }
    section, article {
      display: block;
    }
    .clip {
      padding-bottom: 1rem;
    }
    audio {
      width: 100%;
      display: block;
      margin: 1rem auto 0.5rem;
    }
    .clip p {
      display: inline-block;
      font-size: 1rem;
    }
    .clip button {
      font-size: 1rem;
      float: right;
    }
    aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: 0.3s all ease-out;
    background-color: #efefef;
    padding: 1rem;
    }
    aside p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    }
    aside a {
    color: #666;
    }
    /* Toggled State of information box */
    input[type="checkbox"]:checked ~ aside {
    transform: translateX(0);
    }
    /* Cursor when clip name is clicked over */
    .clip p {
    cursor: pointer;
    }
    /* Adjustments for wider screens */
    @media all and (min-width: 800px) {
      /* Don't take all the space as readability is lost when line length
          goes past a certain size */
      .wrapper {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
      }
    }
  </style> 
  <!-- ----------------------- --> 
{% endblock css %}

{% block header-completion %}
    <!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">Add Plant</h1>
    </div>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- Main content-->
  <div class="w3-container" style="margin-top:140px;">
    <form name="plantForm"
          action="" 
          onsubmit="return validatePlantForm()"
          method="post" 
          enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}

      <!-- ------------------------ -->
      <!-- Audio recorder HTML here -->
      <!-- ------------------------ -->
      <h5>Audio Recording - Scientific Name</h5>
      <div class="wrapper">
        <!-- HTML section for graphical display -->
        <section class="main-controls">
          <canvas class="visualizer" height="80px"></canvas>
          <div id="buttons">
            <button class="record w3-button w3-green">Record</button>
            <button class="stop   w3-button w3-red"  >Stop</button>
          </div>
        </section>
        <!-- HTML section for individual sound clips -->
        <section class="sound-clips">
          <!-- Javascript will insert sound clips here -->
        </section>
      </div>
      <p>
        Note: Use 'Download' dropdown command to save audio file 
        then 'Choose' audio file to upload to server
      </p>
      <!-- What does this do? -->
      <label for="toggle">❔</label>
      <input type="checkbox" id="toggle">
      <!-- ------------------------ -->

      <hr>
      <button type="submit" class="w3-button w3-green w3-round">Submit</button>
      <button type="reset"  class="w3-button w3-gray  w3-round">Reset</button>
      <a href="{% url 'plants:plants_summary' %}">
        <button type="button" class="w3-button w3-red w3-round">
          Cancel
        </button>
      </a>
    </form>
  </div>
{% endblock content %}

{% block js %}
<!-- --------------------------- -->
<!-- Form Validation Javascript  -->
<!-- --------------------------- -->
<script>
  // AR: Move to common JS file
  function validatePlantForm() 
  {
    clean_input = true;
    // Bloom Color check 
    tbdCheck("bloom_color");

    // Bloom Season check 
    tbdCheck("bloom_season");
  
    // Pollinators check
    tbdCheck("pollinators");

    // Sun Exposure check
    tbdCheck("sun_exposure");

    // Soil Type check
    tbdCheck("soil_type");

    // Check height (feet) for > 0 value
    let height_feet = document.forms["plantForm"]["height_feet"].value;
    // console.log("DEBUG: Height (feet): ", height_feet);
    if (height_feet < 0)
    {
      alert("ERROR: Height (feet) is negative: " + height_feet);
      return false;
    }

    // Check height (inches) for > 0 value
    let height_inch = document.forms["plantForm"]["height_inch"].value;
    // console.log("DEBUG: Height (inch): ", height_inch);
    if (height_inch < 0)
    {
      alert("ERROR: Height (inches) is negative: " + height_inch);
      return false;
    }

    // Check width (feet) for > 0 value
    let width_feet = document.forms["plantForm"]["width_feet"].value;
    // console.log("DEBUG: Width (feet): ", width_feet);
    if (width_feet < 0)
    {
      alert("ERROR: Width (feet) is negative: " + width_feet);
      return false;
    }

    // Check width (inches) for > 0 value
    let width_inch = document.forms["plantForm"]["width_inch"].value;
    // console.log("DEBUG: Width (inch): ", width_inch);
    if (width_inch < 0)
    {
      alert("ERROR: Width (inch) is negative: " + width_inch);
      return false;
    }

    // Check USDA Zone values (min <= max)
    // Get the list of valid usda zones and put into JS array
    let usda_zones_opt = {{ usda_zones_opt|safe }};
    // Get the usda min and max zones
    let usda_zone_min = document.forms["plantForm"]["usda_zone_min"].value;
    let usda_zone_max = document.forms["plantForm"]["usda_zone_max"].value;

    let usda_zone_min_array = usda_zone_min.split(" ");
    let usda_zone_max_array = usda_zone_max.split(" ");
 
    let usda_zone_min_index = usda_zones_opt.indexOf(usda_zone_min_array[0]);
    let usda_zone_max_index = usda_zones_opt.indexOf(usda_zone_max_array[0]);

    if (usda_zone_min_index > usda_zone_max_index)
    {
      alert("ERROR: USDA Zone Min > USDA Zone Max");
      return false;
    }

    // Check Sunset Zone values and range format
    // AR: Handle the case where the Sunset Zones are 'tbd'
    let sunset_zones = document.forms["plantForm"]["sunset_zones"].value;
    // console.log("DEBUG: sunset_zones = ", sunset_zones);
    // alert("DEBUG: Pause");
    // Get the list of valid sunset zones and put into JS array
    let sunset_zones_opt = {{ sunset_zones_opt|safe }};

    // Clean up the input
    const tmp_1 = sunset_zones.replaceAll(' ', '');
    // console.log("DEBUG: input w/o spaces: ", tmp_1)
    const ranges = tmp_1.split(',');

    // Check for casee where the Sunset Zones are not tbd
    if (tmp_1 != 'tbd')
    {
      ranges.forEach(function(range) 
      {
        if (range.includes('-')) 
        {
          // check case for a range of zones (zones exist and start comes before end)
          // console.log("DEBUG: multi-zone range: ", range);
          x = range.split('-');
          zone_start = x[0];
          zone_end   = x[1]; 
          // console.log("DEBUG: zone_start :", zone_start);
          // console.log("DEBUG: zone_end :",   zone_end);
          if (sunset_zones_opt.includes(zone_start)) 
          {
            // console.log("DEBUG: ", zone_start, " is in sunset_zones_opt");
          } 
          else 
          {
            alert("ERROR: Invalid Sunset Zone: " + zone_start);
            clean_input = false;
          }
          if (sunset_zones_opt.includes(zone_end))
          {
            // console.log("DEBUG: ", zone_end, " is in sunset_zones_opt");
          } 
          else 
          {
            alert("ERROR: Invalid Sunset Zone: " + zone_end);
            clean_input = false;
          }
          zone_start_index = sunset_zones_opt.indexOf(zone_start);
          zone_end_index   = sunset_zones_opt.indexOf(zone_end);
          // console.log("DEBUG: zone_start_index :", zone_start_index);
          // console.log("DEBUG: zone_end_index :", zone_end_index);
          if (zone_start_index > zone_end_index)
          {
            alert("ERROR: Starting Sunset Zone (" + zone_start + ") > ending zone (" + zone_end + ")");
            clean_input = false;
          }
        } 
        else 
        {
          // check case for an individual zone (zone exists)
          // console.log("DEBUG: single-zone range: ", range);
          if (sunset_zones_opt.includes(range)) 
          {
            // console.log("DEBUG: ", range, " is in sunset_zones_opt");
          } 
          else 
          {
            // console.log("DEBUG: ", range, " is not in sunset_zones_opt");
            alert("ERROR: Invalid Sunset Zone: " + range);
            clean_input = false;
          }
        }
      });
    }
    // console.log("DEBUG: Clean input?: ", clean_input);
    if (!clean_input) 
    {
      return false;
    } 
    else 
    {
     return true;
    }
  }
</script>
<!-- --------------------------- -->
<!-- Checkbox checker            -->
<!-- --------------------------- -->
<script>
  // if a selection is made then tbd is unchecked
  // if no selection is made then set tbd to checked
  function tbdCheck(checkbox_name) 
  {
    // console.log("DEBUG: Got to tbdCheck for: ", checkbox_name);
    const boxes = document.getElementsByName(checkbox_name);
    boxes[0].checked = true;
    for (let i = 1; i < boxes.length; i++)
    {
      if (boxes[i].checked) 
      {
        boxes[0].checked = false;
      }
    }
    return;
  }
</script>
<!-- ---------------------------- -->
<!-- Audio recorder Javascript    -->
<!-- ---------------------------- -->
<script>
  // Set up basic variables for app
  // - mainSection contains thw audio visualizer & record/stop buttons
  // - soundClips contain the player for the recorded audio
  const mainSection = document.querySelector(".main-controls");
  const canvas      = document.querySelector(".visualizer");
  const record      = document.querySelector(".record");
  const stop        = document.querySelector(".stop");
  const soundClips  = document.querySelector(".sound-clips");
  
  // Disable stop button while not recording
  stop.disabled = true;

  // Visualiser setup - create web audio api context and canvas
  let audioCtx;
  const canvasCtx = canvas.getContext("2d");

  // Main block for doing the audio recording
  if (navigator.mediaDevices.getUserMedia) 
  {
    console.log("DEBUG: The mediaDevices.getUserMedia() method is supported.");

    const constraints = { audio: true };
    let chunks = [];

    let onSuccess = function (stream) 
    {
      const mediaRecorder = new MediaRecorder(stream);

      // start to display the audio stream (live or recorded) 
      visualize(stream);

      record.onclick = function () 
      {
        mediaRecorder.start();
        console.log("DEBUG: Recorder started");
        console.log("DEBUG: Media Recorder state: ", mediaRecorder.state);
        record.style.background = "red";

        stop.disabled   = false;
        record.disabled = true;
      };

      stop.onclick = function () 
      {
        mediaRecorder.stop();
        console.log("DEBUG: Recorder stopped");
        console.log("DEBUG: Media Recorder state: ", mediaRecorder.state);
        record.style.background = "";
        record.style.color = "";

        stop.disabled   = true;
        record.disabled = false;
      };

      // Audio Recording action after 'stop'
      mediaRecorder.onstop = function (e) 
      {
        console.log("DEBUG: processing audio");

        const clipContainer = document.createElement("article");
        const clipLabel     = document.createElement("p");
        const audio         = document.createElement("audio");

        clipContainer.classList.add("clip");
        audio.setAttribute("controls", "");

        clipLabel.textContent = "";

        clipContainer.appendChild(audio);
        clipContainer.appendChild(clipLabel);
        soundClips.appendChild(clipContainer);

        audio.controls = true;
        const blob = new Blob(chunks, { type: mediaRecorder.mimeType });
        chunks = [];
        const audioURL = window.URL.createObjectURL(blob);
        audio.src = audioURL;
        console.log("DEBUG: audio processing complete");
        console.log("DEBUG: audio.src: ", audio.src)
      };

      // As recording progresses, collect the audio data
      mediaRecorder.ondataavailable = function (e) 
      {
        chunks.push(e.data);
        console.log("DEBUG: audio chunk processed");
      };
    };

    let onError = function (err) 
    {
      console.log("The following error occured: " + err);
    };

    navigator.mediaDevices.getUserMedia(constraints).then(onSuccess, onError);
  } 
  else 
  {
    console.log("MediaDevices.getUserMedia() not supported on your browser!");
  }

  // Display the audio stream (live or recorded)
  function visualize(stream) 
  {
    if (!audioCtx) 
    {
      audioCtx = new AudioContext();
    }

    const source = audioCtx.createMediaStreamSource(stream);

    const bufferLength = 2048;
    const analyser = audioCtx.createAnalyser();
    analyser.fftSize = bufferLength;
    const dataArray = new Uint8Array(bufferLength);

    source.connect(analyser);

    draw();

    function draw() 
    {
      const WIDTH = canvas.width;
      const HEIGHT = canvas.height;

      requestAnimationFrame(draw);

      analyser.getByteTimeDomainData(dataArray);

      canvasCtx.fillStyle = "rgb(200, 200, 200)";
      canvasCtx.fillRect(0, 0, WIDTH, HEIGHT);

      canvasCtx.lineWidth = 2;
      canvasCtx.strokeStyle = "rgb(0, 0, 0)";

      canvasCtx.beginPath();

      let sliceWidth = (WIDTH * 1.0) / bufferLength;
      let x = 0;

      for (let i = 0; i < bufferLength; i++) 
      {
        let v = dataArray[i] / 128.0;
        let y = (v * HEIGHT) / 2;
        if (i === 0) 
        {
          canvasCtx.moveTo(x, y);
        } 
        else 
        {
          canvasCtx.lineTo(x, y);
        }
        x += sliceWidth;
      }

      canvasCtx.lineTo(canvas.width, canvas.height / 2);
      canvasCtx.stroke();
    }
  }

  window.onresize = function () 
  {
    canvas.width = mainSection.offsetWidth;
  };

  window.onresize();
</script>
<!-- ---------------------------- -->
{% endblock js %}