<!-- /app/plants/templates/plants/plants_about.html -->
{% extends "plants/master.html" %}
{% load static %}

{% block title %}
  <title>Gateway Gardens | About</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
<style>
  #plants_about   { background-color: slategray; }
  #plants_about a { color:            white; }
</style>
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <h2>
    <img src="{% static 'plants/img/logo.png' %}"  alt="No logo found" class="bnd-logo">
    About
  </h2>
{% endblock header-completion %}

{% block content %}
  <h3>Under Construction</h3>
  <section class="contact-us">
    <h4>Contact:</h4>
    <!-- AR: Change e-mail address to 'z14-gardens-webmaster@gmail.com'-->
    <p>e-mail: <a href="mailto:b_dichter@yahoo.com">b_dichter@yahoo.com</a></p>
  </section>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}