<!-- /app/plants/templates/plants/plant_details_modal.html -->

<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:300px">

    <header class="w3-container w3-green"> 
        <!-- Close the plant details modal -->
        <span onclick="document.getElementById('plant_details_modal').style.display='none'" 
          class="w3-button w3-display-topright">&times;</span>
        <h3>{{ plant.commonName }}</h2>
      </header>
        
    <div class="w3-container w3-border-top w3-padding-8 w3-light-grey">
        <div>
            <h5>Characteristics:</h5>
            <ul>
                <li>Plant Type:   {{ plant.type_x }}       </li>
                <li>Bloom Color:  {{ plant.bloom_color }}  </li>
                <li>Bloom Season: {{ plant.bloom_season }} </li>
                <li>Height:       {{ plant.height_feet }} ft  {{ plant.height_inch }} in</li>
                <li>Width:        {{ plant.width_feet }} ft  {{ plant.width_inch }} in</li>
                <li>Pollinators:  {{ plant.pollinators }}  </li>
            </ul>
            <h5>Environmental Needs:</h5>
            <ul>
                <li>Sun Exposure:   {{ plant.sun_exposure }} </li>
                <li>Water Rqmts:    {{ plant.water_rqmts }}  </li>
                <li>pH Rqmts:       {{ plant.pH_min }}  to {{ plant.pH_max }}</li>
                <li>Soil Rqmts:     {{ plant.soil_type }}    </li>
                <li>Heat Tolerance: {{ plant.heat_tolerance }}  </li>
            </ul>
            <h5>Scientific Name:</h5>
            <ul>
                <li>Genus:        {{ plant.genus }}        </li>
                <li>Species:      {{ plant.species }}      </li>
            </ul>  
            {% if plant.image_1 %}
                <img src="{{ plant.image_1.url }}" alt="No plant image found" style="width:100%">
            {% endif %}
            <hr>
        </div>
    </div>
</div>