<!-- app/plants/templates/plants/plants_comment.html -->
{% extends "plants/master.html" %}
{% load static %}

{% block title %}
  <title>My Plant | Comment</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <h2>
    <img src="{% static 'plants/img/logo.png' %}"  alt="No logo found" class="bnd-logo">
    Comments related to: {{ plant.commonName }} 
    <span>(</span>
    <span>{{ plant.genus }} {{ plant.species }}</span>
    {% if plant.variety != "tbd" and plant.variety != 'n/a' %}
      <span class="bnd-variety">var. {{ plant.variety }}</span> 
    {% elif plant.cultivar != "tbd" and plant.cultivar != 'n/a' %}
      <span class="bnd-cultivar">'{{ plant.cultivar }}'</span>
    {% endif %}
    <span>)</span>
  </h2>
{% endblock header-completion %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bnd-button-submit">Submit</button>
    <button type="reset"  class="bnd-button-reset" >Reset </button>
    <a href="{% url 'plants:plant_details' plant.id %}">
      <button type="button" class="bnd-button-cancel">Cancel</button>
    </a>
  </form>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}