<!-- /app/plants/templates/plants/plants_reference.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Reference</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
    <!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">Reference</h1>
    </div>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- Reference -->
  <div class="w3-container" style="margin-top:140px;">

    <h4><a href="https://plants.ces.ncsu.edu/" target="_blank">North Carolina Extension Gardener Plant Toolbox</a></h4>
    <p class="w3-margin-left">summary here!</p>

    <h4><a href="https://mg.ucanr.edu/" target="_blank">UC Master Gardener Program</a></h4>
    <p class="w3-margin-left">summary here!</p>

    <h4><a href="https://yolomg.ucanr.edu/" target="_blank">UC Master Gardener Program of Yolo County</a></h4>
    <p class="w3-margin-left">summary here!</p>

    <h4><a href="https://plants.usda.gov/home" target="_blank">USDA Plant Database</a></h4>
    <p class="w3-margin-left">summary here!</p>

    <h4><a href="https://planthardiness.ars.usda.gov/" target="_blank">USDA Plant Hardiness Zone Map</a></h4>
    <p class="w3-margin-left">summary here!</p>

    <h4><a href="https://arboretum.ucdavis.edu/arboretum-all-stars" target="_blank">UC Davis Arboretum All Stars</a></h4>
    <p class="w3-margin-left">summary here!</p>

    <h4><a href="https://arboretum.ucdavis.edu/plant-database" target="_blank">UC Davis Arboretum All Stars - Plant Database</a></h4>
    <p class="w3-margin-left">summary here!</p>

    <h4><a href="https://sunsetplantcollection.com/climate-zones/" target="_blank">Sunset Climate Zones</a></h4>
    <p class="w3-margin-left">summary here!</p>

    <h4><a href="https://garden.org/" target="_blank">National Gardening Association</a></h4>
    <p class="w3-margin-left">summary here!</p>

    <hr>

    <h4><a href="https://www.americanmeadows.com/" target="_blank">American Meadows</a></h4>
    <p class="w3-margin-left">summary here!</p>

  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}