<!-- /app/plants/templates/plants/plants_about.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Gateway Gardens | About</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container  bnd-green">
      <h3 class="bnd-bar-item">
        About
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- About -->
  <div class="bnd-container" style="margin-top:100px;">
    <h4>Under Construction</h4>
    <section class="contact-us">
      <h4>Contact:</h4>
      <!-- AR: Change e-mail address to 'z14-gardens-webmaster@gmail.com'-->
      <p>e-mail: <a href="mailto:b_dichter@yahoo.com">b_dichter@yahoo.com</a></p>
    </section>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}