  <thead>
    <tr>
      <!-- Plant Attributes -->
      <th onclick="sortTable( 0, '{{ table_name }}')">Common Name</th>
      <th onclick="sortTable( 1, '{{ table_name }}')">Bloom Colors</th>
      <!-- Months -->
      <th onclick="sortTable( 2, '{{ table_name }}')" class="bnd-center">Jan</th>
      <th onclick="sortTable( 3, '{{ table_name }}')" class="bnd-center">Feb</th>
      <th onclick="sortTable( 4, '{{ table_name }}')" class="bnd-center">Mar</th>
      <th onclick="sortTable( 5, '{{ table_name }}')" class="bnd-center">Apr</th>
      <th onclick="sortTable( 6, '{{ table_name }}')" class="bnd-center">May</th>
      <th onclick="sortTable( 7, '{{ table_name }}')" class="bnd-center">Jun</th>
      <th onclick="sortTable( 8, '{{ table_name }}')" class="bnd-center">Jul</th>
      <th onclick="sortTable( 9, '{{ table_name }}')" class="bnd-center">Aug</th>
      <th onclick="sortTable(10, '{{ table_name }}')" class="bnd-center">Sep</th>
      <th onclick="sortTable(11, '{{ table_name }}')" class="bnd-center">Oct</th>
      <th onclick="sortTable(12, '{{ table_name }}')" class="bnd-center">Nov</th>
      <th onclick="sortTable(13, '{{ table_name }}')" class="bnd-center">Dec</th>
    </tr>
  </thead>