<!-- /app/plants/templates/plants/plants_summary.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Plant | Search</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="w3-bar w3-green">
    <div class="w3-dropdown-hover">
      <button class="w3-button w3-green">Menu</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <button onclick="w3_open()"        class="w3-bar-item w3-button">Plant Search</button>
        <button onclick="column_chooser()" class="w3-bar-item w3-button">Column Chooser</button>
        {% if perms.plants.add_plant %}
          <a href="{% url 'plants:plants_add' %}"  class="w3-bar-item w3-button">Add Plant </a>
        {% endif %}
     </div>
    </div>
    <h1 class="w3-bar-item">Plants</h1>
  </div>
{% endblock header-completion %}

{% block content %}
  <!------------------------->
  <!-- Vertical Search Bar -->
  <!------------------------->
  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-margin-left" 
       style="display:none; height:80%;" 
       id="mySidebar">
    <form method="POST" action="{% url 'plants:plants_summary' %}" class="w3-container w3-card-4 w3-light-grey">
      {% csrf_token %}
      <label for="id_type_x_option">Type:</label><br>
      <select id="id_type_x_option" name="type_x_option" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for plant_type in plant_types %}
          {% if plant_type == type_x_value %}
            <option value="{{ plant_type }}" selected>{{ plant_type }}</option>
          {% elif plant_type != "tbd" %}
            <option value="{{ plant_type }}"         >{{ plant_type }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>
      <label for="id_bloom_color_option">Bloom Color:</label><br>
        <select id="id_bloom_color_option" name="bloom_color_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in bloom_color_opt %}
            {% if x == bloom_color_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_bloom_season_option">Bloom Season:</label><br>
        <select id="id_bloom_season_option" name="bloom_season_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in bloom_season_opt %}
            {% if x == bloom_season_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_pollinators_option">Pollinators:</label><br>
        <select id="id_pollinators_option" name="pollinators_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in pollinators_opt %}
            {% if x == pollinators_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_ca_native_option">California Native:</label><br>
        <select id="id_ca_native_option" name="ca_native_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in ca_native_opt %}
            {% if x == ca_native_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_ucd_all_star_option">UCD All-Star:</label><br>
        <select id="id_ucd_all_star_option" name="ucd_all_star_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in ucd_all_star_opt %}
            {% if x == ucd_all_star_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_sun_exposure_option">Sun Exposure:</label><br>
        <select id="id_sun_exposure_option" name="sun_exposure_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in sun_exposure_opt %}
            {% if x == sun_exposure_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_water_rqmts_option">Water Requirements:</label><br>
        <select id="id_water_rqmts_option" name="water_rqmts_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in water_rqmts_opt %}
            {% if x == water_rqmts_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_soil_type_option">Soil Requirements:</label><br>
        <select id="id_soil_type_option" name="soil_type_option" class="w3-select w3-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in soil_type_opt %}
            {% if x == soil_type_value %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>
        <label for="id_garden_option">All plants / My plants</label><br>
        <select id="id_garden_option" name="garden_option" class="w3-select w3-margin-bottom">
          {% if garden_value == "Any" %}
            <option value="Any"  selected>Any </option>
            <option value="Mine"         >Mine</option>
          {% else %}
            <option value="Any"          >Any </option>
            <option value="Mine" selected>Mine</option>
          {% endif %}
        </select>
        <br>
      <input type="submit" value="Submit" class="w3-button w3-border w3-green w3-round-large w3-margin-bottom">
      <a href="{% url 'plants:plants_summary' %}" class="w3-button w3-border w3-white w3-round-large w3-margin-bottom">Reset</a>
      <button class="w3-button w3-border w3-red w3-round-large w3-margin-bottom" onclick="w3_close()">Cancel</button>
    </form>
  </div>

  <!-- Plant Delete modal - html to be inserted by Javascript -->
  <div id="plants_delete_modal" class="w3-modal">
    <p> Plant delete form HTML to be Inserted Here! </p>
  </div>

  <!-- Column Chooser modal - html to be inserted by Javascript -->
  <div id="column_chooser_modal" class="w3-modal">
    <p> Column Chooser HTML to be Inserted Here! </p>
  </div>
  <!------------------------->
  <!--     Plant Table     -->
  <!------------------------->
  <!-- AR: Add variety/cultivar column -->
  <div class="w3-container" id="main" style="margin-top:150px;">
    <table class="w3-table-all w3-hoverable" id="plantTable">
      <thead>
        <tr class="w3-light-grey">
          <th style="cursor:pointer" onclick="sortTable(0)" >Common Name  </th>
          <th style="cursor:pointer" onclick="sortTable(1)" >Genus/Species</th>
          <th style="cursor:pointer" onclick="sortTable(2)" >Type         </th>
          <th style="cursor:pointer" onclick="sortTable(3)" >Height       </th>
          <th style="cursor:pointer" onclick="sortTable(4)" >Width        </th>
          <th style="cursor:pointer" onclick="sortTable(5)" >Bloom Color  </th>
          <th style="cursor:pointer" onclick="sortTable(6)" >Bloom Season </th>
          <th style="cursor:pointer" onclick="sortTable(7)" >Pollinators  </th>
          <th style="cursor:pointer" onclick="sortTable(8)" class="w3-center">CA Native</th>
          <th style="cursor:pointer" onclick="sortTable(9)" class="w3-center">UCD All-Star</th>
          <th style="cursor:pointer" onclick="sortTable(10)" >Sun Exposure </th>
          <th style="cursor:pointer" onclick="sortTable(11)" >Water Rqmts  </th>
          <th style="cursor:pointer" onclick="sortTable(12)">pH Range      </th>
          <th style="cursor:pointer" onclick="sortTable(13)">Soil Type     </th>
          <th style="cursor:pointer" onclick="sortTable(14)">USDA Zones    </th>
          <th style="cursor:pointer" onclick="sortTable(15)">Sunset Zones  </th>
          <!-- Plant Detail header placeholder -->
          <th class="w3-center"></th>
          <!-- Plant Update header placeholder -->
          {% if perms.plants.change_plant %}
            <th class="w3-center"></th>
          {% endif %}
          <!-- Plant Delete header placeholder -->
          {% if perms.plants.delete_plant %}
            <th class="w3-center"></th>
          {% endif %}
          <!-- My plant add/remove header placeholder -->
          <th class="w3-center"></th>
        </tr>
      </thead>
      {% for plant in plants %}
        {% if plant.plant_show == "yes" %}   
          <tr class="w3-hover-green">
            <td>{{ plant.commonName                     }}</td>
            <td>{{ plant.genus }} {{ plant.species}}      </td>
            <td>{{ plant.type_x                         }}</td>
            <td>{{ plant.height_feet }} ft {{ plant.height_inch }} in</td>
            <td>{{ plant.width_feet  }} ft {{ plant.width_inch  }} in</td>
            <td>{{ plant.bloom_color |cut:"["|cut:"]"   }}</td>
            <td>{{ plant.bloom_season|cut:"["|cut:"]"   }}</td>
            <td>{{ plant.pollinators |cut:"["|cut:"]"   }}</td>
            <td class="w3-center">{{ plant.ca_native    }}</td>
            <td class="w3-center">{{ plant.ucd_all_star }}</td>
            <td>{{ plant.sun_exposure|cut:"["|cut:"]"   }}</td>
            <td>{{ plant.water_rqmts                    }}</td>
            <td>{{ plant.pH_min }} to {{ plant.pH_max }}              </td>
            <td>{{ plant.soil_type                                  }}</td>
            <td>{{ plant.usda_zone_min }} to {{ plant.usda_zone_max }}</td>
            <td>{{ plant.sunset_zones }}                              </td>
            <!-- Plant Details Icon/Link -->
            <td class="w3-center">
              <div class="w3-tooltip">
                <a href="{% url 'plants:plants_details' plant.id %}">
                  <i class="material-icons">
                    library_books
                  </i>
                  <span style="position:absolute; left:0; bottom:34px;" 
                            class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
                    Details
                  </span>
                </a>
              </div>
            </td>
            <!-- Plant Update Icon/Link -->
            {% if perms.plants.change_plant %}
            <td class="w3-center">
              <div class="w3-tooltip">
                <a href="{% url 'plants:plants_update' plant.id %}">
                  <i class="material-icons">
                    edit
                  </i>
                  <span style="position:absolute; left:0; bottom:34px;" 
                  class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
                    Edit
                  </span>
                </a>
              </div>
            </td>
            {% endif %}
            <!-- Plant Delete Icon/Link -->
            {% if perms.plants.delete_plant %}
            <td class="w3-center">
              <div class="w3-tooltip">
                <button onclick="plants_delete({{ plant.id }})" class="w3-transparent w3-border-0">
                  <i class="material-icons">
                    delete
                  </i>
                  <span style="position:absolute; left:0; bottom:34px;" 
                        class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
                    Delete
                  </span>
                </button>
              </div>
            </td>
            {% endif %}
            <!-- Add plant to My Plants Icon/Link -->
            <td class="w3-center">
              <div class="w3-tooltip">
                {% if plant.plant_mine == "yes" %}
                  <a href="{% url 'plants:myplants_remove' plant.id %}">
                    <i class="material-icons">check</i>
                    <span style="position:absolute; left:0; bottom:34px;" 
                          class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
                      My Plant
                    </span>
                  </a>
                {% else %}
                  <a href="{% url 'plants:myplants_add' plant.id %}">
                    <i class="material-icons">add</i>
                    <span style="position:absolute; left:0; bottom:34px;" 
                          class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
                      My Plant
                    </span>
                  </a>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>

{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here --> 
  <script>
    // Table sort script - alphetically - toggle between ascending and descending
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("plantTable");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      // Make a loop that will continue until no switching has been done
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        // Loop through all table rows (except the first, which contains table headers)
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          // Get the two elements you want to compare, one from current row and one from the next
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          // Check if the two rows should switch place, based on the direction, asc or desc
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          // If a switch has been marked, make the switch and mark that a switch has been done
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          // If no switching has been done AND the direction is "asc", set the direction to "desc" 
          // and run the while loop again.
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
 
    function column_selector(){
      const table = document.getElementById("plantTable");
      // 
      const column_options = ['Common Name', 'Genus/Species',
                              'Type', 'Height', 'Width', 'Bloom Color', 'Bloom Season',
                              'Pollinators', 'CA Native', 'UCD All-Star', 
                              'Sun Exposure', 'Water Rqmts', 'pH Range', 'Soil Type',
                              'USDA Zones', 'Sunset Zones',
      ]
      let column_index = 0;
      // Get the list of columns to display
      let column_selection = {{ column_selection|safe }};
      // determine the array index for each column
      // walk through the list of columns to either display or hide
      // AR: streamine the code via column_options.forEach()?
      let i, len;
      for (i = 0, len = column_options.length; i < len; i++) {
        if      (column_options[i] == "Common Name")   { column_index =  0; } 
        else if (column_options[i] == "Genus/Species") { column_index =  1; }
        else if (column_options[i] == "Type")          { column_index =  2; } 
        else if (column_options[i] == "Height")        { column_index =  3; } 
        else if (column_options[i] == "Width")         { column_index =  4; } 
        else if (column_options[i] == "Bloom Color")   { column_index =  5; } 
        else if (column_options[i] == "Bloom Season")  { column_index =  6; } 
        else if (column_options[i] == "Pollinators")   { column_index =  7; }
        else if (column_options[i] == "CA Native")     { column_index =  8; } 
        else if (column_options[i] == "UCD All-Star")  { column_index =  9; }
        else if (column_options[i] == "Sun Exposure")  { column_index = 10; } 
        else if (column_options[i] == "Water Rqmts")   { column_index = 11; } 
        else if (column_options[i] == "pH Range")      { column_index = 12; }
        else if (column_options[i] == "Soil Type")     { column_index = 13; }
        else if (column_options[i] == "USDA Zones")    { column_index = 14; }
        else if (column_options[i] == "Sunset Zones")  { column_index = 15; }
        else { console.log("ERROR: column_index not set!"); }
        // Check to see if the current column should be shown or hidden
        if (column_selection.includes(column_options[i])){
          // display the column
          for (let i = 0; i < table.rows.length; i++) {
            table.rows[i].cells[column_index].style.display = "";
          }
        } else {
          // hide the column
          for (let i = 0; i < table.rows.length; i++) {
            table.rows[i].cells[column_index].style.display = "none";
          }
        }
      }
    }

    // Search menu - sidebar navigation scripts
    function w3_open() {
      document.getElementById("main").style.marginLeft = "16%";
      document.getElementById("mySidebar").style.width = "15%";
      document.getElementById("mySidebar").style.display = "block";
      // document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      // document.getElementById("openNav").style.display = "inline-block";
    }

    // Plant Table Column Chooser Script
    function column_chooser() {
      // Get the column chooser modal
      const column_chooser_modal = document.getElementById('column_chooser_modal')
      // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses
      fetch("{% url 'plants:column_chooser' %}")
        .then(response => response.text())
        .then(html => {column_chooser_modal.innerHTML = html;})
      // Display the plant column chooser modal
      column_chooser_modal.style.display='block'
    }

    // Delete Plant Modal Script
    function plants_delete(id) {
      // Get the plant delete modal
      const plants_delete_modal  = document.getElementById('plants_delete_modal')
      // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses
      url = "/plants_delete/" + id
      fetch(url)
        .then(response => response.text())
        .then(html => {plants_delete_modal.innerHTML = html;})
      // Display the plant delete modal
      plants_delete_modal.style.display='block'
    }

    // On page load, sort table alphabetically by Common Name
    window.onload = sortTable(0);
    // On page load, show colmuns as defined by ;column_selection
    window.onload = column_selector();
  </script>
{% endblock js %}