  <tr class="w3-hover-green">
    <!-- Plant Attributes -->
    <td>{{ plant.commonName }}</td>
    <td>{{ plant.bloom_color }}</td>
    <!-- Jan -->
    {% if "Jan" in plant.bloom_months %}
      <td class="bnd-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="bnd-center">-</td>
    {% endif %}
    <!-- Feb -->
    {% if "Feb" in plant.bloom_months %}
      <td class="bnd-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="bnd-center">-</td>
    {% endif %}
    <!-- Mar -->
    {% if "Mar" in plant.bloom_months %}
      <td class="bnd-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="bnd-center">-</td>
    {% endif %}
    <!-- Apr -->
    {% if "Apr" in plant.bloom_months %}
      <td class="bnd-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="bnd-center">-</td>
    {% endif %}
    <!-- May -->
    {% if "May" in plant.bloom_months %}
      <td class="bnd-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="bnd-center">-</td>
    {% endif %}
    <!-- Jun -->
    {% if "Jun" in plant.bloom_months %}
      <td class="bnd-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="bnd-center">-</td>
    {% endif %}
    <!-- Jul -->
    {% if "Jul" in plant.bloom_months %}
      <td class="bnd-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="bnd-center">-</td>
    {% endif %}
    <!-- Aug -->
    {% if "Aug" in plant.bloom_months %}
      <td class="bnd-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="bnd-center">-</td>
    {% endif %}
    <!-- Sep -->
    {% if "Sep" in plant.bloom_months %}
      <td class="bnd-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="bnd-center">-</td>
    {% endif %}
    <!-- Oct -->
    {% if "Oct" in plant.bloom_months %}
      <td class="bnd-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="bnd-center">-</td>
    {% endif %}
    <!-- Nov -->
    {% if "Nov" in plant.bloom_months %}
      <td class="bnd-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="bnd-center">-</td>
    {% endif %}
    <!-- Dec -->
    {% if "Dec" in plant.bloom_months %}
      <td class="bnd-center"><i class="material-icons">filter_vintage</i></td>
    {% else %}
      <td class="bnd-center">-</td>
    {% endif %}
  </tr>