<!-- /plants/templates/plant_details.html -->
{% extends "plants/master.html" %}
{% load static %}

{% block title %}
  <title>Plant | Details</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
<style>
  /* Forces the Quill editor container to have a visible structure */
  /* Required to make the editor visible in a pop-op modal         */
  .django-quill-widget-container {
      display:    block !important;
      min-height: 200px;
  }
  
  /* Forces Quill's internal editable area to render               */
  /* Required to make the editor visible in a pop-op modal         */
  .django-quill-widget-container .ql-editor {
      min-height: 150px !important;
      height:     auto  !important;
  }
</style>
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-banner-logo-container">
    <img src="{% static 'plants/img/logo.png' %}"  alt="No logo found" class="bnd-banner-logo">
  </div>

  <div class="bnd-banner-title-container">
    <h1>{{ plant.commonName }}</h1>
  </div>

  <div class="bnd-banner-scientific-name-container">
    <!-- <div class="bnd-banner-scientific-name-tooltip"> -->
      <span>
        ( 
        {{ plant.genus }} {{ plant.species }}
        {% if plant.subspecies != "tbd" and plant.subspecies != 'n/a' and plant.subspecies != ''%}
          ssp. {{ plant.subspecies }} 
          {% if plant.cultivar != "tbd" and plant.cultivar != 'n/a' and plant.cultivar != ''%}
            '{{ plant.cultivar }}'
          {% endif %}
        {% elif plant.variety != "tbd" and plant.variety != 'n/a' and plant.variety != ''%}
          var. {{ plant.variety }} 
        {% elif plant.cultivar != "tbd" and plant.cultivar != 'n/a' and plant.cultivar != ''%}
          '{{ plant.cultivar }}'
        {% endif %}
        )
      </span>
      <!-- Tool Tip -->
      <!-- <span class="bnd-banner-scientific-name-tooltip-text">Scientific Name</span> -->
    <!-- </div> -->
  </div>

  <div class="bnd-banner-audio-container">
    {% if plant.audio_name %}
      <div class="bnd-audio-tooltip">
        <audio id="player-2" src="{{ plant.audio_name.url }}"></audio>
        <span onclick="document.getElementById('player-2').play()">
          <i class="material-icons bnd-play-audio">volume_up</i>
        </span>
        <!-- Tool Tip -->
        <span class="bnd-audio-tooltip-text">Pronounce</span>
      </div>
    {% endif %}
  </div>

  <div class="bnd-banner-menu-container">
    <button class="bnd-banner-menu-icon">
      <i class="material-icons">menu</i>
    </button>
    <div class="bnd-banner-menu-content">
      <a href="{% url 'plants:plant_edit' plant.id %}" class="bnd-dropdown-button">Update</a>
      <button onclick="print_page()" class="bnd-banner-menu-item">Print</button>
    </div>
  </div>

{% endblock header-completion %}

{% block content %}
  {% include "plants/plant_details_insert.html" %}

  <!-- Comments -->
  <section id="plant_comments" class="bnd-section">
    <header class="bnd-section-header">
      <h4>Comments</h4>
    </header>
    <div class="bnd-section-contents">
      {% for comment in comments %}
        <p>Subject: {{ comment.subject }}</p>
        <p>Date:    {{ comment.date    }}</p>
        <p>Author:  {{ comment.author  }}</p>
        <hr/>
        {{ comment.comment.html|safe|escape }}
        <hr/>
      {% endfor %}
      <button type="button" id="openCommentModalBtn">Create comment</button>
    </div>
  </section>
  <hr>

  <!-- Plant record creator/date -->
  <p>Creator: {{ plant.creator }}</p>
  <p>Creation Date: {{ plant.creation_date }}</p>

  <!-------------------------------------------------------------------------->
  <!-- Modals                                                               -->
  <!-------------------------------------------------------------------------->
  <!-- Plant Add Comment modal                                              -->
  <!-------------------------------------------------------------------------->
  <div id="plant_comment_modal" class="bnd-modal">
    <div id="plant_comment_modal_body" class="bnd-modal-container">
      <header class="bnd-modal-header">
        <h4>Add comment for: {{ plant.commonName }}</h4>
      </header>
      <form id="commentQuillForm" 
            action="{% url 'plants:plant_comment' plant.id %}"
            method="POST" 
            enctype = "multipart/form-data">
        {% csrf_token %}
        <div class="bnd-modal-contents">
          {{ form.as_p }}
        </div>
        <div class="bnd-modal-button-bar">
          <button type="submit" class="bnd-button-submit">Submit</button>
          <button type    = "button"
                  onclick = "plant_comment_add_close()"
                  class   = "bnd-button-cancel">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script>
//-----------------------------------------------------------------------------
// Plant Comment Modal
//-----------------------------------------------------------------------------
const modal   = document.getElementById("plant_comment_modal");
const openBtn = document.getElementById("openCommentModalBtn");
// Open modal
openBtn.addEventListener("click", () => 
{
  modal.style.display = "block";
});
// Close modal
function plant_comment_add_close()
{
  document.getElementById('plant_comment_modal').style.display='none';
  document.body.classList.remove('bnd-modal-open');
}
// Close modal if user clicks anywhere outside of the modal container
window.addEventListener("click", (e) => 
{
  if (e.target === modal) 
  {
    plant_comment_modal.style.display = "none";
    document.body.classList.remove('bnd-modal-open');
  }
});
//-----------------------------------------------------------------------------
// Print the page
//-----------------------------------------------------------------------------
function print_page()
{
  window.print();
}
//-----------------------------------------------------------------------------
</script>
{% endblock js %}