<!-- /plants/templates/plants_details.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Plant | Details</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
    <!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">
        {{ plant.commonName }} 
        <span style="font-style: italic;">
          ( {{ plant.genus }} {{ plant.species }} )
        </span>
        <!-- Scientific Name Pronunciation -->
        {% if plant.audio_name %}
        <span class="w3-tooltip">
          <audio id="player-2" src="{{ plant.audio_name.url }}"></audio>
          <span style="cursor:pointer" onclick="document.getElementById('player-2').play()">
            <i class="material-icons w3-green">volume_up</i>
          </span>
          <!-- Tool Tip -->
          <span style="font-size:16px; position:absolute; left:0; bottom:34px;" 
                class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
            Pronounce
          </span>
        </span>
        {% endif %}
        <span class="w3-tooltip">
          <a href="{% url 'plants:plants_update' plant.id %}">
            <i class="material-icons">
              edit
            </i>
            <!-- Tool Tip -->
            <span style="font-size:16px; position:absolute; left:0; bottom:34px;" 
                  class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
              Edit
            </span>
          </a>
        </span>
      </h1>
    </div>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- Plant Attributes -->
  <div style="margin-top: 150px;">
    {% include "plants/plants_details_insert.html" %}
  </div>

  <!-- Comments -->
  <div class="w3-margin">
    <fieldset>
      <legend>Comments</legend>
      {% for comment in comments %}
        <p>Subject: {{ comment.subject }}</p>
        <p>Author:  {{ comment.author  }}</p>
        {{ comment.comment.html|safe|escape }}
        <hr>
      {% endfor %}
      <p><a href="{% url 'plants:plants_comment' plant.id %}">Add comment</a></p>
    </fieldset>
    <hr>
    <p>Creator: {{ plant.creator }}</p>
    <p>Creation Date: {{ plant.creation_date }}</p>
  </div>
{% endblock content %}

{% block js %}
  <!-- Insert template Javascript here -->
  <!-- Expand image via modal -->
  <script>
    function onClick(element) {
      document.getElementById("image").src = element.src;
      document.getElementById("image_modal").style.display = "block";
    }
  </script>
{% endblock js %}