<!-- /app/plants/templates/plants/plants_glossary.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Glossary</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
    <!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">Glossary</h1>
    </div>
  </div>
{% endblock header-completion %}

{% block content %}
  <!-- Glossary -->
  <div class="w3-container" style="margin-top:140px;">
    <h3>Cultivar</h3>
    <p class="w3-margin-left">
      A specific plant variety that has been intentionally bred by humans to 
      possess desirable characteristics, meaning it is cultivated and maintained 
      through human intervention; essentially, a cultivar is a "cultivated 
      variety" of a plant species.  The term cultivar is a blended word for 
      “cultivated variety".  Cultivars are capitalized and enclosed in single quotes.
    </p>

    <h3>Fertilizer NPK</h3>
    <p class="w3-margin-left">
      The NPK ratio represents the availability of Nitrogen, Phosphorous, and Potassium, 
      by weight, contained in a plant fertilizer.
    </p>
      <ul>
        <li>
          N = Nitrogen: Helps leaves grow and gives plants a deep green color
        </li>
        <li>
          P = Phosphorus: Helps roots develop and absorb nutrients
        </li>
        <li>
          K = Potasium: Helps plants convert food into energy and strengthens plant blades
        </li>
      </ul>

    <h3>Genus</h3>
      <p class="w3-margin-left">
        Naming: Capitalize and italize.
      </p>

    <h3>Hybrid</h3>
    <p class="w3-margin-left">
      A hybrid plant is the offspring of a cross between two different species 
      or varieties. Hybrids have greater genetic variability than their parents. 
      Hybrid plants tend to be more vigorous than their parents, and often have 
      faster growth, increased yield, and greater size.  Hybrids cannot usually 
      be reproduced by seed and must be clonally reproduced (i.e cuttings, grafting, 
      or tissue culture). 
    </p>

    <h3>Species</h3>
    <p class="w3-margin-left">
      A natural grouping of similar plants (or organisms) that can interbreed. 
      Usually, a species develops over time when the plant group is isolated 
      and through inbreeding becomes a unique species.
      <br><br>
      Naming: Lower case and italize.
    </p>

    <h3>Sunset Zones</h3>
    <p class="w3-margin-left">
      Sunset climate zones consider the total climate.  Including the following factors:
    </p>
    <ul>
      <li>Winter minimum temperature</li>
      <li>Summer maximum temperature</li>
      <li>Length of growing season</li>
      <li>Humidity</li>
      <li>Rainfall patterns (timing and amount)</li>
      <li>Wind</li>
    </ul>

    <h3>USDA Zones</h3>
    <p class="w3-margin-left">text here!</p>

    <h3>Variety</h3>
    <p class="w3-margin-left">
      In plant taxonomy, a variety is a plant within a species group in nature that 
      forms a trait. The trait is stable and can be reproduced either by seed or by 
      cuttings or grafting.  A naturally occurring variation within a plant species, 
      often arising from genetic mutations or environmental factors.  
    </p>

  </div>
{% endblock content%}

{% block js %}
  <!-- Insert template Javascript here -->
{% endblock js %}