<!-- /app/plants/templates/plants/plants_summary.html -->
{% extends "plants/master.html" %}

{% block title %}
  <title>Plant | Search</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

<!---------------------------->
<!-- Page Header Completion -->
<!---------------------------->

{% block header-completion %}
  <div class="w3-bar w3-green">
    <h1 class="w3-bar-item">Plant Finder</h1>
    <div class="w3-bar-item w3-dropdown-hover">
      <button class="w3-button w3-green" style="z-index:21">
        <i class="material-icons">
          menu
        </i>
      </button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <button onclick="w3_open()"        class="w3-bar-item w3-button">Plant Search  </button>
        <button onclick="column_chooser()" class="w3-bar-item w3-button">Column Chooser</button>
        <button onclick="document.getElementById('plants_chart_modal').style.display='block'"   
                class="w3-bar-item w3-button">Bloom Charts
        </button>
        {% if perms.plants.add_plant %}
          <a href="{% url 'plants:plants_add' %}"  class="w3-bar-item w3-button">Add Plant</a>
        {% endif %}
    </div>
    </div>
  </div> 
{% endblock header-completion %}

{% block content %}
  <!------------------------->
  <!-- Vertical Search Bar -->
  <!------------------------->

  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-margin-left" 
       style="display:none; height:80%;" 
       id="mySidebar">
    <form method="POST" action="{% url 'plants:plants_summary' %}" class="w3-container w3-card-4 w3-light-grey">
      {% csrf_token %}
      <!-- Plant Attributes -->
      <p class="w3-center"><i>Plant Details</i></p>

      <label for="id_type_x_search">Type:</label><br>
      <select id="id_type_x_search" name="type_x_search" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for plant_type in plant_types %}
          {% if plant_type == type_x_search %}
            <option value="{{ plant_type }}" selected>{{ plant_type }}</option>
          {% elif plant_type != "tbd" %}
            <option value="{{ plant_type }}"         >{{ plant_type }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_bloom_color_search">Bloom Color:</label><br>
      <select id="id_bloom_color_search" name="bloom_color_search" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in bloom_color_opt %}
          {% if x == bloom_color_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_bloom_season_search">Bloom Season:</label><br>
      <select id="id_bloom_season_search" name="bloom_season_search" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in bloom_season_opt %}
          {% if x == bloom_season_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_bloom_month_search">Bloom Month:</label><br>
      <select id="id_bloom_month_search" name="bloom_month_search" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for month in month_opt %}
          {% if month == bloom_month_search %}
            <option value="{{ month }}" selected>{{ month }}</option>
          {% elif plant_type != "tbd" %}
            <option value="{{ month }}"         >{{ month }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_pollinators_search">Pollinators:</label><br>
      <select id="id_pollinators_search" name="pollinators_search" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in pollinators_opt %}
          {% if x == pollinators_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_ca_native_search">California Native:</label><br>
      <select id="id_ca_native_search" name="ca_native_search" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in ca_native_opt %}
          {% if x == ca_native_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_ucd_all_star_search">UCD All-Star:</label><br>
      <select id="id_ucd_all_star_search" name="ucd_all_star_search" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in ucd_all_star_opt %}
          {% if x == ucd_all_star_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <!-- Environmental Needs -->
      <p class="w3-center"><i>Environmental Needs</i></p>

      <label for="id_sun_exposure_search">Sun Exposure:</label><br>
      <select id="id_sun_exposure_search" name="sun_exposure_search" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in sun_exposure_opt %}
          {% if x == sun_exposure_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_water_rqmts_search">Water Requirements:</label><br>
      <select id="id_water_rqmts_search" name="water_rqmts_search" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in water_rqmts_opt %}
          {% if x == water_rqmts_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_soil_type_search">Soil Requirements:</label><br>
      <select id="id_soil_type_search" name="soil_type_search" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in soil_type_opt %}
          {% if x == soil_type_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_pH_search">pH:</label><br>
      <select id="id_pH_search" name="pH_search" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in pH_opt %}
          {% if x == pH_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>
      
      <label for="id_usda_zone_search">USDA Zone:</label><br>
      <select id="id_usda_zone_search" name="usda_zone_search" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in usda_zones_opt %}
          {% if x == usda_zone_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_sunset_zone_search">Sunset Zone:</label><br>
      <select id="id_sunset_zone_search" name="sunset_zone_search" class="w3-select w3-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in sunset_zones_opt %}
          {% if x == sunset_zone_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>
      <!-- In My Garden? -->
      <p class="w3-center"><i>In My Garden?</i></p>

      <label for="id_garden_search">All plants / My plants</label><br>
      <select id="id_garden_search" name="garden_search" class="w3-select w3-margin-bottom">
        {% if garden_search == "Any" %}
          <option value="Any"  selected>Any </option>
          <option value="Mine"         >Mine</option>
        {% else %}
          <option value="Any"          >Any </option>
          <option value="Mine" selected>Mine</option>
        {% endif %}
      </select>
      <br>

      <!-- Button to initiate the search based upon the input criteria -->
      <button type="submit" 
              value="Submit" 
              class="w3-button w3-border w3-green w3-round-large w3-margin-bottom">
        Submit
      </button>
      <!-- Button to reset all search criteria to 'Any' -->
      <button type="button" 
              onclick="searchReset()"
              value="Reset" 
              class="w3-button w3-border w3-white w3-round-large w3-margin-bottom">
        Reset
      </button>
      <!-- Button to hide the search menu -->
      <button type="button" 
              onclick="w3_close()"
              value="Hide" 
              class="w3-button w3-border w3-red w3-round-large w3-margin-bottom">
        Hide
      </button>
    </form>
  </div>
  
  <!------------------------->
  <!--        Modals       -->
  <!------------------------->
  
  <!-- Plant Delete modal - html to be inserted by Javascript -->
  <div id="plants_delete_modal" class="w3-modal">
    <p>Plant delete form HTML to be Inserted Here!</p>
  </div>
  
  <!-- Column Chooser modal - html to be inserted by Javascript -->
  <div id="column_chooser_modal" class="w3-modal">
    <p>Column Chooser HTML to be Inserted Here!</p>
  </div>
  
  <!-- Plant Chart modal -->
  <div id="plants_chart_modal" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom" >
      
      <header class="w3-container w3-green"> 
        <!-- Close the chart modal -->
        <span onclick="document.getElementById('plants_chart_modal').style.display='none'" 
          class="w3-button w3-display-topright">&times;</span>
          <h2>Bloom Chart - Blooms by Month</h2>
      </header>

      <!-- Create the modal tabs -->
      <div class="w3-bar w3-border-bottom">
        <button class="tablink w3-bar-item w3-button" onclick="openChart(event, 'blooms_tab_content')"      >Blooms       </button>
        <button class="tablink w3-bar-item w3-button" onclick="openChart(event, 'bees_tab_content')"        >Bees         </button>
        <button class="tablink w3-bar-item w3-button" onclick="openChart(event, 'butterflies_tab_content')" >Butterflies  </button>
        <button class="tablink w3-bar-item w3-button" onclick="openChart(event, 'hummingbirds_tab_content')">Hummingbirds</button>
      </div>
    
      <!-- Create the modal chart - Blooms -->
      <div id="blooms_tab_content" class="chart">
        {% with table_name="bloomsTable" %}
          <table id="bloomsTable" class="w3-table-all w3-hoverable">
            {% include "plants/plants_chart_modal_head.html" %}
            {% for plant in plants %}
              {% if plant.plant_show == "yes" and plant.bloom_months != '' %} 
                {% include "plants/plants_chart_modal_rows.html" %}
              {% endif %}
            {% endfor %}
          </table>
          <footer class="w3-container w3-green">
            <p class="w3-center">Garden Blooms</p>
          </footer>
        {% endwith %}
      </div>
    
      <!-- Create the modal chart - Bees -->
      <div id="bees_tab_content" class="chart">
        {% with table_name="bees_table" %}
          <table id="bees_table" class="w3-table-all w3-hoverable">
            {% include "plants/plants_chart_modal_head.html" %}
            {% for plant in plants %}
              {% if plant.plant_show == "yes" and "Bees" in plant.pollinators and plant.bloom_months != '' %} 
                {% include "plants/plants_chart_modal_rows.html" %}
              {% endif %}
            {% endfor %}
          </table>
          <footer class="w3-container w3-green">
            <p class="w3-center">Blooms attracting Bees</p>
          </footer>
        {% endwith %}
      </div>
    
      <!-- Create the modal chart - Butterflies -->
      <div id="butterflies_tab_content" class="chart">
        {% with table_name="butterflies_table" %}
          <table id="butterflies_table" class="w3-table-all w3-hoverable">
            {% include "plants/plants_chart_modal_head.html" %}
            {% for plant in plants %}
              {% if plant.plant_show == "yes" and "Butterflies" in plant.pollinators and plant.bloom_months != '' %} 
                {% include "plants/plants_chart_modal_rows.html" %}
              {% endif %}
            {% endfor %}
          </table>
          <footer class="w3-container w3-green">
            <p class="w3-center">Blooms attracting Butterflies</p>
          </footer>
        {% endwith %}
      </div>
    
      <!-- Create the modal chart - Hummingbirds -->
      <div id="hummingbirds_tab_content" class="chart">
        {% with table_name="hummingbirds_table" %}
          <table id="hummingbirds_table" class="w3-table-all w3-hoverable">
            {% include "plants/plants_chart_modal_head.html" %}
            {% for plant in plants %}
              {% if plant.plant_show == "yes" and "Hummingbirds" in plant.pollinators and plant.bloom_months != '' %} 
                {% include "plants/plants_chart_modal_rows.html" %}
              {% endif %}
            {% endfor %}
          </table>
          <footer class="w3-container w3-green">
            <p class="w3-center">Blooms attracting Hummingbirds</p>
          </footer>
        {% endwith %}
      </div>
    
    </div>
  </div>

  <!------------------------->
  <!--     Plant Table     -->
  <!------------------------->

  <div class="w3-container" id="main" style="margin-top:150px;">
    <table class="w3-table-all w3-hoverable" id="plantTable">
      <thead>
        <tr class="w3-light-grey">
          <!-- Plant Attributes -->
          <th style="cursor:pointer" onclick="sortTable(0, 'plantTable')" >Common Name  </th>
          <th style="cursor:pointer" onclick="sortTable(1, 'plantTable')" >Genus/Species</th>
          <th style="cursor:pointer" onclick="sortTable(2, 'plantTable')" >Variety      </th>
          <th style="cursor:pointer" onclick="sortTable(3, 'plantTable')" >Type         </th>
          <th style="cursor:pointer" onclick="sortTable(4, 'plantTable')" >Height       </th>
          <th style="cursor:pointer" onclick="sortTable(5, 'plantTable')" >Width        </th>
          <th style="cursor:pointer" onclick="sortTable(6, 'plantTable')" >Bloom Color  </th>
          <th style="cursor:pointer" onclick="sortTable(7, 'plantTable')" >Bloom Season </th>
          <th style="cursor:pointer" onclick="sortTable(8, 'plantTable')" >Bloom Range  </th>
          <th style="cursor:pointer" onclick="sortTable(9, 'plantTable')" >Pollinators  </th>
          <th style="cursor:pointer" onclick="sortTable(10, 'plantTable')" class="w3-center">CA Native</th>
          <th style="cursor:pointer" onclick="sortTable(11, 'plantTable')" class="w3-center">UCD All-Star</th>
           <!-- Plant Requirements -->
          <th style="cursor:pointer" onclick="sortTable(12, 'plantTable')">Sun Exposure </th>
          <th style="cursor:pointer" onclick="sortTable(13, 'plantTable')">Water Rqmts  </th>
          <th style="cursor:pointer" onclick="sortTable(14, 'plantTable')">Soil Type     </th>
          <th style="cursor:pointer" onclick="sortTable(15, 'plantTable')">pH Range      </th>
          <th style="cursor:pointer" onclick="sortTable(16, 'plantTable')">USDA Zones    </th>
          <th style="cursor:pointer" onclick="sortTable(17, 'plantTable')">Sunset Zones  </th>
          <!-- Plant Detail header placeholder -->
          <th class="w3-center"></th>
          <!-- Plant Update header placeholder -->
          {% if perms.plants.change_plant %}
            <th class="w3-center"></th>
          {% endif %}
          <!-- Plant Delete header placeholder -->
          {% if perms.plants.delete_plant %}
            <th class="w3-center"></th>
          {% endif %}
          <!-- My plant add/remove header placeholder -->
          <th class="w3-center"></th>
        </tr>
      </thead>
      {% for plant in plants %}
        {% if plant.plant_show == "yes" %}   
          <tr class="w3-hover-green">
            <!-- Plant Attributes -->
            <td>{{ plant.commonName                     }}</td>
            <td>{{ plant.genus }} {{ plant.species}}      </td>
            <td>{{ plant.variety                        }}</td>
            <td>{{ plant.type_x                         }}</td>
            <td>{{ plant.height_feet }} ft {{ plant.height_inch }} in</td>
            <td>{{ plant.width_feet  }} ft {{ plant.width_inch  }} in</td>
            <td>{{ plant.bloom_color |cut:"["|cut:"]"   }}</td>
            <td>{{ plant.bloom_season|cut:"["|cut:"]"   }}</td>
            <td>{{ plant.bloom_start }}-{{ plant.bloom_end }}</td>
            <td>{{ plant.pollinators |cut:"["|cut:"]"   }}</td>
            <td class="w3-center">{{ plant.ca_native    }}</td>
            <td class="w3-center">{{ plant.ucd_all_star }}</td>
            <!-- Plant Requirements -->
            <td>{{ plant.sun_exposure|cut:"["|cut:"]"   }}</td>
            <td>{{ plant.water_rqmts                    }}</td>
            <td>{{ plant.soil_type                      }}</td>
            <td>{{ plant.pH_min }} to {{ plant.pH_max }}              </td>
            <td>{{ plant.usda_zone_min }} to {{ plant.usda_zone_max }}</td>
            <td>{{ plant.sunset_zones }}                              </td>
            <!-- Plant Details Icon/Link -->
            <td class="w3-center" 
              style="color:black; margin-left:0px; padding-left:0px; margin-right:0px; padding-right:10px;">
              <div class="w3-tooltip">
                <a href="{% url 'plants:plants_details' plant.id %}">
                  <i class="material-icons">
                    library_books
                  </i>
                  <span style="position:absolute; left:0; bottom:34px;" 
                            class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
                    Details
                  </span>
                </a>
              </div>
            </td>
            <!-- Plant Update Icon/Link -->
            {% if perms.plants.change_plant %}
            <td class="w3-center" 
              style="color:black; margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px;">
              <div class="w3-tooltip">
                <a href="{% url 'plants:plants_update' plant.id %}">
                  <i class="material-icons">
                    edit
                  </i>
                  <span style="position:absolute; left:0; bottom:34px;" 
                  class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
                    Edit
                  </span>
                </a>
              </div>
            </td>
            {% endif %}
            <!-- Plant Delete Icon/Link -->
            {% if perms.plants.delete_plant %}
            <td class="w3-center" 
              style="color:black; margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px;">
              <div class="w3-tooltip">
                <button onclick="plants_delete({{ plant.id }})" class="w3-transparent w3-border-0">
                  <i class="material-icons" style="color:black;">
                    delete
                  </i>
                  <span style="position:absolute; left:0; bottom:34px;" 
                        class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
                    Delete
                  </span>
                </button>
              </div>
            </td>
            {% endif %}
            <!-- Add plant to My Plants Icon/Link -->
            <td class="w3-center" 
              style="color:black; margin-left:0px; padding-left:0px; margin-right:0px; padding-right:8px;">
              <div class="w3-tooltip">
                {% if plant.plant_mine == "yes" %}
                  <a href="{% url 'plants:myplants_remove' plant.id %}">
                    <i class="material-icons">check</i>
                    <span style="position:absolute; left:0; bottom:34px;" 
                          class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
                      My Plant
                    </span>
                  </a>
                {% else %}
                  <a href="{% url 'plants:myplants_add' plant.id %}">
                    <i class="material-icons">add</i>
                    <span style="position:absolute; left:0; bottom:34px;" 
                          class="w3-text w3-tag w3-round-xlarge w3-animate-opacity">
                      Add to My Plants
                    </span>
                  </a>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>

{% endblock content %}

{% block js %}
  <!-- Column selector -->
  <script>
    function column_selector(){
      const table = document.getElementById("plantTable");
      // 
      const column_options = ['Common Name', 'Genus/Species', 'Variety',
                              'Type', 'Height', 'Width', 'Bloom Color', 'Bloom Season', 'Bloom Range',
                              'Pollinators', 'CA Native', 'UCD All-Star', 
                              'Sun Exposure', 'Water Rqmts', 'Soil Type', 'pH Range', 
                              'USDA Zones', 'Sunset Zones',
      ]
      let column_index = 0;
      // Get the list of columns to display
      let column_selection = {{ column_selection|safe }};
      // determine the array index for each column
      // walk through the list of columns to either display or hide
      // AR: streamine the code via column_options.forEach()?
      let i, len;
      for (i = 0, len = column_options.length; i < len; i++) {
        if      (column_options[i] == "Common Name")   { column_index =  0; } 
        else if (column_options[i] == "Genus/Species") { column_index =  1; }
        else if (column_options[i] == "Variety")       { column_index =  2; }
        else if (column_options[i] == "Type")          { column_index =  3; } 
        else if (column_options[i] == "Height")        { column_index =  4; } 
        else if (column_options[i] == "Width")         { column_index =  5; } 
        else if (column_options[i] == "Bloom Color")   { column_index =  6; } 
        else if (column_options[i] == "Bloom Season")  { column_index =  7; } 
        else if (column_options[i] == "Bloom Range")   { column_index =  8; }
        else if (column_options[i] == "Pollinators")   { column_index =  9; }
        else if (column_options[i] == "CA Native")     { column_index = 10; } 
        else if (column_options[i] == "UCD All-Star")  { column_index = 11; }
        else if (column_options[i] == "Sun Exposure")  { column_index = 12; } 
        else if (column_options[i] == "Water Rqmts")   { column_index = 13; } 
        else if (column_options[i] == "Soil Type")     { column_index = 14; }
        else if (column_options[i] == "pH Range")      { column_index = 15; }
        else if (column_options[i] == "USDA Zones")    { column_index = 16; }
        else if (column_options[i] == "Sunset Zones")  { column_index = 17; }
        else { console.log("ERROR: column_index not set!"); }
        // Check to see if the current column should be shown or hidden
        if (column_selection.includes(column_options[i])){
          // display the column
          for (let i = 0; i < table.rows.length; i++) {
            table.rows[i].cells[column_index].style.display = "";
          }
        } else {
          // hide the column
          for (let i = 0; i < table.rows.length; i++) {
            table.rows[i].cells[column_index].style.display = "none";
          }
        }
      }
    }
  </script>

  <!-- Search menu - sidebar navigation scripts -->
  <script>
    function w3_open() {
      document.getElementById("main").style.marginLeft = "16%";
      document.getElementById("mySidebar").style.width = "15%";
      document.getElementById("mySidebar").style.display = "block";
      // document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      // document.getElementById("openNav").style.display = "inline-block";
    }
  </script>

  <!-- Reset all search criteria to 'Any' -->    
  <script>
    function searchReset() {
      document.getElementById("id_type_x_search"      ).value = "Any";
      document.getElementById("id_bloom_color_search" ).value = "Any";
      document.getElementById("id_bloom_season_search").value = "Any";
      document.getElementById("id_bloom_month_search" ).value = "Any";
      document.getElementById("id_pollinators_search" ).value = "Any";
      document.getElementById("id_ca_native_search"   ).value = "Any";
      document.getElementById("id_ucd_all_star_search").value = "Any";
      document.getElementById("id_sun_exposure_search").value = "Any";
      document.getElementById("id_water_rqmts_search" ).value = "Any";
      document.getElementById("id_soil_type_search"   ).value = "Any";
      document.getElementById("id_pH_search"          ).value = "Any";
      document.getElementById("id_usda_zone_search"   ).value = "Any";
      document.getElementById("id_sunset_zone_search" ).value = "Any";
      document.getElementById("id_garden_search"      ).value = "Any";
    }
  </script>

  <!-- Plant Table Column Chooser Script -->   
  <script>
    function column_chooser() {
      // Get the column chooser modal
      const column_chooser_modal = document.getElementById('column_chooser_modal')
      // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses
      fetch("{% url 'plants:column_chooser' %}")
        .then(response => response.text())
        .then(html => {column_chooser_modal.innerHTML = html;})
      // Display the plant column chooser modal
      column_chooser_modal.style.display='block'
    }
  </script>

  <!-- Delete Plant Modal Script --> 
  <script>
    function plants_delete(id) {
      // Get the plant delete modal
      const plants_delete_modal  = document.getElementById('plants_delete_modal')
      // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses
      url = "/plants_delete/" + id
      fetch(url)
        .then(response => response.text())
        .then(html => {plants_delete_modal.innerHTML = html;})
      // Display the plant delete modal
      plants_delete_modal.style.display='block'
    }

    // Plant Chart Modal Tab Selection Function
    // Select the first tab
    document.getElementsByClassName("tablink")[0].click();
  </script>

  <!-- Plant Chart Modal Script -->
  <script>
    // Select the first tab
    document.getElementsByClassName("tablink")[0].click();
    function openChart(evt, chartName) 
    {
      let i, x, tablinks;
      // Hide all tab content
      x = document.getElementsByClassName("chart");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      // Remove all tab highlighting
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
        tablinks[i].classList.remove("w3-light-green");
      }
      // Show contents of selected tab and turn tab to light green
      document.getElementById(chartName).style.display = "block";
      evt.currentTarget.classList.add("w3-light-green");
    }
  </script>

  <!-- On Page load functions -->
  <script>
    // Sort table alphabetically by Common Name
    window.onload = sortTable(0, 'plantTable');
    // Show columns as defined by column_selection
    window.onload = column_selector();
  </script>
{% endblock js %}