<!-- /app/plants/templates/plants/plants_summary.html -->
{% extends "plants/master.html" %}

<!--  -->
{% load user_tags %}

{% block title %}
  <title>Plant | Search</title>
{% endblock title %}

{% block css %}
<!-- Insert template css here -->
{% endblock css %}

{% block header-completion %}
  <!-- complete the header from master.html -->
  <div class="bnd-card-4">
    <header class="bnd-container  bnd-green">
      <h3 class="bnd-bar-item">
        Plant Finder
        <span class="bnd-dropdown-hover bnd-right">
          <button class="bnd-button bnd-green" style="z-index:21">
            <i class="material-icons">
              menu
            </i>
          </button>
          <div class="bnd-dropdown-content w3-bar-block bnd-card-4" style="right:0; font-size: 16px">
            <button onclick="w3_open()"        class="bnd-bar-item bnd-button">Plant Search  </button>
            <button onclick="column_chooser()" class="bnd-bar-item bnd-button">Column Chooser</button>
            <button onclick="document.getElementById('plants_chart_modal').style.display='block'"   
                    class="bnd-bar-item bnd-button">Bloom Charts
            </button>
            {% if perms.plants.add_plant %}
              <a href="{% url 'plants:plants_add' %}"  class="bnd-bar-item bnd-button">Add Plant</a>
            {% endif %}
          </div>
        </span>
      </h3>
    </header>
  </div>
{% endblock header-completion %}

{% block content %}
  <!------------------------->
  <!-- Vertical Search Bar -->
  <!------------------------->
  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left bnd-margin-left" 
       style="display:none; height:80%;" 
       id="mySidebar">
    <form method="POST" action="{% url 'plants:plants_summary' %}" class="bnd-container bnd-card-4 bnd-light-grey">
      {% csrf_token %}
      <!-- Plant Attributes -->
      <p class="w3-center"><i>Plant Details</i></p>

      <label for="id_type_x_search">Type:</label><br>
      <select id="id_type_x_search" name="type_x_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for plant_type in plant_types %}
          {% if plant_type == type_x_search %}
            <option value="{{ plant_type }}" selected>{{ plant_type }}</option>
          {% elif plant_type != "tbd" %}
            <option value="{{ plant_type }}"         >{{ plant_type }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_bloom_color_search">Bloom Color:</label><br>
      <select id="id_bloom_color_search" name="bloom_color_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in bloom_color_opt %}
          {% if x == bloom_color_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_bloom_season_search">Bloom Season:</label><br>
      <select id="id_bloom_season_search" name="bloom_season_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in bloom_season_opt %}
          {% if x == bloom_season_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_bloom_month_search">Bloom Month:</label><br>
      <select id="id_bloom_month_search" name="bloom_month_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for month in month_opt %}
          {% if month == bloom_month_search %}
            <option value="{{ month }}" selected>{{ month }}</option>
          {% elif plant_type != "tbd" %}
            <option value="{{ month }}"         >{{ month }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_pollinators_search">Pollinators:</label><br>
      <select id="id_pollinators_search" name="pollinators_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in pollinators_opt %}
          {% if x == pollinators_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_ca_native_search">California Native:</label><br>
      <select id="id_ca_native_search" name="ca_native_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in ca_native_opt %}
          {% if x == ca_native_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_ucd_all_star_search">UCD All-Star:</label><br>
      <select id="id_ucd_all_star_search" name="ucd_all_star_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in ucd_all_star_opt %}
          {% if x == ucd_all_star_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_davis_trees_search">Davis Climate-Ready Trees:</label><br>
      <select id="id_davis_trees_search" name="davis_trees_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in davis_trees_opt %}
          {% if x == davis_trees_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_sunset_z14_search">Sunset Z14:</label><br>
      <select id="id_sunset_z14_search" name="sunset_z14_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in sunset_z14_opt %}
          {% if x == sunset_z14_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <!-- Environmental Needs -->
      <p class="w3-center"><i>Environmental Needs</i></p>

      <label for="id_sun_exposure_search">Sun Exposure:</label><br>
      <select id="id_sun_exposure_search" name="sun_exposure_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in sun_exposure_opt %}
          {% if x == sun_exposure_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_water_rqmts_search">Water Requirements:</label><br>
      <select id="id_water_rqmts_search" name="water_rqmts_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in water_rqmts_opt %}
          {% if x == water_rqmts_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_soil_type_search">Soil Requirements:</label><br>
      <select id="id_soil_type_search" name="soil_type_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in soil_type_opt %}
          {% if x == soil_type_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_pH_search">pH:</label><br>
      <select id="id_pH_search" name="pH_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in pH_opt %}
          {% if x == pH_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>
      
      <label for="id_heat_tolerance_search">Heat Tolerance:</label><br>
      <select id="id_heat_tolerance_search" name="heat_tolerance_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in heat_tolerance_opt %}
          {% if x == heat_tolerance_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_usda_zone_search">USDA Zone:</label><br>
      <select id="id_usda_zone_search" name="usda_zone_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in usda_zones_opt %}
          {% if x == usda_zone_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>

      <label for="id_sunset_zone_search">Sunset Zone:</label><br>
      <select id="id_sunset_zone_search" name="sunset_zone_search" class="w3-select bnd-margin-bottom">
        <option value="Any" >Any</option>
        {% for x in sunset_zones_opt %}
          {% if x == sunset_zone_search %}
            <option value="{{ x }}" selected>{{ x }}</option>
          {% elif x != "tbd" %}
            <option value="{{ x }}"         >{{ x }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>
      <!-- In My Garden? -->
      <p class="w3-center"><i>In My Garden?</i></p>

      <label for="id_garden_search">All plants / My plants</label><br>
      <select id="id_garden_search" name="garden_search" class="w3-select bnd-margin-bottom">
        {% if garden_search == "Any" %}
          <option value="Any"  selected>Any </option>
          <option value="Mine"         >Mine</option>
        {% else %}
          <option value="Any"          >Any </option>
          <option value="Mine" selected>Mine</option>
        {% endif %}
      </select>
      <br>

      <!-- Admin stuff - Display for group = "Garden-Editor" -->
      {% if request.user|has_group:"Garden-Editor" %}
        <div>
      {% elif request.user|has_group:"Gardener" %}
        <div style = "display: none">
      {% endif %}

        <!-- Admin stuff -->
        <p class="w3-center"><i>Admin stuff</i></p>
        
        <label for="id_status_search">Status:</label><br>
        <select id="id_status_search" name="status_search" class="w3-select bnd-margin-bottom">
          <option value="Any" >Any</option>
          {% for x in status_opt %}
            {% if x == status_search %}
              <option value="{{ x }}" selected>{{ x }}</option>
            {% elif x != "tbd" %}
              <option value="{{ x }}"         >{{ x }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br>

      </div>

      <!-- Button to initiate the search based upon the input criteria -->
      <button type="submit" 
              value="Submit" 
              class="bnd-button bnd-border bnd-green bnd-round-large bnd-margin-bottom">
        Submit
      </button>
      <!-- Button to reset all search criteria to 'Any' -->
      <button type="button" 
              onclick="searchReset()"
              value="Reset" 
              class="bnd-button bnd-border bnd-white bnd-round-large bnd-margin-bottom">
        Reset
      </button>
      <!-- Button to hide the search menu -->
      <button type="button" 
              onclick="w3_close()"
              value="Hide" 
              class="bnd-button bnd-border bnd-red bnd-round-large bnd-margin-bottom">
        Hide
      </button>
    </form>
  </div>
  
  <!------------------------->
  <!--        Modals       -->
  <!------------------------->
  
  <!-- Plant Delete modal - html to be inserted by Javascript -->
  <div id="plants_delete_modal" class="bnd-modal">
    <p>Plant delete form HTML to be Inserted Here!</p>
  </div>

  <!-- My Plant Remove modal - html to be inserted by Javascript -->
  <div id="myplant_remove_modal" class="bnd-modal">
    <p>My Plant remove form HTML to be Inserted Here!</p>
  </div>
  
  <!-- Column Chooser modal - html to be inserted by Javascript -->
  <div id="column_chooser_modal" class="bnd-modal">
    <p>Column Chooser HTML to be Inserted Here!</p>
  </div>
  
  <!-- Plant Chart modal -->
  <div id="plants_chart_modal" class="bnd-modal">
    <div class="bnd-modal-content bnd-animate-zoom" >
      
      <header class="bnd-container bnd-green"> 
        <!-- Close the chart modal -->
        <span onclick="document.getElementById('plants_chart_modal').style.display='none'" 
          class="bnd-button w3-display-topright">&times;</span>
          <h2>Bloom Chart - Blooms by Month</h2>
      </header>

      <!-- Create the modal tabs - each chart has a tab -->
      <div class="bnd-bar bnd-border-bottom">
        <button id="bloomTabButton"       class="tab bnd-bar-item bnd-button">Blooms      </button>
        <button id="beeTabButton"         class="tab bnd-bar-item bnd-button">Bees        </button>
        <button id="butterflyTabButton"   class="tab bnd-bar-item bnd-button">Butterflies </button>
        <button id="hummingbirdTabButton" class="tab bnd-bar-item bnd-button">Hummingbirds</button>
      </div>
    
      <!-- Create the modal chart - Blooms -->
      <div id="bloomTabContent" class="tabContent">
        {% with table_name="bloomTable" %}
          <table id="bloomTable" class="w3-table-all w3-hoverable">
            {% include "plants/plants_chart_modal_head.html" %}
            {% for plant in plants %}
              {% if plant.plant_show == "yes" and plant.bloom_months != '' %} 
                {% include "plants/plants_chart_modal_rows.html" %}
              {% endif %}
            {% endfor %}
          </table>
          <footer class="bnd-container bnd-green">
            <p class="w3-center">Garden Blooms</p>
          </footer>
        {% endwith %}
      </div>
    
      <!-- Create the modal chart - Bees -->
      <div id="beeTabContent" class="tabContent">
        {% with table_name="beeTable" %}
          <table id="beeTable" class="w3-table-all w3-hoverable">
            {% include "plants/plants_chart_modal_head.html" %}
            {% for plant in plants %}
              {% if plant.plant_show == "yes" and "Bees" in plant.pollinators and plant.bloom_months != '' %} 
                {% include "plants/plants_chart_modal_rows.html" %}
              {% endif %}
            {% endfor %}
          </table>
          <footer class="bnd-container bnd-green">
            <p class="w3-center">Blooms attracting Bees</p>
          </footer>
        {% endwith %}
      </div>
    
      <!-- Create the modal chart - Butterflies -->
      <div id="butterflyTabContent" class="tabContent">
        {% with table_name="butterflyTable" %}
          <table id="butterflyTable" class="w3-table-all w3-hoverable">
            {% include "plants/plants_chart_modal_head.html" %}
            {% for plant in plants %}
              {% if plant.plant_show == "yes" and "Butterflies" in plant.pollinators and plant.bloom_months != '' %} 
                {% include "plants/plants_chart_modal_rows.html" %}
              {% endif %}
            {% endfor %}
          </table>
          <footer class="bnd-container bnd-green">
            <p class="w3-center">Blooms attracting Butterflies</p>
          </footer>
        {% endwith %}
      </div>
    
      <!-- Create the modal chart - Hummingbirds -->
      <div id="hummingbirdTabContent" class="tabContent">
        {% with table_name="hummingbirdTable" %}
          <table id="hummingbirdTable" class="w3-table-all w3-hoverable">
            {% include "plants/plants_chart_modal_head.html" %}
            {% for plant in plants %}
              {% if plant.plant_show == "yes" and "Hummingbirds" in plant.pollinators and plant.bloom_months != '' %} 
                {% include "plants/plants_chart_modal_rows.html" %}
              {% endif %}
            {% endfor %}
          </table>
          <footer class="bnd-container bnd-green">
            <p class="w3-center">Blooms attracting Hummingbirds</p>
          </footer>
        {% endwith %}
      </div>
    
    </div>
  </div>

  <!------------------------->
  <!--     Plant Table     -->
  <!------------------------->

  <div class="bnd-container" id="main" style="margin-top:120px;">
    <table class="w3-table-all w3-hoverable" id="plantTable">
      <thead>
        <tr class="bnd-light-grey">
          <!-- Plant Attributes -->
          <th style="cursor:pointer" onclick="sortTable(0, 'plantTable')" >Common Name  </th>
          <th style="cursor:pointer" onclick="sortTable(1, 'plantTable')" >Genus/Species</th>
          <th style="cursor:pointer" onclick="sortTable(2, 'plantTable')" >Variety      </th>
          <th style="cursor:pointer" onclick="sortTable(3, 'plantTable')" >Type         </th>
          <th style="cursor:pointer" onclick="sortTable(4, 'plantTable')" >Height       </th>
          <th style="cursor:pointer" onclick="sortTable(5, 'plantTable')" >Width        </th>
          <th style="cursor:pointer" onclick="sortTable(6, 'plantTable')" >Bloom Color  </th>
          <th style="cursor:pointer" onclick="sortTable(7, 'plantTable')" >Bloom Season </th>
          <th style="cursor:pointer" onclick="sortTable(8, 'plantTable')" >Bloom Range  </th>
          <th style="cursor:pointer" onclick="sortTable(9, 'plantTable')" >Pollinators  </th>
          <th style="cursor:pointer" onclick="sortTable(10, 'plantTable')" class="w3-center">CA Native</th>
          <th style="cursor:pointer" onclick="sortTable(11, 'plantTable')" class="w3-center">UCD All-Star</th>
          <th style="cursor:pointer" onclick="sortTable(12, 'plantTable')" class="w3-center">Davis trees</th>
          <th style="cursor:pointer" onclick="sortTable(13, 'plantTable')" class="w3-center">Sunset Z14</th>
          <!-- Plant Requirements -->
          <th style="cursor:pointer" onclick="sortTable(14, 'plantTable')">Sun Exposure   </th>
          <th style="cursor:pointer" onclick="sortTable(15, 'plantTable')">Water Rqmts    </th>
          <th style="cursor:pointer" onclick="sortTable(16, 'plantTable')">Soil Type      </th>
          <th style="cursor:pointer" onclick="sortTable(17, 'plantTable')">pH Range       </th>
          <th style="cursor:pointer" onclick="sortTable(18, 'plantTable')">Heat Tolerance </th>
          <th style="cursor:pointer" onclick="sortTable(19, 'plantTable')">USDA Zones     </th>
          <th style="cursor:pointer" onclick="sortTable(20, 'plantTable')">Sunset Zones   </th>
          <th style="cursor:pointer" onclick="sortTable(21, 'plantTable')">Status         </th>
          <!-- Plant Detail header placeholder -->
          <th class="w3-center"></th>
          <!-- Plant Update header placeholder -->
          {% if perms.plants.change_plant %}
            <th class="w3-center"></th>
          {% endif %}
          <!-- Plant Delete header placeholder -->
          {% if perms.plants.delete_plant %}
            <th class="w3-center"></th>
          {% endif %}
          <!-- My plant add/remove header placeholder -->
          <th class="w3-center"></th>
        </tr>
      </thead>
      {% for plant in plants %}
        {% if plant.plant_show == "yes" %}   
          <tr class="w3-hover-green">
            <!-- Plant Attributes -->
            <td>{{ plant.commonName                     }}</td>
            <td>{{ plant.genus }} {{ plant.species}}      </td>
            <td>{{ plant.variety                        }}</td>
            <td>{{ plant.type_x                         }}</td>
            <td>{{ plant.height_feet }} ft {{ plant.height_inch }} in</td>
            <td>{{ plant.width_feet  }} ft {{ plant.width_inch  }} in</td>
            <td>{{ plant.bloom_color |cut:"["|cut:"]"   }}</td>
            <td>{{ plant.bloom_season|cut:"["|cut:"]"   }}</td>
            <td>{{ plant.bloom_start }}-{{ plant.bloom_end }}</td>
            <td>{{ plant.pollinators |cut:"["|cut:"]"   }}</td>
            <td class="w3-center">{{ plant.ca_native    }}</td>
            <td class="w3-center">{{ plant.ucd_all_star }}</td>
            <td class="w3-center">{{ plant.davis_trees  }}</td>
            <td class="w3-center">{{ plant.sunset_z14   }}</td>
            <!-- Plant Requirements -->
            <td>{{ plant.sun_exposure|cut:"["|cut:"]"   }}</td>
            <td>{{ plant.water_rqmts                    }}</td>
            <td>{{ plant.soil_type                      }}</td>
            <td>{{ plant.pH_min }} to {{ plant.pH_max }}              </td>
            <td>{{ plant.heat_tolerance                             }}</td>
            <td>{{ plant.usda_zone_min }} to {{ plant.usda_zone_max }}</td>
            <td>{{ plant.sunset_zones }}                              </td>
            <!-- Admin -->
            <td>{{ plant.status }}                                    </td>
            <!-- Plant Details Icon/Link -->
            <td class="w3-center" 
              style="color:black; margin-left:0px; padding-left:0px; margin-right:0px; padding-right:10px;">
              <div class="w3-tooltip">
                <a href="{% url 'plants:plant_details' plant.id %}">
                  <i class="material-icons">
                    library_books
                  </i>
                  <span style="position:absolute; left:0; bottom:34px;" 
                            class="w3-text w3-tag bnd-round-xlarge w3-animate-opacity">
                    Details
                  </span>
                </a>
              </div>
            </td>
            <!-- Plant Update Icon/Link -->
            {% if perms.plants.change_plant %}
            <td class="w3-center" 
              style="color:black; margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px;">
              <div class="w3-tooltip">
                <a href="{% url 'plants:plant_update' plant.id %}">
                  <i class="material-icons">
                    edit
                  </i>
                  <span style="position:absolute; left:0; bottom:34px;" 
                  class="w3-text w3-tag bnd-round-xlarge w3-animate-opacity">
                    Edit
                  </span>
                </a>
              </div>
            </td>
            {% endif %}
            <!-- Plant Delete Icon/Link -->
            {% if perms.plants.delete_plant %}
            <td class="w3-center" 
              style="color:black; margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px;">
              <div class="w3-tooltip">
                <button onclick="plants_delete({{ plant.id }})" class="bnd-transparent bnd-border-0">
                  <i class="material-icons" style="color:black;">
                    delete
                  </i>
                  <span style="position:absolute; left:0; bottom:34px;" 
                        class="w3-text w3-tag bnd-round-xlarge w3-animate-opacity">
                    Delete
                  </span>
                </button>
              </div>
            </td>
            {% endif %}
            <!-- Add/remove plant to/from My Plants Icon/Link -->
            <td class="w3-center" 
              style="color:black; margin-left:0px; padding-left:0px; margin-right:0px; padding-right:8px;">
              <div class="w3-tooltip">
                {% if plant.plant_mine == "yes" %}
                  <button onclick="myplant_remove({{ plant.id }})" class="bnd-transparent bnd-border-0">
                    <i class="material-icons">check</i>
                    <span style="position:absolute; left:0; bottom:34px;" 
                          class="w3-text w3-tag bnd-round-xlarge w3-animate-opacity">
                      My Plant
                    </span>
                  </button>
                {% else %}
                  <a href="{% url 'plants:myplants_add' plant.id %}">
                    <i class="material-icons">add</i>
                    <span style="position:absolute; left:0; bottom:34px;" 
                          class="w3-text w3-tag bnd-round-xlarge w3-animate-opacity">
                      Add to My Plants
                    </span>
                  </a>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>

{% endblock content %}

{% block js %}
  <!-- Column selector -->
  <script>
    function column_selector(){
      const table = document.getElementById("plantTable");
      // 
      const column_options = ['Common Name', 'Genus/Species', 'Variety',
                              'Type', 'Height', 'Width', 'Bloom Color', 'Bloom Season', 'Bloom Range',
                              'Pollinators', 'CA Native', 'UCD All-Star', 'Davis Trees', 'Sunset Z14',
                              'Sun Exposure', 'Water Rqmts', 'Soil Type', 'pH Range', 
                              'Heat Tolerance', 'USDA Zones', 'Sunset Zones',
                              'Status',
      ]
      let column_index = 0;
      // Get the list of columns to display
      let column_selection = {{ column_selection|safe }};
      // determine the array index for each column
      // walk through the list of columns to either display or hide
      // AR: streamine the code via column_options.forEach()?
      let i, len;
      for (i = 0, len = column_options.length; i < len; i++) {
        if      (column_options[i] == "Common Name")    { column_index =  0; } 
        else if (column_options[i] == "Genus/Species")  { column_index =  1; }
        else if (column_options[i] == "Variety")        { column_index =  2; }
        else if (column_options[i] == "Type")           { column_index =  3; } 
        else if (column_options[i] == "Height")         { column_index =  4; } 
        else if (column_options[i] == "Width")          { column_index =  5; } 
        else if (column_options[i] == "Bloom Color")    { column_index =  6; } 
        else if (column_options[i] == "Bloom Season")   { column_index =  7; } 
        else if (column_options[i] == "Bloom Range")    { column_index =  8; }
        else if (column_options[i] == "Pollinators")    { column_index =  9; }
        else if (column_options[i] == "CA Native")      { column_index = 10; } 
        else if (column_options[i] == "UCD All-Star")   { column_index = 11; }
        else if (column_options[i] == "Davis Trees")    { column_index = 12; }
        else if (column_options[i] == "Sunset Z14")     { column_index = 13; }
        else if (column_options[i] == "Sun Exposure")   { column_index = 14; } 
        else if (column_options[i] == "Water Rqmts")    { column_index = 15; } 
        else if (column_options[i] == "Soil Type")      { column_index = 16; }
        else if (column_options[i] == "pH Range")       { column_index = 17; }
        else if (column_options[i] == "Heat Tolerance") { column_index = 18; }
        else if (column_options[i] == "USDA Zones")     { column_index = 19; }
        else if (column_options[i] == "Sunset Zones")   { column_index = 20; }
        else if (column_options[i] == "Status")         { column_index = 21; }
        else { console.log("ERROR: column_index not set!"); }
        // Check to see if the current column should be shown or hidden
        if (column_selection.includes(column_options[i])){
          // display the column
          for (let i = 0; i < table.rows.length; i++) {
            table.rows[i].cells[column_index].style.display = "";
          }
        } else {
          // hide the column
          for (let i = 0; i < table.rows.length; i++) {
            table.rows[i].cells[column_index].style.display = "none";
          }
        }
      }
    }
  </script>

  <!-- Search menu - sidebar navigation scripts -->
  <script>
    function w3_open() {
      document.getElementById("main").style.marginLeft = "16%";
      document.getElementById("mySidebar").style.width = "15%";
      document.getElementById("mySidebar").style.display = "block";
      // document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      // document.getElementById("openNav").style.display = "inline-block";
    }
  </script>

  <!-- Reset all search criteria to 'Any' -->    
  <script>
    function searchReset() {
      document.getElementById("id_type_x_search"        ).value = "Any";
      document.getElementById("id_bloom_color_search"   ).value = "Any";
      document.getElementById("id_bloom_season_search"  ).value = "Any";
      document.getElementById("id_bloom_month_search"   ).value = "Any";
      document.getElementById("id_pollinators_search"   ).value = "Any";
      document.getElementById("id_ca_native_search"     ).value = "Any";
      document.getElementById("id_ucd_all_star_search"  ).value = "Any";
      document.getElementById("id_davis_trees_search"   ).value = "Any";
      document.getElementById("id_sunset_z14_search"    ).value = "Any";
      document.getElementById("id_sun_exposure_search"  ).value = "Any";
      document.getElementById("id_water_rqmts_search"   ).value = "Any";
      document.getElementById("id_soil_type_search"     ).value = "Any";
      document.getElementById("id_pH_search"            ).value = "Any";
      document.getElementById("id_heat_tolerance_search").value = "Any";
      document.getElementById("id_usda_zone_search"     ).value = "Any";
      document.getElementById("id_sunset_zone_search"   ).value = "Any";
      document.getElementById("id_garden_search"        ).value = "Any";
      document.getElementById("id_status_search"        ).value = "Any";
    }
  </script>

  <!-- Plant Table Column Chooser Script -->   
  <script>
    function column_chooser() {
      // Get the column chooser modal
      const column_chooser_modal = document.getElementById('column_chooser_modal')
      // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses
      fetch("{% url 'plants:column_chooser' %}")
        .then(response => response.text())
        .then(html => {column_chooser_modal.innerHTML = html;})
      // Display the plant column chooser modal
      column_chooser_modal.style.display='block'
    }
  </script>

  <!-- Delete Plant Modal Script --> 
  <script>
    function plants_delete(id) {
      // Get the plant delete modal
      const plants_delete_modal  = document.getElementById('plants_delete_modal')
      // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses
      url = "/plants_delete/" + id
      fetch(url)
        .then(response => response.text())
        .then(html => {plants_delete_modal.innerHTML = html;})
      // Display the plant delete modal
      plants_delete_modal.style.display='block'
    }
  </script>

  <!-- Remove My Plant Modal Script -->
  <script>
    function myplant_remove(id)
    {
      // Get the my plant remove modal
      const myplant_remove_modal  = document.getElementById('myplant_remove_modal')
      // The Fetch API provides a JavaScript interface for making HTTP requests and processing the responses
      url = "/myplants_remove/" + id
      fetch(url)
        .then(response => response.text())
        .then(html => {myplant_remove_modal.innerHTML = html;})
      // Display the plant delete modal
      myplant_remove_modal.style.display='block'
    }
  </script>

  <!-- Plant Chart Modal Script -->
  <script>
    // Register bloom chart tab buttons
    document.getElementById("bloomTabButton").addEventListener("click", function() 
    {
      openChart(event, 'bloomTabContent');
    });
    document.getElementById("beeTabButton").addEventListener("click", function() 
    {
      openChart(event, 'beeTabContent');
    });
    document.getElementById("butterflyTabButton").addEventListener("click", function() 
    {
      openChart(event, 'butterflyTabContent');
    });
    document.getElementById("hummingbirdTabButton").addEventListener("click", function() 
    {
      openChart(event, 'hummingbirdTabContent');
    });
    //
    function openChart(event, selectedTabContent) 
    {
      let i, tabs, tabContents;
      //
      tabs        = document.getElementsByClassName("tab");
      tabContents = document.getElementsByClassName("tabContent");
      // Clear all tab highlighting and all tab content
      for (i = 0; i < tabs.length; i++)
      {
        tabs[i].classList.remove("bnd-light-green");
        tabContents[i].style.display = "none";
      }
      // Get selected tab
      selTabContent=document.getElementById(selectedTabContent);
      // Highlight selected tab
      event.currentTarget.classList.add("bnd-light-green");
      // Show tabcontents
      selTabContent.style.display = "block";
      // Sort table
      table = selTabContent.firstElementChild;
      sortTable(0, table.id);
    }
    // Select the first tab and sort by Common Name
    bloomTab = document.getElementsByClassName("tab")[0];
    bloomTab.click();
  </script>

  <!-- On Page load functions -->
  <script>
    // Sort table alphabetically by Common Name
    window.onload = sortTable(0, 'plantTable');
    // Show columns as defined by column_selection
    window.onload = column_selector();
  </script>
{% endblock js %}