<!-- /app/plants/templates/plants/user_login_modal.html -->

<div class="bnd-modal-content bnd-card-4 bnd-animate-zoom" style="max-width:400px">
  <div class="bnd-container bnd-border-top bnd-padding-medium bnd-light-grey">
    <h3>User Recovery - Under Construction</h3>
  </div>
  <form class="bnd-container" action="{% url 'plants:user_recovery' %}" method="post">
    {% csrf_token %}
    <div class="w3-section">
      {{ form.as_p }}
      <button class="bnd-button w3-block bnd-green w3-section w3-padding" type="submit">Login</button>
    </div>
  </form>
  <div class="bnd-container bnd-border-top bnd-padding-large bnd-light-grey">
    <!-- Cancel login - the page reload clears the modal and keeps the page from hanging -->
    <button onclick="location.reload();" type="button" class="bnd-button bnd-red">Cancel</button>
    <!-- AR: Go to reset password page -->
    <span class="bnd-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
  </div>
</div>