<!-- /app/plants/templates/plants/user_signup_modal.html -->

 <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:400px">
    <form class="w3-container" action="{% url 'plants:user_signup' %}" method="post">
      {% csrf_token %}
      <div class="w3-section">
        {{ form.as_p }}
        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Signup</button>
      </div>
    </form>
    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
      <!-- Cancel signup -->
      <!-- AR: web page hangs after 'cancel' is clicked -->
      <button onclick="document.getElementById('signup_modal').style.display='none'"
              type="button" class="w3-button w3-red">Cancel</button>
    </div>
  </div>