<!-- /app/plants/templates/plants/user_update_modal.html -->

<div class="bnd-modal-content-400">
  <header class="bnd-modal-header">
    <h3>User Update</h3>
    {% if messages %}
      {% for message in messages %}
        <p class="bnd-text-red">Error: {{ message }}</p>
      {% endfor %}
    {% endif %}
  </header>
  <form action="{% url 'plants:user_update' %}" method="post">
    {% csrf_token %}
    <div class="bnd-container">
      {{ form.as_p }}
    </div>
    <div class="bnd-modal-button-bar">
      <button type="submit" class="bnd-button-submit">Update User</button>
      <!-- Ret the form to initial value -->
      <button type="reset"  
              class="bnd-button bnd-round-large bnd-white">
        Reset
      </button>
      <!-- Cancel update - the page reload clears the modal and keeps the page from hanging -->
      <button type="button" onclick="location.reload();" class="bnd-button-cancel">Cancel</button>
    </div>
  </form>
</div>