<!-- /app/plants/templates/plants/user_login.html -->
{% extends "plants/master.html" %}

{% block title %}User Login{% endblock %}

{% block content %}

<!-- complete the header from master.html -->
    <div class="w3-bar w3-green">
      <h1 class="w3-bar-item">Garden/Plant Web Site</h1>
    </div>
  </div>
</header>

<!-- User Sign-Up Page -->
<body>
  <div class="w3-container" style="margin-top:140px;">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
      <button type="reset" >Reset</button>
    </form>
  </div>
</body>

<!-- Footer -->
<footer class="w3-container w3-green w3-margin-top">
  <p>Footer</p>
</footer>

{% endblock %}