<!-- /app/plants/templates/plants/user_login_modal.html -->

<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:400px">
  <div class="w3-container w3-border-top w3-padding-8 w3-light-grey">
    <h3>User Login</h3>
  </div>
  <form action="{% url 'plants:user_login' %}" method="post">
    {% csrf_token %}
    <div class="w3-container">
      {{ form.as_p }}
    </div>
    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
      <button type="submit" 
              class="w3-button w3-round-large w3-green" >
        Login
      </button>
      <!-- Sign-up modal -->
      <button type="button"
              onclick="login2SignUp()"  
              class="w3-button w3-round-large w3-grey"  >
        Sign-up
      </button>
      <!-- AR: Go to reset password page -->
      <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>