<!-- /app/plants/templates/plants/user_login_modal.html -->

<div class="bnd-modal-container">
  <header class="bnd-modal-header">
    <h3>User Login</h3>
  </header>
  <form action="{% url 'plants:user_login' %}" method="post">
    {% csrf_token %}
    <div class="bnd-modal-contents">
      {{ form.as_p }}
    </div>
    <div class="bnd-modal-button-bar">
      <button type="submit" class="bnd-button-submit">Login</button>
      <!-- Sign-up modal -->
      <button type    = "button"
              class   = "bnd-button bnd-round-large" 
              onclick = "openUserSignupModal()">
        Sign-up
      </button>
      <!-- Password Recovery modal -->
      <button type    = "button"
              class   = "bnd-button bnd-round-large" 
              onclick = "openUserRecoveryModal()">
        Forgot Password?
      </button>
    </div>
  </form>
</div>