/* app/plants/static/plants/css/style.css
    Basic Selectors
    > Element Selectors = tag
    > Class Selectors   = '.'
    > ID Selectors      = '#'

    Combinators:
    > descendant selector       = space
    > child selector            = >
    > adjacent sibling selector = +
    > general sibling selector  = ~

    Pseudo=classes and Pseudo-elements
    > Pseudo-classes  = :   current state or position in the document tree
    > Pseudo-elements = ::  target a specific part of an element

    z-index values:
      10: search sidebar
      20: main content table th
      30: modals and tooltips
      40: modal headers
      50: page navigation bar and page banner

    Unit definitions:
      em:  Relative to the font-size of the element
      rem: Relative to font-size of the root elem
      px:  pixels (1px = 1/96th of 1in)
*/
/* ------------------------------------------------------------ */
/* Global formatting                                            */
/* ------------------------------------------------------------ */
*, *:before, *:after{box-sizing:inherit}
/* ------------------------------------------------------------ */
/* HTML element formatting                                      */
/* ------------------------------------------------------------ */
html
{
    box-sizing:  border-box;    
    overflow-x:  hidden;
}
body
{
    font-family: chalkboard, verdana, sans-serif;
    font-size:   16px;
    line-height: 1.5;
}
section
{
    margin-top:    16px!important;
    margin-bottom: 16px!important;
}
h1,h2,h3,h4,h5,h6
{
    font-weight: 400;
    margin:      10px 0;
}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
p 
{
    font-size:   large;
}
a 
{
    cursor: pointer;
}
th 
{
    cursor: pointer;
}
button
{
    font:           inherit;
    margin:         0;
    overflow:       visible;
    text-transform: none;
}
input
{
    line-height: 80%;
}
hr 
{
    display:       block;
    margin-top:    1.0em;
    margin-bottom: 0.5em;
    margin-left:   auto;
    margin-right:  auto;
    border-style:  inset;
    border-width:  1px;
}
img
{
    vertical-align: middle;
    border-style:   none;
}
/* ------------------------------------------------------------ */
/* Container for navigation bar and banner                      */
/* ------------------------------------------------------------ */
.bnd-container-top
{
    position:         fixed;
    top:              0;
    z-index:          50;
    width:            100%;
    height:           120px; 
    padding-right:    16px;
    background-color: white;
}
/* ------------------------------------------------------------ */
/* bnd-container provides equality for all HTML container       */
/* elements: margins, paddings, alignments, fonts and colors    */
/* ------------------------------------------------------------ */
.bnd-container
{
    padding: 0.01em 16px;
}
.bnd-container:after, 
.bnd-container:before
{
    content: "";
    display: table;
    clear:   both;
}
/* ------------------------------------------------------------ */
/* Place the main content (scrollable) beneath the banner       */
/* ------------------------------------------------------------ */
.bnd-content-main-100
{ 
    margin-top: 100px; 
    padding:    0.01em 16px;
}
.bnd-content-main-120
{ 
    margin-top: 120px; 
    padding:    0.01em 16px;
}
.bnd-content-main-100:after, 
.bnd-content-main-120:before
{
    content: "";
    display: table;
    clear:   both;
}
/* ------------------------------------------------------------ */
/*  */
/* ------------------------------------------------------------ */
.bnd-endfloat { clear:both; }
/* ------------------------------------------------------------ */
/* Responsive layout - row classes                              */
/* ------------------------------------------------------------ */
.bnd-row:after,
.bnd-row:before,
.bnd-row-padding:after,
.bnd-row-padding:before
{
    content: "";
    display: table;
    clear:   both;
}
.bnd-row-padding,
.bnd-row-padding > .bnd-quarter,
.bnd-row-padding > .bnd-col
{
    padding: 0 8px;
}
/* ------------------------------------------------------------ */
/* Responsive layout - column classes                           */
/* ------------------------------------------------------------ */
.bnd-col,
.bnd-quarter
{
    float: left;
    width: 100%;
}
.bnd-col.s4{width:33.33333%}
.bnd-row-padding > .bnd-quarter { padding: 0 8px }
@media (min-width:601px)
{
    .bnd-quarter{width:24.99999%}
}
/* ------------------------------------------------------------ */
/* Element positioning                                          */
/* ------------------------------------------------------------ */
.bnd-right { float:right!important }
/* ------------------------------------------------------------ */
/* Input formatting used in Django forms                         */
/* ------------------------------------------------------------ */
.bnd-input
{
    padding: 8px;
    display: block;
    border:  1px solid #ccc!important;
    width:   100%;
    cursor:  pointer;
}
/* ------------------------------------------------------------ */
/* Input select formatting                                      */
/* ------------------------------------------------------------ */
.bnd-select
{
    padding:       9px 0;
    width:         100%;
    border:        none;
    border-bottom: 1px solid #ccc;
}
/* ------------------------------------------------------------ */
/* Button formatting                                            */
/* ------------------------------------------------------------ */
.bnd-button,
.bnd-button-submit,
.bnd-button-cancel
{
    border:           none;
    display:          inline-block;
    padding:          8px 16px;
    vertical-align:   middle;
    overflow:         hidden;
    font-size:        16px;
    text-decoration:  none;
    color:            inherit;
    background-color: inherit;
    text-align:       center;
    cursor:           pointer;
    white-space:      nowrap;
}
.bnd-button-small
{
    border:           none;
    display:          inline-block;
    padding:          0;
    margin:           0;
    vertical-align:   middle;
    overflow:         hidden;
    text-decoration:  none;
    color:            inherit;
    background-color: inherit;
    text-align:       center;
    cursor:           pointer;
    white-space:      nowrap;
}
.bnd-button-submit
{
    color:            #fff; 
    background-color: green;
    border-color:     green;
    border-radius:    4px;
}
.bnd-button-cancel
{
    color:            white; 
    border-color:     red;
    background-color: red;
    border-radius:    4px;
}
.bnd-button:hover,
.bnd-button-submit:hover,
.bnd-button-cancel:hover
{
    color:            #000!important;
    background-color: #ccc!important;
}
.bnd-button:disabled
{
    cursor:  not-allowed;
    opacity: 0.3;
}
.bnd-dropdown-hover:hover > .bnd-button:first-child
{
    background-color: #ccc;
    color:            #000;
}
/* ------------------------------------------------------------ */
/* Hide the element                                             */
/* ------------------------------------------------------------ */
.bnd-hide{display:none!important}
/* ------------------------------------------------------------ */
/* Plant taxonomy formatting                                    */
/* ------------------------------------------------------------ */
.bnd-cultivar
{
    text-transform: capitalize;
}
.bnd-variety
{
    font-style:     italic;
    text-transform: lowercase;
}
/* ------------------------------------------------------------ */
/* Text formatting                                              */
/* ------------------------------------------------------------ */
/* Font Sizes */
.bnd-tiny     {font-size:10px!important}
.bnd-small    {font-size:12px!important}
.bnd-medium   {font-size:15px!important}
.bnd-large    {font-size:18px!important}
.bnd-xlarge   {font-size:24px!important}
.bnd-xxlarge  {font-size:36px!important}
.bnd-xxxlarge {font-size:48px!important}
.bnd-jumbo    {font-size:64px!important}
/* Font styles */
.bnd-italic   {font-style: italic}
/* Text Colors */
.bnd-text-white     { color:white  }
.bnd-text-red       { color:red    }
.bnd-text-pink      { color:pink   }
.bnd-text-lightpink { color:lightpink }
.bnd-text-orange    { color:orange }
.bnd-text-yellow    { color:yellow }
.bnd-text-green     { color:green  }
.bnd-text-cyan      { color:cyan   }
.bnd-text-blue      { color:blue   }
.bnd-text-violet    { color:violet }
.bnd-text-purple    { color:purple }
.bnd-text-black     { color:black  }

.bnd-text-outline 
{
    color: #fff; /* Text fill color */
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

/* Background Colors */
.bnd-white       { color:#000 !important; background-color:#fff    !important }
.bnd-yellow,     .bnd-hover-yellow:hover      { color:#000 !important; background-color:#ffeb3b !important }
.bnd-light-green,.bnd-hover-light-green:hover { color:#000 !important; background-color:#8bc34a !important }
.bnd-green,      .bnd-hover-green:hover       { color:#fff !important; background-color:#4CAF50 !important }
.bnd-red         { color:#fff !important; background-color:red !important }
.bnd-blue        { color:#fff !important; background-color:blue !important }
.bnd-grey        { color:#000 !important; background-color:gray !important }
.bnd-light-grey  { color:#000 !important; background-color:#f1f1f1 !important }

.bnd-hover-white:hover { color:#000 !important; background-color:#fff !important }

.bnd-text-khaki, .bnd-hover-text-khaki:hover{color:#b4aa50!important}
/* ------------------------------------------------------------ */
/* Text positioning                                             */
/* ------------------------------------------------------------ */
.bnd-center { text-align:center!important }
/* ------------------------------------------------------------ */
/* Margin formatting                                            */
/* ------------------------------------------------------------ */
.bnd-margin-none   { margin:0           !important }
.bnd-margin        { margin:16px        !important }
.bnd-margin-top    { margin-top:16px    !important }
.bnd-margin-left   { margin-left:16px   !important }
.bnd-margin-bottom { margin-bottom:16px !important }
.bnd-margin-right  { margin-right:16px  !important }
/* ------------------------------------------------------------ */
/* Border formatting                                            */
/* ------------------------------------------------------------ */
.bnd-border        { border:        1px solid #ccc!important }
.bnd-border-0      { border:        0               !important}

.bnd-border-top    { border-top:    1px solid #ccc!important }
.bnd-border-bottom { border-bottom: 1px solid darkgray !important }
.bnd-border-left   { border-left:   1px solid #ccc!important }
.bnd-border-right  { border-right:  1px solid #ccc!important }

.bnd-round-small  { border-radius:2px  }
.bnd-round-medium { border-radius:4px  }
.bnd-round-large  { border-radius:8px  }
.bnd-round-xlarge { border-radius:16px }
/* ------------------------------------------------------------ */
/* Padding                                                      */
/* ------------------------------------------------------------ */
.bnd-padding-none   {padding:0!important}
.bnd-padding-small  {padding:4px 8px!important}
.bnd-padding-medium {padding:8px 16px!important}
.bnd-padding-large  {padding:12px 24px!important}
.bnd-padding-16     {padding-top:16px!important;padding-bottom:16px!important}
.bnd-padding-24     {padding-top:24px!important;padding-bottom:24px!important}
.bnd-padding-32     {padding-top:32px!important;padding-bottom:32px!important}
.bnd-padding-48     {padding-top:48px!important;padding-bottom:48px!important}
.bnd-padding-64     {padding-top:64px!important;padding-bottom:64px!important}
.bnd-padding-top-64 {padding-top:64px!important}
.bnd-padding-top-48 {padding-top:48px!important}
.bnd-padding-top-32 {padding-top:32px!important}
.bnd-padding-top-24 {padding-top:24px!important}
/* ------------------------------------------------------------ */
/* Tool Tip formatting                                          */
/* ------------------------------------------------------------ */
.bnd-tooltip 
{
    position: relative;
    display:  inline-block;
    cursor:   pointer; 
}
.bnd-tooltip-text 
{
    z-index:          30;
    visibility:       hidden;
    background-color: black;
    font-size:        16px;
    color:            white;
    text-align:       center;
    border-radius:    8px;
    padding:          4px 8px;
    position:         absolute;
    bottom:           100%;
    left:             50%;
    margin-left:      -30px;
    opacity:          0;
    transition:       opacity 2s;
}
.bnd-tooltip:hover .bnd-tooltip-text 
{
    visibility: visible;
    opacity:    1;
}
/* ------------------------------------------------------------ */
/* Horizontal navigation bar                                    */
/* ------------------------------------------------------------ */
.bnd-bar /* horizontal navigation bar container */
{
    width:    100%;
    overflow: hidden;
}
.bnd-bar .bnd-bar-item /* navigation button or link */
{
    padding: 8px 16px;
    float:   left;
    width:   auto;
    border:  none;
    display: block;
    outline: 0;
}
.bnd-bar .bnd-dropdown-hover
{
    position: static;
    float:    left
}
.bnd-center .bnd-bar
{
    display: inline-block;
    width:   auto
}
.bnd-bar .bnd-button
{
    white-space: normal
}
.bnd-banner-menu
{
    right:      0; 
    font-size:  16px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),
                0 4px 20px 0 rgba(0,0,0,0.19);
}
/* ------------------------------------------------------------ */
/* Drop-down menu formatting                                    */
/* ------------------------------------------------------------ */
.bnd-dropdown-hover
{
    position: relative;
    display:  inline-block;
    cursor:   pointer;
}
.bnd-dropdown-content
{
    cursor:           auto;
    color:            black;
    background-color: white;
    display:          none;
    position:         absolute;
    min-width:        160px;
    margin:           0;
    padding:          0;
    z-index:          1;
}
/* Display dropdown content when hovering over the menu title/contents */
.bnd-dropdown-hover:hover .bnd-dropdown-content
{
    display:          block;
}
.bnd-dropdown-button
{
    width:            100%;
    text-align:       left;
    float:            none;
    outline:          0;

    border:           none;
    display:          inline-block;
    padding:          8px 16px;
    vertical-align:   middle;
    overflow:         hidden;
    font-size:        16px;
    text-decoration:  none;
    color:            inherit;
    background-color: inherit;
    cursor:           pointer;
    white-space:      nowrap;
}
.bnd-dropdown-button:hover
{
    color:            black;
    background-color: lightgray; 
}
/* ------------------------------------------------------------ */
/* Vertical navigation bar                                      */
/* ------------------------------------------------------------ */
.bnd-sidebar 
{
    height:           80%;
    width:            15%;
    margin-left:      16px;
    background-color: white;
    position:         fixed;
    z-index:          10;
    overflow:         auto;
    box-shadow:       5px 10px 18px darkgray;
    animation:        animateleft 0.4s;
    display:          none;
}
.bnd-sidebar-contents 
{
    padding:          0.01em 16px;
    color:            black; 
    background-color: gainsboro;
}
.bnd-sidebar-open 
{
    display:          block;
}
/* ------------------------------------------------------------ */
/* Classes for displaying paper-like cards                      */
/* ------------------------------------------------------------ */
.bnd-card
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                0 2px 10px 0 rgba(0,0,0,0.12)
}
.bnd-card-4
{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),
                0 4px 20px 0 rgba(0,0,0,0.19)
}
/* ------------------------------------------------------------ */
/* Image formatting                                             */
/* ------------------------------------------------------------ */
.bnd-image
{
    width:         100%; 
    height:        auto; 
    border:        4px solid green; 
    border-radius: 16px;
}
.bnd-image-right
{
    max-width:     50%; 
    height:        auto; 
    border:        4px solid green; 
    border-radius: 16px;
    float:         right;
    margin-left:   15px;
}
.bnd-image-left
{
    max-width:     50%; 
    height:        auto; 
    border:        4px solid green; 
    border-radius: 16px;
    float:         left; 
    margin-right:  20px;
}
.bnd-image-left:hover,
.bnd-image-right:hover,
.bnd-image-thumbnail:hover
{ 
    opacity: 0.60;
}
.bnd-image-thumbnail
{
    width:         100%; 
    height:        auto; 
    border:        4px solid green; 
    border-radius: 16px;
    cursor:        pointer;
}
.bnd-image-caption
{
    margin-top:       16px;
    padding:          0px 16px;
    color:            black; 
    background-color: gainsboro;
    border:4px solid  green;
    border-radius:    16px;
    position:         absolute;
    left:             50%;
    top:              0;
    transform:        translate(-50%,0%);
}
/* ------------------------------------------------------------ */
/* Play audio                                                   */
/* ------------------------------------------------------------ */
.bnd-play-audio
{
    cursor:pointer;
}
/* ------------------------------------------------------------ */
/* Slide show formatting                                        */
/* ------------------------------------------------------------ */
.bnd-slideshow-content
{
    margin-left:   auto;
    margin-right:  auto;
    position:      relative;
    max-width:     900px;
}
.bnd-slideshow-controls
{
    position:      absolute;
    left:          50%;
    bottom:        0;
    transform:     translate(-50%,0%);

    font-size:     18px;
    color:         white;
    text-align:    center;
    margin-top:    16px;
    margin-bottom: 16px;
    padding:       0.01em 16px;
    width:         100%;
}
.bnd-slideshow-arrow-left
{
    float:         left;
    cursor:        pointer;
    font-size:     36px;
}
.bnd-slideshow-arrow-right
{
    float:         right;
    cursor:        pointer;
    font-size:     36px;
}
.bnd-slideshow-arrow-left:hover,
.bnd-slideshow-arrow-right:hover
{
    color:       darkgray;
}
.bnd-slideshow-icon
{
    color:         white;
    display:       inline-block;
    padding-left:  8px;
    padding-right: 8px;
    text-align:    center;
    border:        1px solid #ccc;
    border-radius: 50%;
    height:        13px;
    width:         13px;
    padding:       0;
    cursor:        pointer;
}
.bnd-slideshow-icon:hover
{
    color:            black; 
    background-color: darkgray;
}
/* ------------------------------------------------------------ */
/* Table formatting                                             */
/* ------------------------------------------------------------ */
.bnd-table
{
    border-collapse: separate; /* Required for sticky headers to work well with borders */
    border-spacing:  0;
    table-layout:    auto;     /* use the browsers automatic table layout algorithm */
    width:           auto;     /* content dictates the width of the table */
    display:         table;
    border:          1px solid lightgray;
    box-shadow:      5px 5px 10px 0 darkgray;
}
.bnd-table th 
{
    position:         sticky;
    top:              120px;      /* Stick to the bottom edge of the fixed navbar/banner */
    padding:          12px 8px 12px 8px;
    display:          table-cell;
    text-align:       left;
    vertical-align:   top;
    background-color: lightgreen;
    z-index:          20;          /* Ensure table headers are above table body data */
}
.bnd-table th:first-child     {padding-left:  16px}
.bnd-table th:last-child      {padding-right: 16px}
.bnd-table tr                 {border-bottom:1px solid gainsboro}
.bnd-table tr:nth-child(odd)  {background-color:white}
.bnd-table tr:nth-child(even) {background-color:gainsboro}
.bnd-table tr:hover           {background-color:gray}
.bnd-table td 
{
    padding:        8px 8px 4px 8px;
    display:        table-cell;
    text-align:     left;
    vertical-align: top;
}
.bnd-table td:first-child{padding-left:  16px}
.bnd-table td:last-child {padding-right: 16px}
.bnd-table-icon
{
    width:      10px;
    text-align: center;
}
/* ------------------------------------------------------------ */
/* Modal formatting                                             */
/* ------------------------------------------------------------ */
.bnd-modal
{
    position:          fixed;            /* Stay in place */
    z-index:           30;               /* Sit on top */
    left:              0;
    top:               0;
    display:           none;             /* Hidden by default */
    padding-top:       120px;            /* Position below navbar and page header */
    width:             100%;             /* Full width */
    height:            100%;             /* Full height */
    overflow:          auto;             /* Enable scroll if needed */
    background-color: rgb(0,0,0);      /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    box-shadow:        0 4px 10px 0 rgba(0,0,0,0.2),
                       0 4px 20px 0 rgba(0,0,0,0.19);
}
.bnd-modal-content-300,
.bnd-modal-content-400,
.bnd-modal-content-500,
.bnd-modal-content-600,
.bnd-modal-content-700,
.bnd-modal-content-800,
.bnd-modal-content-900,
.bnd-modal-content-1000
{
    margin:           auto;
    background-color: white;
    position:         relative;
    padding:          0;
    outline:          0;
    animation:        animatezoom 0.6s;
}
.bnd-modal-content-300  { width:  300px }
.bnd-modal-content-400  { width:  400px }
.bnd-modal-content-500  { width:  500px }
.bnd-modal-content-600  { width:  600px }
.bnd-modal-content-700  { width:  700px }
.bnd-modal-content-800  { width:  800px }
.bnd-modal-content-900  { width:  900px }
.bnd-modal-content-1000 { width: 1000px }
.bnd-modal-header
{
    position:         sticky; /* Stick to the bottom edge of the fixed navbar/banner */
    top:              0px;    
    z-index:          40;
    
    margin-top:       16px;
    margin-bottom:    16px;
    text-align:       center;
    padding:          4px 16px;
    border:           1px solid darkgray;
    background-color: gainsboro;
}
.bnd-modal-image
{
    width:  100%; 
    height: auto;
}
.bnd-modal-footer
{
    margin:           0px;
    padding:          16px;
    border:           1px solid darkgray;
    text-align:       center;
    background-color: gainsboro;
}
.bnd-modal-button-bar
{
    margin-top:    4px;
    margin-bottom: 16px;
    text-align:    center;
}
body.bnd-modal-open 
{
    overflow: hidden; /* Prevents background scrolling */
    height:   100vh;  /* Optional: ensures the body fits the viewport height */
}
.bnd-modal-close    
{
    position: absolute;
    right:    0;
    top:      0;
}
#plants_chart_modal th { top: 100px; }
#plants_chart_modal footer { padding: 0px; }
/* ------------------------------------------------------------ */
/* Monthyly calendar formatting                                 */
/* ------------------------------------------------------------ */
/* Calendar container */
.calendar-container {
    width:       1400px;
    border:      1px solid darkgray;
    box-shadow:  0 2px 5px rgba(0,0,0,0.1);
    font-family: chalkboard, verdana, sans-serif;
}

/* Header styling */
.calendar-header 
{
    display:          flex;
    justify-content:  space-between;
    align-items:      center;
    padding:          0px;
    background-color: gainsboro;
    color:            black;
}
/* Weekdays and dates styling */
.calendar-weekdays,
.calendar-dates 
{
    display:               grid;
    grid-template-columns: repeat(7, 1fr);
    text-align:            left;
}
.calendar-weekdays div 
{
    padding:          8px;
    font-weight:      bold;
    background-color: whitesmoke;
}
.calendar-dates div 
{
    padding: 10px;
    border:  1px solid whitesmoke;
}
/* Highlight today's date */
.today 
{
    background-color: orange;
    font-weight:      bold;
}
/* ------------------------------------------------------------ */
/* Garden planner formatting                                    */
/* ------------------------------------------------------------ */
/* opacity and zoom sliders */
.slidecontainer {
    width: 200px; /* Width of the outside container */
}
.slider {
    width:         100%;
    height:        15px;
    border-radius: 5px;  
    background:    lightgray;
    outline:       none;
    opacity:       0.7;
    transition:    opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
     opacity: 1; /* Fully shown on mouse-over */
}
/* context menu */
.ctxMenu
{
    position:         fixed;
    display:          none;                             /* Hidden by default */
    background-color: #fff;
    border: 1px solid lightgray;
    box-shadow:       2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index:          1000;                             /* Ensure it's above other elements */
}
.ctxMenuItem 
{
    padding: 8px 12px;
    cursor:  pointer;
}
.ctxMenuItem:hover 
{
    background-color: whitesmoke;
}
.bnd-background-visible
{
    background: none !important; 
}
/* ------------------------------------------------------------ */
/* */
/* ------------------------------------------------------------ */
@media (max-width:600px)
{
    .bnd-modal-content
    {
        margin:0 10px;width:auto;
    }
    .bnd-modal
    {
        padding-top:30px
    }
    .bnd-hide-small
    {
        display:none;
    }
}
/* ------------------------------------------------------------ */
/* Animation key frames                                         */
/* ------------------------------------------------------------ */
.bnd-animate-left
{
    position:relative;
    animation:animateleft 0.4s
}
@keyframes opac
{
    from{opacity:0} 
    to  {opacity:1}
}
@keyframes animatezoom
{
    from{transform: scale(0)} 
    to  {transform: scale(1)}
}
@keyframes animateleft
{
    from{left:-300px; opacity:0} 
    to  {left:     0; opacity:1}
}
/* ------------------------------------------------------------ */