/* app/plants/static/plants/css/style.css
   Element Selectors = tag
   Class Selectors   = '.'
   ID Selectors      = '#'

   CSS combinators:
   > descendant selector (space)
   > child selector (>)
   > adjacent sibling selector (+)
   > general sibling selector (~)
*/
body 
{
    font-family: chalkboard, verdana, sans-serif;
}
p 
{
    font-family: chalkboard, verdana, sans-serif;
    font-size: large;
}
/*  */
.bnd-container
{
    padding:0.01em 16px
}
.bnd-container:after, .bnd-container:before
{
    content:"";
    display:table;
    clear:both
}
.bnd-left
{
    float:left!important
}
.bnd-right
{
    float:right!important
}
.bnd-input
{
    padding:8px;
    display:block;
    border:1px solid #ccc!important;
    width:100%;
}
/*  */
.bnd-button
{
    border:none;
    display:inline-block;
    padding:8px 8px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
}
.bnd-button
{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}   
.bnd-button:disabled
{
    cursor:not-allowed;
    opacity:0.3
}
.w3-dropdown-hover:hover > .bnd-button:first-child
{
    background-color:#ccc;
    color:#000
}
.w3-dropdown-click:hover > .bnd-button:first-child
{
    background-color:#ccc;
    color:#000
}
.w3-bar-block .w3-dropdown-hover .bnd-button, .w3-bar-block .w3-dropdown-click .bnd-button
{
    width:100%;
    text-align:left;
    padding:8px 16px
}
.bnd-button
{
    white-space:normal
}
.bnd-button:hover
{
    color:#000!important;
    background-color:#ccc!important
}
/* Problem here! */
.bnd-modal
{
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
.bnd-modal-content
{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:1000px
}
.bnd-animate-zoom
{
    animation:animatezoom 0.6s
}
@keyframes animatezoom
{
    from{transform:scale(0)} 
    to  {transform:scale(1)}
}
/* Colors */
.bnd-white
{
    color:#000!important;
    background-color:#fff!important
}
.bnd-green
{
    color:#fff!important;
    background-color:#4CAF50!important
}
/*  */
.bnd-banner
{
    color: white; 
    font-family: chalkboard, verdana, sans-serif;
}