/* app/plants/static/plants/css/style.css
   Element Selectors = tag
   Class Selectors   = '.'
   ID Selectors      = '#'

   CSS combinators:
   > descendant selector (space)
   > child selector (>)
   > adjacent sibling selector (+)
   > general sibling selector (~)
*/
body 
{
    font-family: chalkboard, verdana, sans-serif;
}
p 
{
    font-family: chalkboard, verdana, sans-serif;
    font-size: large;
}
hr {
    display: block;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
/*  */
.bnd-container
{
    padding:0.01em 16px
}
.bnd-container:after, .bnd-container:before
{
    content:"";
    display:table;
    clear:both
}
.bnd-left
{
    float:left!important
}
.bnd-right
{
    float:right!important
}
.bnd-hover-opacity:hover
{
    opacity:0.60
}
.bnd-input
{
    padding:8px;
    display:block;
    border:1px solid #ccc!important;
    width:100%;
}

.bnd-badge
{
    height:13px;
    width:13px;
    padding:0;
    cursor:pointer
}

.bnd-card-4
{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

/* */
.bnd-modal
{
    z-index:     1;      /* Sit on top */
    display:     none;   /* Hidden by default */
    padding-top: 100px;
    position:    fixed;  /* Stay in place */
    left:0;
    top:0;
    width:        100%;  /* Full width */
    height:       100%;  /* Full width */
    overflow:     auto;  /* Enable scroll if needed */
    background-color:rgb(0,0,0);      /* Fallback color */
    background-color:rgba(0,0,0,0.4); /* Black w/ opacity */
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
.bnd-modal-content
{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:1000px
}
.bnd-animate-zoom
{
    animation:animatezoom 0.6s
}
@keyframes animatezoom
{
    from{transform:scale(0)} 
    to  {transform:scale(1)}
}

/* Border formating */
.bnd-border        { border:        1px solid #ccc!important }
.bnd-border-0      { border:        0               !important}

.bnd-border-top    { border-top:    1px solid #ccc!important }
.bnd-border-bottom { border-bottom: 1px solid #ccc!important }
.bnd-border-left   { border-left:   1px solid #ccc!important }
.bnd-border-right  { border-right:  1px solid #ccc!important }

.bnd-round-small  { border-radius:2px  }
.bnd-round-medium { border-radius:4px  }
.bnd-round-large  { border-radius:8px  }
.bnd-round-xlarge { border-radius:16px }
/* Padding */
.bnd-padding-small  { padding:4px 8px   !important }
.bnd-padding-medium { padding:8px 16px  !important }
.bnd-padding-large  { padding:12px 24px !important }
/* Margins */
.bnd-margin        { margin:16px        !important }
.bnd-margin-top    { margin-top:16px    !important }
.bnd-margin-left   { margin-left:16px   !important }
.bnd-margin-bottom { margin-bottom:16px !important }
.bnd-margin-right  { margin-right:16px  !important }
/*  */
.bnd-transparent { background-color:transparent!important }

/* Text Colors */
.bnd-white       { color:#000 !important; background-color:#fff    !important }
.bnd-light-green { color:#000 !important; background-color:#8bc34a !important }
.bnd-green       { color:#fff !important; background-color:#4CAF50 !important }
.bnd-red         { color:#fff !important; background-color:#f44336 !important }
.bnd-grey        { color:#000 !important; background-color:#9e9e9e !important }
.bnd-light-grey  { color:#000 !important; background-color:#f1f1f1 !important }

.bnd-hover-white:hover { color:#000 !important; background-color:#fff !important }

.bnd-text-black { color:#000 !important }

/*  */
.bnd-banner
{
    color: white; 
    font-family: chalkboard, verdana, sans-serif;
}
/* Navigation bar */
.bnd-top
{
    position:fixed;
    width:100%;
    z-index:1;
    top:0
}
.bnd-bar
{
    width:100%;
    overflow:hidden
}
.w3-center .bnd-bar
{
    display:inline-block;
    width:auto
}
.bnd-bar .bnd-bar-item
{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
/* Dropdown */
.bnd-dropdown-hover,
.w3-dropdown-click
{
    position:relative;
    display:inline-block;
    cursor:pointer
}
.bnd-dropdown-hover:hover 
.bnd-dropdown-content
{
    display:block
}
.bnd-dropdown-hover:first-child,
.w3-dropdown-click:hover
{
    background-color:#ccc;
    color:#000
}
.bnd-dropdown-hover:hover > .bnd-button:first-child,
.w3-dropdown-click:hover > .bnd-button:first-child
{
    background-color:#ccc;
    color:#000
}
.bnd-dropdown-content
{
    cursor:auto;
    color:#000;
    background-color:#fff;
    display:none;
    position:absolute;
    min-width:160px;
    margin:0;
    padding:0;
    z-index:1
}
.bnd-bar .bnd-dropdown-hover,
.bnd-bar .w3-dropdown-click
{
    position:static;
    float:left
}
.w3-bar-block .w3-dropdown-hover,
.w3-bar-block .w3-dropdown-click
{
    width:100%
}
.w3-bar-block .w3-dropdown-hover .bnd-dropdown-content,
.w3-bar-block .w3-dropdown-click .bnd-dropdown-content
{
    min-width:100%
}
/* bnd-bar-item */
.w3-bar-block .bnd-bar-item
{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}
.w3-bar-block.w3-center .bnd-bar-item
{
    text-align:center
}
/* Button */
.bnd-button
{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
.bnd-button
{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.bnd-button:disabled
{
    cursor:not-allowed;
    opacity:0.3
}
.bnd-bar-block .bnd-dropdown-hover .bnd-button,
.bnd-bar-block .bnd-dropdown-click .bnd-button
{
    width:100%;
    text-align:left;
    padding:8px 16px
}
.bnd-bar .bnd-button
{
    white-space:normal
}
.bnd-button:hover
{
    color:#000!important;
    background-color:#ccc!important
}
