/* app/plants/static/plants/css/style.css
    Basic Selectors
    > Element Selectors = tag
    > Class Selectors   = '.'
    > ID Selectors      = '#'

    Combinators:
    > descendant selector       = space
    > child selector            = >
    > adjacent sibling selector = +
    > general sibling selector  = ~

    Pseudo=classes and Pseudo-elements
    > Pseudo-classes  = :   current state or position in the document tree
    > Pseudo-elements = ::  target a specific part of an element

    z-index values:
      10: search sidebar
      20: main content table th
      30: modals and tooltips
      40: modal headers
      50: page navigation bar and page banner

    Unit definitions:
      em:  Relative to the font-size of the element
      rem: Relative to font-size of the root element
      px:  pixels (1px = 1/96th of 1in)

    Pseudo-class selector order:
      > link
      > visited
      > hover
      > focus
      > active
*/
/* ------------------------------------------------------------ */
/* CSS variables                                                */
/* ------------------------------------------------------------ */
:root 
{
    --shadow-parameters: 5px 10px 18px darkgray;
}
/* ------------------------------------------------------------ */
/* Global formatting                                            */
/* ------------------------------------------------------------ */
* { box-sizing: border-box; }   /* use the new box model */
/* ------------------------------------------------------------ */
/* HTML element formatting                                      */
/* ------------------------------------------------------------ */
html
{
    box-sizing:  border-box;    /* use the new box model */
    margin:      0;             /* remove default */
    padding:     0;             /* remove default */
    overflow-x:  hidden;
}
body
{
    margin:      0;             /* remove default */
    padding:     0;             /* remove default */
    font-family: chalkboard, verdana, sans-serif;
    font-size:   16px;
    line-height: 1.5;
}
section
{
    margin-top:    16px;
    margin-bottom: 16px;
}
h1,h2,h3,h4,h5,h6
{
    font-weight: 400;
    margin:      10px 0px;
}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
p {font-size:large}
a {cursor:pointer}
/* a:visited{color: darkred} */
th {cursor: pointer}
button
{
    font:           inherit;
    margin:         0;
    overflow:       visible;
    text-transform: none;
}
input
{
    line-height: 80%;
    background-color: lightgray;
}
input:hover{background-color: whitesmoke}
input:focus{background-color: whitesmoke}
hr 
{
    display:       block;
    margin-top:    1.0em;
    margin-bottom: 0.5em;
    margin-left:   auto;
    margin-right:  auto;
    border-style:  inset;
    border-width:  1px;
}
img
{
    vertical-align: middle;
    border-style:   none;
}
figure {
    /* box */
    margin:     auto;
    border:     none;
    padding:    4px;
    box-shadow: var(--shadow-parameters);
}
  
figcaption {
    margin-top:       6px; 
    background-color: lightgray;
    /* text */
    text-align:       center;
    color:            darkslategray;
    font-style:       italic;
    /* box */
    padding:          2px;
}
/* ------------------------------------------------------------ */
/* bnd-container provides equality for all HTML container       */
/* elements: margins, paddings, alignments, fonts and colors    */
/* ------------------------------------------------------------ */
.bnd-container
{
    padding: 0.01em 16px;
}
.bnd-container:after, 
.bnd-container:before
{
    content: "";
    display: table;
    clear:   both;
}
/* ------------------------------------------------------------ */
/* Container for navigation bar and banner                      */
/* ------------------------------------------------------------ */
.bnd-container-top
{
    position:         fixed;
    top:              0;
    left:             0;
    z-index:          50;
    width:            100%;
    height:           100px; 
    margin:           0px;
    padding:          0px;
    background-color: white;
}
/* ------------------------------------------------------------ */
/* Banner formatting                                            */
/* ------------------------------------------------------------ */
.bnd-page-banner
{
    padding:          0.01em 16px;
    color:            white;
    background-color: green;
}
.bnd-page-menu
{
    right:      0; 
    font-size:  16px;
}
/* ------------------------------------------------------------ */
/* Horizontal navigation bar formatting                         */
/* ------------------------------------------------------------ */
.bnd-navbar /* horizontal navigation bar container */
{
    display:          flex;
    flex-wrap:        wrap;
    align-items:      center;
    width:            100%;
    margin:           0px;
    padding:          0px;
    list-style-type:  none;        /* no list element bullerts */
    overflow:         hidden;
    background-color: lightgray;
}
.bnd-navbar-item-left,
.bnd-navbar-item-right
{
    width:            100%;        /* small screen default */
    border:           none;
    padding:          0px 0px;
    color:            black;
    text-align:       center;
    outline:          0;
    text-decoration:  none;
}
.bnd-navbar-item-right
{
    margin-left:      auto;
    padding-right:    24px;
}
.bnd-navbar-item-left:hover,
.bnd-navbar-item-right:hover
{
    color:            white;
    background-color: gray;
}
/* Format the memu item links */
.bnd-navbar-item-left a
{
    margin:           8px 8px;
    padding:          12px 6px;
    text-decoration:  none;
}
.bnd-navbar-item-left  a:hover,
.bnd-navbar-item-right a:hover
{
    color:            white;
}
/* Display dropdown content when hovering over the menu title/contents */
.bnd-navbar-item-right:hover .bnd-dropdown-content
{
    display:          block;
}
/* Use horizontal memu format for larger screens */
@media all and (min-width: 60em)
{
    .bnd-navbar-item-left,
    .bnd-navbar-item-right
    {
        width:  auto;
    }
}
/* ------------------------------------------------------------ */
/* Place the main content (scrollable) beneath the banner       */
/* ------------------------------------------------------------ */
.bnd-content-main-100
{ 
    margin-top: 100px; 
    padding:    0.01em 16px;
}
.bnd-content-main-120
{ 
    margin-top: 120px; 
    padding:    0.01em 16px;
}
.bnd-content-main-100:after, 
.bnd-content-main-120:before
{
    content: "";
    display: table;
    clear:   both;
}
/* ------------------------------------------------------------ */
/*                                                              */
/* ------------------------------------------------------------ */
.bnd-section
{
    border-width:     1px;
    border-color:     green;
    box-shadow:       var(--shadow-parameters);
}
.bnd-section-header
{
    padding:          0.01em 16px;
    color:            white;
    background-color: green;
}
.bnd-section-contents
{
    padding:          0.01em 16px;
    color:            black;
    background-color: whitesmoke;
}
/* ------------------------------------------------------------ */
/* Stop floating previous section's image to ensure this        */
/* section's text starts correctly                              */
/* ------------------------------------------------------------ */
.bnd-endfloat { clear:both }
/* ------------------------------------------------------------ */
/* Responsive layout - flex                                    */
/* ------------------------------------------------------------ */
.bnd-flex-container
{
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-between;
    width:           100%;
}
.bnd-flex-item
{
    min-width:        400px;
    max-width:        600px;
}
/* ------------------------------------------------------------ */
/* Element positioning                                          */
/* ------------------------------------------------------------ */
.bnd-right { float:right!important }
/* ------------------------------------------------------------ */
/* Input formatting used in Django forms                         */
/* ------------------------------------------------------------ */
.bnd-input
{
    padding: 8px;
    display: block;
    border:  1px solid whitesmoke;
    width:   100%;
    cursor:  pointer;
}
/* ------------------------------------------------------------ */
/* Input select formatting                                      */
/* ------------------------------------------------------------ */
.bnd-select
{
    padding:       9px 0;
    width:         100%;
    border:        none;
    border-bottom: 1px solid whitesmoke;
}
/* ------------------------------------------------------------ */
/* Button formatting                                            */
/* ------------------------------------------------------------ */
.bnd-button,
.bnd-button-submit,
.bnd-button-reset,
.bnd-button-cancel
{
    border:           none;
    display:          inline-block;
    padding:          8px 16px;
    vertical-align:   middle;
    overflow:         hidden;
    font-size:        16px;
    text-decoration:  none;
    text-align:       center;
    cursor:           pointer;
    white-space:      nowrap;
}
.bnd-button-small
{
    border:           none;
    display:          inline-block;
    padding:          0;
    margin:           0;
    vertical-align:   middle;
    overflow:         hidden;
    text-decoration:  none;
    color:            inherit;
    background-color: inherit;
    text-align:       center;
    cursor:           pointer;
    white-space:      nowrap;
}
.bnd-button-submit
{
    color:            #fff; 
    background-color: green;
    border-color:     green;
    border-radius:    4px;
}
.bnd-button-reset
{
    color:            white; 
    border-color:     gray;
    background-color: gray;
    border-radius:    4px;
}
.bnd-button-cancel
{
    color:            white; 
    border-color:     red;
    background-color: red;
    border-radius:    4px;
}
.bnd-button:hover,
.bnd-button-submit:hover,
.bnd-button-cancel:hover
{
    color:            white;
    background-color: gray;
}
.bnd-button:disabled
{
    cursor:  not-allowed;
    opacity: 0.3;
}
/* ------------------------------------------------------------ */
/* Plant Add/Update Form formatting                             */
/* ------------------------------------------------------------ */
.grid-container
{ 
    display:          grid;
    grid-gap:         8px;
    background-color: green;
    padding:          10px;
    grid-template-areas:
    'attributes     blooms         requirements   recommendations taxonomy      pests'
    'description    description    description    .               .             pests'
    'pruning        pruning        pruning        .               .             pests'
    'fertilization  fertilization  fertilization  .               .             pests'
    'propagation    propagation    propagation    images          images        images'
    'pests_diseases pests_diseases pests_diseases images          images        images'
    'creator_notes  creator_notes  creator_notes  pronunciation   pronunciation pronunciation';
}

.attributes      { grid-area: attributes;      }
.blooms          { grid-area: blooms;          }
.requirements    { grid-area: requirements;    }
.recommendations { grid-area: recommendations; }
.description     { grid-area: description;     }
.pruning         { grid-area: pruning;         }
.fertilization   { grid-area: fertilization;   }
.propagation     { grid-area: propagation;     }
.pests_diseases  { grid-area: pests_diseases;  }
.pests           { grid-area: pests;           }
.pronunciation   { grid-area: pronunciation;   }
.taxonomy        { grid-area: taxonomy;        }
.images          { grid-area: images;          }
.creator_notes   { grid-area: creator_notes;   }

.grid-container > div 
{
    background-color: whitesmoke;
    text-align: left;
    padding: 8px 8px;
    font-size: 12px;
}
.grid-container label 
{
    display:    block;
    min-width:  8em;
    text-align: left;
    font-size:  12px;
}
.grid-container input
{
    background-color: lightgray;
    line-height:      80%;
    font-size:        12px;
}
.grid-container select 
{
    display:          inline-block; 
    min-width:        3em;
    border-width:     2px;
    background-color: lightgray;
    text-align:       left;
    line-height:      80%;
    font-size:        12px; 
}
.grid-container input:hover,
.grid-container input:focus,
.grid-container select:hover,
.grid-container select:focus
{
    background-color: whitesmoke
}
/* ------------------------------------------------------------ */
/* Hide the element                                             */
/* ------------------------------------------------------------ */
.bnd-hide{ display:none!important }
/* ------------------------------------------------------------ */
/* Plant taxonomy formatting                                    */
/* ------------------------------------------------------------ */
.bnd-cultivar
{
    text-transform: capitalize;
}
.bnd-variety
{
    font-style:     italic;
    text-transform: lowercase;
}
/* ------------------------------------------------------------ */
/* Tool Tip formatting                                          */
/* ------------------------------------------------------------ */
.bnd-tooltip 
{
    position: relative;
    display:  inline-block;
    cursor:   pointer; 
}
.bnd-tooltip-text 
{
    z-index:          30;
    visibility:       hidden;
    background-color: black;
    font-size:        16px;
    color:            white;
    text-align:       center;
    border-radius:    8px;
    padding:          4px 8px;
    position:         absolute;
    bottom:           100%;
    left:             50%;
    margin-left:      -30px;
    opacity:          0;
    transition:       opacity 2s;
}
.bnd-tooltip:hover .bnd-tooltip-text 
{
    visibility: visible;
    opacity:    1;
}
/* ------------------------------------------------------------ */
/* Drop-down menu formatting                                    */
/* ------------------------------------------------------------ */
.bnd-dropdown-container
{
    position: relative;
    float:    right;
    cursor:   pointer;
}
.bnd-dropdown-container:hover > .bnd-button:first-child
{
    background-color: lightgray;
    color:            black;
}
/* Display dropdown content when hovering over the menu title/contents */
.bnd-dropdown-container:hover .bnd-dropdown-content
{
    display:          block;
}
.bnd-dropdown-content
{
    position:         absolute;
    right:            0; 
    z-index:          1;
    display:          none;
    min-width:        160px;
    margin:           0;
    border-style:     solid;
    border-width:     1px;
    border-color:     lightgray;
    padding:          0;
    background-color: white;
    box-shadow:       var(--shadow-parameters);
    color:            black;
    cursor:           auto;
}
.bnd-dropdown-button
{
    width:            100%;
    text-align:       left;
    float:            none;
    outline:          0;

    border:           none;
    display:          inline-block;
    padding:          8px 16px;
    vertical-align:   middle;
    overflow:         hidden;
    font-size:        16px;
    text-decoration:  none;
    color:            inherit;
    background-color: inherit;
    cursor:           pointer;
    white-space:      nowrap;
}
.bnd-dropdown-button:hover
{
    color:            black;
    background-color: lightgray; 
}
/* ------------------------------------------------------------ */
/* Vertical navigation bar formatting                           */
/* ------------------------------------------------------------ */
.bnd-sidebar 
{
    height:           80%;
    width:            15%;
    margin-left:      16px;
    background-color: white;
    position:         fixed;
    z-index:          10;
    overflow:         auto;
    box-shadow:       var(--shadow-parameters);
    animation:        animateleft 0.4s;
    display:          none;
}
.bnd-sidebar-contents 
{
    padding:          0.01em 16px;
    color:            black; 
    background-color: gainsboro;
}
.bnd-sidebar-open 
{
    display:          block;
}
/* ------------------------------------------------------------ */
/* Image formatting                                             */
/* ------------------------------------------------------------ */
.bnd-image
{
    width:         100%; 
    height:        auto; 
    border:        4px solid green; 
    border-radius: 16px;
}
.bnd-image-right
{
    width:         50%;
    max-width:     400px; 
    height:        auto; 
    border:        4px solid green; 
    border-radius: 16px;
    float:         right;
    margin-left:   15px;
}
.bnd-image-left
{
    width:         50%;
    max-width:     400px; 
    height:        auto; 
    border:        4px solid green; 
    border-radius: 16px;
    float:         left; 
    margin-right:  20px;
}
.bnd-image-left:hover,
.bnd-image-right:hover,
.bnd-image-thumbnail:hover
{ 
    opacity: 0.60;
}
.bnd-image-thumbnail
{
    max-width:     200px; 
    height:        auto; 
    border:        4px solid green; 
    border-radius: 16px;
    cursor:        pointer;
}
.bnd-image-caption
{
    margin-top:       16px;
    padding:          0px 16px;
    color:            black; 
    background-color: gainsboro;
    border:4px solid  green;
    border-radius:    16px;
    position:         absolute;
    left:             50%;
    top:              0;
    transform:        translate(-50%,0%);
}
/* ------------------------------------------------------------ */
/* Play audio formatting                                        */
/* ------------------------------------------------------------ */
.bnd-play-audio
{
    cursor:pointer;
}
/* ------------------------------------------------------------ */
/* Table formatting                                             */
/* ------------------------------------------------------------ */
.bnd-table
{
    border-collapse: separate; /* Required for sticky headers to work well with borders */
    border-spacing:  0;
    table-layout:    auto;     /* use the browsers automatic table layout algorithm */
    width:           100%;     /* content dictates the width of the table */
    display:         table;
    border:          1px solid lightgray;
    box-shadow:      var(--shadow-parameters);
}
.bnd-table th 
{
    position:         sticky;
    top:              120px;             /* Stick to the bottom edge of the fixed navbar/banner */
    z-index:          20;                /* Ensure table headers are above table body data */
    padding:          12px 8px 12px 8px;
    background-color: slategray;
    display:          table-cell;
    color:            white;
    text-align:       left;
    vertical-align:   top;
}
.bnd-table th:first-child     {padding-left:  16px}
.bnd-table th:last-child      {padding-right: 16px}
.bnd-table tr                 {border-bottom:1px solid gainsboro}
.bnd-table tr:nth-child(odd)  {background-color:white}
.bnd-table tr:nth-child(even) {background-color:gainsboro}
.bnd-table tr:hover           {background-color:gray}
.bnd-table td 
{
    padding:        8px 8px 4px 8px;
    display:        table-cell;
    text-align:     left;
    vertical-align: top;
}
.bnd-table td:first-child{padding-left:  16px}
.bnd-table td:last-child {padding-right: 16px}
.bnd-table-icon
{
    width:      10px;
    text-align: center;
}
/* ------------------------------------------------------------ */
/* Modal formatting                                             */
/* ------------------------------------------------------------ */
.bnd-modal
{
    position:          fixed;            /* Stay in place */
    top:               0;
    left:              0;
    z-index:           30;               /* Sit above the main content */
    width:             100%;             /* Full width */
    height:            100%;             /* Full height */
    padding-top:       140px;            /* Position below navbar and page header */
    background-color: rgba(0,0,0,0.6); /* Gray-out background w/ opacity */
    display:           none;             /* Hidden by default */
    overflow:          auto;             /* Enable scroll if needed */
}
.bnd-modal-content-300,
.bnd-modal-content-400,
.bnd-modal-content-500,
.bnd-modal-content-600,
.bnd-modal-content-700,
.bnd-modal-content-800,
.bnd-modal-content-900,
.bnd-modal-content-1000
{
    position:         relative;
    margin:           auto;
    padding:          0;
    background-color: white;
    background-image: url(../img/leaves.png);
    animation:        animatezoom 0.6s;
}

.bnd-modal-content-300  { width:  300px }
.bnd-modal-content-400  { width:  400px }
.bnd-modal-content-500  { width:  500px }
.bnd-modal-content-600  { width:  600px }
.bnd-modal-content-700  { width:  700px }
.bnd-modal-content-800  { width:  800px }
.bnd-modal-content-900  { width:  900px }
.bnd-modal-content-1000 { width: 1000px }

.bnd-modal-header
{
    /* position */
    position:         sticky; /* Stick to the bottom edge of the fixed navbar/banner */
    top:              0px;    
    z-index:          40;
    /* text */
    text-align:       center;
    /* box model */
    border:           1px solid darkgray;
    padding:          4px 16px;
    background-color: gainsboro;
}
.bnd-modal-image-container
{
    position:      relative;
    top:           20px;
    max-width:     60vw;             /* 60% of the viewport width */
    max-height:    80vh;             /* 80% of the viewport height */
    margin:        auto;             /* horizontally center element */
    animation:     animatezoom 0.6s;
}
.bnd-modal-image
{
    width:         100%;              /* fill the container */
    height:        100%;              /* fill the container */
    object-fit:    cover;             /* crop as necesary to maintain aspect ratio */
    border:        4px solid green; 
    border-radius: 16px;
    box-shadow:    var(--shadow-parameters);
}
.bnd-modal-footer
{
    margin:           0px;
    padding:          16px;
    border:           1px solid darkgray;
    text-align:       center;
    background-color: gainsboro;
}
.bnd-modal-button-bar
{
    margin-top: 16px;
    padding:    0px 16px 16px 16px;
    text-align: center;
}
body.bnd-modal-open 
{
    overflow: hidden; /* Prevents background scrolling */
    height:   100vh;  /* Optional: ensures the body fits the viewport height */
}
.bnd-modal-close    
{
    position: absolute;
    right:    0;
    top:      0;
}
#bloomTable, #beeTable, #butterflyTable, #hummingbirdTable { width: 100%; }
#plants_chart_modal th { top: 100px; }
#plants_chart_modal footer { padding: 0px; }
/* ------------------------------------------------------------ */
/* Slide show formatting                                        */
/* ------------------------------------------------------------ */
.bnd-slideshow-content
{
    margin-left:   auto;
    margin-right:  auto;
    position:      relative;
    max-width:     900px;
}
.bnd-slideshow-controls
{
    position:      absolute;
    left:          50%;
    bottom:        0;
    transform:     translate(-50%,0%);

    font-size:     18px;
    color:         white;
    text-align:    center;
    margin-top:    16px;
    margin-bottom: 16px;
    padding:       0.01em 16px;
    width:         100%;
}
.bnd-slideshow-arrow-left
{
    float:         left;
    cursor:        pointer;
    font-size:     36px;
}
.bnd-slideshow-arrow-right
{
    float:         right;
    cursor:        pointer;
    font-size:     36px;
}
.bnd-slideshow-arrow-left:hover,
.bnd-slideshow-arrow-right:hover
{
    color:       darkgray;
}
.bnd-slideshow-icon
{
    color:         white;
    display:       inline-block;
    padding-left:  8px;
    padding-right: 8px;
    text-align:    center;
    border:        1px solid #ccc;
    border-radius: 50%;
    height:        13px;
    width:         13px;
    padding:       0;
    cursor:        pointer;
}
.bnd-slideshow-icon:hover
{
    color:            black; 
    background-color: darkgray;
}
/* ------------------------------------------------------------ */
/* Monthyly calendar formatting                                 */
/* ------------------------------------------------------------ */
/* Calendar container */
.calendar-container {
    width:       1400px;
    border:      1px solid darkgray;
    box-shadow:  var(--shadow-parameters);
    font-family: chalkboard, verdana, sans-serif;
}
/* Header styling */
.calendar-header 
{
    display:          flex;
    justify-content:  space-between;
    align-items:      center;
    padding:          0px;
    background-color: gainsboro;
    color:            black;
}
/* Weekdays and dates styling */
.calendar-weekdays,
.calendar-dates 
{
    display:               grid;
    grid-template-columns: repeat(7, 1fr);
    text-align:            left;
}
.calendar-weekdays div 
{
    padding:          8px;
    font-weight:      bold;
    background-color: whitesmoke;
}
.calendar-dates div 
{
    padding: 10px;
    border:  1px solid whitesmoke;
}
/* Highlight today's date */
.today 
{
    background-color: orange;
    font-weight:      bold;
}
/* ------------------------------------------------------------ */
/* Garden planner formatting                                    */
/* ------------------------------------------------------------ */
/* opacity and zoom sliders */
.slidecontainer {
    width: 200px; /* Width of the outside container */
}
.slider {
    width:         100%;
    height:        15px;
    border-radius: 5px;  
    outline:       none;
    opacity:       0.7;
    transition:    opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
     opacity: 1; /* Fully shown on mouse-over */
}
/* context menu */
.ctxMenu
{
    position:         fixed;
    display:          none;                       /* Hidden by default */
    background-color: #fff;
    border: 1px solid lightgray;
    box-shadow:       var(--shadow-parameters);
    z-index:          1000;                       /* Ensure it's above other elements */
}
.ctxMenuItem 
{
    padding: 8px 12px;
    cursor:  pointer;
}
.ctxMenuItem:hover 
{
    background-color: whitesmoke;
}
.bnd-background-visible
{
    background: none !important; 
}
/* ------------------------------------------------------------ */
/* Page footer                                                  */
/* ------------------------------------------------------------ */
.bnd-page-footer
{
    width:            100%;
    margin-top:       16px;
    padding:          0.01em 0px;
    text-align:       center;
    color:            white;
    background-color: green;
}
/* ------------------------------------------------------------ */
/* */
/* ------------------------------------------------------------ */
@media (max-width:600px)
{
    .bnd-modal-content
    {
        margin:0 10px;width:auto;
    }
    .bnd-modal
    {
        padding-top:30px
    }
    .bnd-hide-small
    {
        display:none;
    }
}
/* ------------------------------------------------------------ */
/* Animation key frames                                         */
/* ------------------------------------------------------------ */
.bnd-animate-left
{
    position:relative;
    animation:animateleft 0.4s
}
@keyframes opac
{
    from{opacity:0} 
    to  {opacity:1}
}
@keyframes animatezoom
{
    from{transform: scale(0)} 
    to  {transform: scale(1)}
}
@keyframes animateleft
{
    from{left:-300px; opacity:0} 
    to  {left:     0; opacity:1}
}
/* ------------------------------------------------------------ */
/* Text formatting                                              */
/* ------------------------------------------------------------ */
/* Font Sizes */
.bnd-tiny     {font-size:10px!important}
.bnd-small    {font-size:12px!important}
.bnd-medium   {font-size:15px!important}
.bnd-large    {font-size:18px!important}
.bnd-xlarge   {font-size:24px!important}
.bnd-xxlarge  {font-size:36px!important}
.bnd-xxxlarge {font-size:48px!important}
.bnd-jumbo    {font-size:64px!important}
/* Font styles */
.bnd-italic   {font-style: italic}
/* Text Colors */
.bnd-text-white     { color:white  }
.bnd-text-red       { color:red    }
.bnd-text-pink      { color:pink   }
.bnd-text-lightpink { color:lightpink }
.bnd-text-orange    { color:orange }
.bnd-text-yellow    { color:yellow }
.bnd-text-green     { color:green  }
.bnd-text-cyan      { color:cyan   }
.bnd-text-blue      { color:blue   }
.bnd-text-violet    { color:violet }
.bnd-text-purple    { color:purple }
.bnd-text-black     { color:black  }

.bnd-text-outline 
{
    color: #fff; /* Text fill color */
    text-shadow:  1px  1px 0 black, 
                 -1px -1px 0 black, 
                  1px -1px 0 black, 
                 -1px  1px 0 black;
}

/* Background Colors */
.bnd-white       { color:black !important; background-color:#fff    !important }
.bnd-yellow      { color:black !important; background-color:#ffeb3b !important }
.bnd-light-green { color:black !important; background-color:#8bc34a !important }
.bnd-grey        { color:black !important; background-color:gray !important }
.bnd-light-grey  { color:black !important; background-color:#f1f1f1 !important }

.bnd-text-khaki  {color:#b4aa50!important}
/* ------------------------------------------------------------ */
/* Text positioning                                             */
/* ------------------------------------------------------------ */
.bnd-center { text-align:center!important }
/* ------------------------------------------------------------ */
/* Margin formatting                                            */
/* ------------------------------------------------------------ */
.bnd-margin-none   { margin:0           !important }
.bnd-margin        { margin:16px        !important }
.bnd-margin-top    { margin-top:16px    !important }
.bnd-margin-left   { margin-left:16px   !important }
.bnd-margin-bottom { margin-bottom:16px !important }
.bnd-margin-right  { margin-right:16px  !important }
/* ------------------------------------------------------------ */
/* Border formatting                                            */
/* ------------------------------------------------------------ */
.bnd-border        { border:        1px solid #ccc!important }

.bnd-round-small  { border-radius:2px  }
.bnd-round-medium { border-radius:4px  }
.bnd-round-large  { border-radius:8px  }
.bnd-round-xlarge { border-radius:16px }
/* ------------------------------------------------------------ */
/* Padding                                                      */
/* ------------------------------------------------------------ */
.bnd-padding-small  {padding:4px 8px!important}
/* ------------------------------------------------------------ */