/* app/plants/static/plants/css/style.css
   Element Selectors = tag
   Class Selectors   = '.'
   ID Selectors      = '#'

   CSS combinators:
   > descendant selector (space)
   > child selector (>)
   > adjacent sibling selector (+)
   > general sibling selector (~)
*/
/* ----------------------- */
/* Global formatting */
/* ----------------------- */
*, *:before, *:after{box-sizing:inherit}
/* ----------------------- */
/* HTML element formatting */
/* ----------------------- */
html
{
    box-sizing:border-box;
    font-family:Verdana,sans-serif;
    font-size:16px;
    line-height:1.5;
    overflow-x:hidden
}
body
{
    font-family:chalkboard, verdana, sans-serif;
    font-size:16px;
    line-height:1.5
}
h1,h2,h3,h4,h5,h6
{
    font-family: chalkboard, verdana, sans-serif;
    font-weight:400;
    margin:10px 0
}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
p 
{
    font-family: chalkboard, verdana, sans-serif;
    font-size: large;
}
a 
{
    cursor:pointer
}
th 
{
    cursor:pointer
}
button
{
    font:inherit;
    margin:0;
    overflow:visible;
    text-transform:none
}
hr {
    display: block;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
img
{
    vertical-align:middle;
    border-style:none
}
/* ----------------------- */
/* Class formatting        */
/* ----------------------- */
/* bnd-container */
.bnd-container
{
    padding:0.01em 16px
}
.bnd-container:after, 
.bnd-container:before
{
    content:"";
    display:table;
    clear:both
}
/* bnd-display-container */
.bnd-display-container      {position:relative}
.bnd-display-container:hover{display:block}
/* bnd-section */
.bnd-section
{
    margin-top:16px!important;
    margin-bottom:16px!important
}
/* bnd-content-main */
.bnd-content-main-100 { margin-top: 100px; }
.bnd-content-main-120 { margin-top: 120px; }
/* bnd-content */
.bnd-content
{
    margin-left:auto;
    margin-right:auto;
    max-width:980px;
}
/* bnd-row */
.bnd-row:after,
.bnd-row:before
{
    content:"";
    display:table;
    clear:both
}
/* bnd-row-padding */
.bnd-row-padding:after,
.bnd-row-padding:before
{
    content:"";
    display:table;
    clear:both
}
.bnd-row-padding,
.bnd-row-padding > .bnd-quarter,
.bnd-row-padding > .bnd-col
{
    padding:0 8px
}
/* bnd-col */
.bnd-col
{
    float:left;
    width:100%
}
.bnd-col.s4{width:33.33333%}
/* bnd-left */
.bnd-left
{
    float:left!important
}
/* bnd-center */
.bnd-center
{
    text-align:center!important
}
/* bnd-right */
.bnd-right
{
    float:right!important
}
/*  */
.bnd-block
{
    display:block;
    width:100%
}
.bnd-bar-block.bnd-center
{
    text-align:center
}
/* bnd-hover-opacity */
.bnd-hover-opacity:hover
{
    opacity:0.60
}
/* bnd-input */
.bnd-input
{
    padding:8px;
    display:block;
    border:1px solid #ccc!important;
    width:100%;
    cursor:pointer
}
/* bnd-select */
.bnd-select
{
    padding:9px 0;
    width:100%;
    border:none;
    border-bottom:1px solid #ccc
}
/* bnd-tag */
.bnd-tag
{
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center
}
/* bnd-badge */
.bnd-badge
{
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
    border-radius:50%;
    height:13px;
    width:13px;
    padding:0;
    cursor:pointer
}
/* bnd-quarter */
.bnd-quarter
{
    float:left;
    width:100%
}
@media (min-width:601px)
{
    .bnd-quarter{width:24.99999%}
}
.bnd-row-padding > .bnd-quarter { padding: 0 8px }

/* bnd-card-4 */
.bnd-card,
.bnd-card-2
{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.bnd-card-4
{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
/*  */
.bnd-display-topleft     {position:absolute;left:  0;top:0}
.bnd-display-topmiddle   {position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.bnd-display-topright    {position:absolute;right: 0;top:0}
.bnd-display-right       {position:absolute;top: 50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.bnd-display-bottomright {position:absolute;right: 0;bottom:0}
.bnd-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.bnd-display-bottomleft  {position:absolute;left:  0;bottom:0}
.bnd-display-left        {position:absolute;top: 50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}

.bnd-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
/* bnd-modal */
.bnd-modal
{
    z-index:     1;      /* Sit on top */
    display:     none;   /* Hidden by default */
    padding-top: 100px;
    position:    fixed;  /* Stay in place */
    left:0;
    top:0;
    width:        100%;  /* Full width */
    height:       100%;  /* Full width */
    overflow:     auto;  /* Enable scroll if needed */
    background-color:rgb(0,0,0);      /* Fallback color */
    background-color:rgba(0,0,0,0.4); /* Black w/ opacity */
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
/* bnd-modal-content */
.bnd-modal-content
{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:1000px
}

/* Tool Tip */
.bnd-tooltip 
{
    position: relative;
    display: inline-block;
    cursor: pointer;  
}
.bnd-tooltip-text 
{
    visibility: hidden;
    background-color: black;
    font-size:16px;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 4px 8px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 2s;
}

.bnd-tooltip:hover .bnd-tooltip-text 
{
    visibility: visible;
    opacity: 1;
}
/* bnd-animate-opacity */
.bnd-animate-opacity
{
    animation:opac 0.8s
}
@keyframes opac
{
    from{opacity:0} 
    to  {opacity:1}
}
/* bnd-animate-zoom */
.bnd-animate-zoom
{
    animation:animatezoom 0.6s
}
@keyframes animatezoom
{
    from{transform:scale(0)} 
    to  {transform:scale(1)}
}
.bnd-animate-left
{
    position:relative;
    animation:animateleft 0.4s
}
@keyframes animateleft
{
    from{left:-300px;opacity:0} 
    to  {left:0;opacity:1}
}
/* bnd-sidebar */
.bnd-sidebar
{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto
}
/* Padding */
.bnd-padding-none   {padding:0!important}
.bnd-padding-small  {padding:4px 8px!important}
.bnd-padding-medium {padding:8px 16px!important}
.bnd-padding-large  {padding:12px 24px!important}
.bnd-padding-16     {padding-top:16px!important;padding-bottom:16px!important}
.bnd-padding-24     {padding-top:24px!important;padding-bottom:24px!important}
.bnd-padding-32     {padding-top:32px!important;padding-bottom:32px!important}
.bnd-padding-48     {padding-top:48px!important;padding-bottom:48px!important}
.bnd-padding-64     {padding-top:64px!important;padding-bottom:64px!important}
.bnd-padding-top-64 {padding-top:64px!important}
.bnd-padding-top-48 {padding-top:48px!important}
.bnd-padding-top-32 {padding-top:32px!important}
.bnd-padding-top-24 {padding-top:24px!important}

/* Border formating */
.bnd-border        { border:        1px solid #ccc!important }
.bnd-border-0      { border:        0               !important}

.bnd-border-top    { border-top:    1px solid #ccc!important }
.bnd-border-bottom { border-bottom: 1px solid #ccc!important }
.bnd-border-left   { border-left:   1px solid #ccc!important }
.bnd-border-right  { border-right:  1px solid #ccc!important }

.bnd-round-small  { border-radius:2px  }
.bnd-round-medium { border-radius:4px  }
.bnd-round-large  { border-radius:8px  }
.bnd-round-xlarge { border-radius:16px }
/* Margins */
.bnd-margin-none   { margin:0          !important }
.bnd-margin        { margin:16px        !important }
.bnd-margin-top    { margin-top:16px    !important }
.bnd-margin-left   { margin-left:16px   !important }
.bnd-margin-bottom { margin-bottom:16px !important }
.bnd-margin-right  { margin-right:16px  !important }
/*  */
.bnd-transparent { background-color:transparent!important }
/* Text Colors */
.bnd-white       { color:#000 !important; background-color:#fff    !important }
.bnd-yellow,     .bnd-hover-yellow:hover      { color:#000 !important; background-color:#ffeb3b !important }
.bnd-light-green,.bnd-hover-light-green:hover { color:#000 !important; background-color:#8bc34a !important }
.bnd-green,      .bnd-hover-green:hover       { color:#fff !important; background-color:#4CAF50 !important }
.bnd-red         { color:#fff !important; background-color:#f44336 !important }
.bnd-grey        { color:#000 !important; background-color:#9e9e9e !important }
.bnd-light-grey  { color:#000 !important; background-color:#f1f1f1 !important }

.bnd-hover-white:hover { color:#000 !important; background-color:#fff !important }

.bnd-text-white  { color:#fff !important }
.bnd-text-black  { color:#000 !important }
.bnd-text-khaki, .bnd-hover-text-khaki:hover{color:#b4aa50!important}
/* Font Sizes */
.bnd-tiny     {font-size:10px!important}
.bnd-small    {font-size:12px!important}
.bnd-medium   {font-size:15px!important}
.bnd-large    {font-size:18px!important}
.bnd-xlarge   {font-size:24px!important}
.bnd-xxlarge  {font-size:36px!important}
.bnd-xxxlarge {font-size:48px!important}
.bnd-jumbo    {font-size:64px!important}
/* bnd-banner */
.bnd-banner
{
    color: white; 
    font-family: chalkboard, verdana, sans-serif;
}
/* bnd-top */
.bnd-top
{
    position:fixed;
    width:100%;
    z-index:1;
    top:0
}
/* bnd-bar */
.bnd-bar
{
    width:100%;
    overflow:hidden
}
.bnd-center .bnd-bar
{
    display:inline-block;
    width:auto
}
/* bnd-bar-item */
.bnd-bar .bnd-bar-item
{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
.bnd-bar-block .bnd-bar-item
{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.bnd-bar-block .bnd-center .bnd-bar-item
{text-align:center}

/* bnd-dropdown-hover/click */
.bnd-dropdown-hover,
.bnd-dropdown-click
{
    position:relative;
    display:inline-block;
    cursor:pointer
}
.bnd-dropdown-hover:hover 
.bnd-dropdown-content
{
    display:block
}
.bnd-dropdown-hover:first-child,
.bnd-dropdown-click:hover
{
    background-color:#ccc;
    color:#000
}
.bnd-bar .bnd-dropdown-hover,
.bnd-bar .bnd-dropdown-click
{
    position:static;
    float:left
}
.bnd-bar-block .bnd-dropdown-hover,
.bnd-bar-block .bnd-dropdown-click
{
    width:100%
}
/* bnd-dropdown-content */
.bnd-dropdown-content
{
    cursor:auto;
    color:#000;
    background-color:#fff;
    display:none;
    position:absolute;
    min-width:160px;
    margin:0;
    padding:0;
    z-index:1
}
.bnd-bar-block .bnd-dropdown-hover .bnd-dropdown-content,
.bnd-bar-block .bnd-dropdown-click .bnd-dropdown-content
{
    min-width:100%
}
/* bnd-bar-item */
.bnd-bar-block .bnd-bar-item
{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}
.bnd-bar-block.bnd-center .bnd-bar-item
{
    text-align:center
}
/* bnd-table-all */
.bnd-table-all
{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table;
    border:1px solid #ccc
}
/* th */
.bnd-table-all th 
{
    padding:8px 8px;
    display:table-cell;
    text-align:left;
    vertical-align:top
}
.bnd-table-all th:first-child     {padding-left:16px}
/* tr */
.bnd-table-all tr                 {border-bottom:1px solid #ddd}
.bnd-table-all tr:nth-child(odd)  {background-color:#fff}
.bnd-table-all tr:nth-child(even) {background-color:#f1f1f1}
.bnd-hoverable tbody tr:hover     {background-color:#ccc}

/* td */
.bnd-table-all td 
{
    padding:8px 8px;
    display:table-cell;
    text-align:left;
    vertical-align:top
}
.bnd-table-all td:first-child      {padding-left:16px}
/* Button */
.bnd-button
{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
.bnd-button-small
{
    border:none;
    display:inline-block;
    padding:0;
    margin:0;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
.bnd-button:hover
{
    color:#000!important;
    background-color:#ccc!important
}
.bnd-button:disabled
{
    cursor:not-allowed;
    opacity:0.3
}
.bnd-bar .bnd-button
{
    white-space:normal
}
.bnd-bar-block .bnd-dropdown-hover .bnd-button,
.bnd-bar-block .bnd-dropdown-click .bnd-button
{
    width:100%;
    text-align:left;
    padding:8px 16px
}
.bnd-dropdown-hover:hover > .bnd-button:first-child,
.bnd-dropdown-click:hover > .bnd-button:first-child
{
    background-color:#ccc;
    color:#000
}
/* */
@media (max-width:600px)
{
    .bnd-modal-content
    {
        margin:0 10px;width:auto!important
    }
    .bnd-modal
    {
        padding-top:30px
    }
    .bnd-hide-small
    {
        display:none!important
    }
}
/*  */
.bnd-cursor-hand:hover {cursor:pointer}
.bnd-cursor-help:hover {cursor:help}